{% extends "base.html" %} {% block main %}

<div class="full-background rest">
	
		<div class="top-bar">
			<div class="bar-background"></div>
			<div class="menu-button">
				<button class="img-btn" id="menu-button"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">{{user.first_name}} </div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable" id="left-menu" style="display: none;">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h3 class="text-bold user-name"> {{user.first_name}}</h3>
				<div class="clear-float"></div>
			</div>
		
			<ul class="menu-items">
				{% if user.role == 'admin' %}
					<li><button class="img-btn" id="new-rest">{{ lang['rest_new'] }}</button></li>
				{% endif %}
				{% if user.role == 'admin' or place.owner == user.key %}
					<li><button class="img-btn" id="edit">{{ lang['rest_edit']}}</button></li>
					<li class="separation"></li>
				{% endif %}
					<li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li>
				{% if place.owner == user.key %}
				<li><button class="img-btn" id="disc_list">{{ lang['discount_list_all']}}</button></li>
					<li><button class="img-btn" id="change_rest">{{ lang['change_rest']}}</button></li>
				{% endif %}
				{% if place.owner != user.key %}
					<li><button class="img-btn" id="coupons">{{ lang['my_coupons']}}</button></li>
					<li><button class="img-btn" id="rate-more">{{ lang['rate_more']}}</button></li>
					<li><button class="img-btn" id="near-me">{{ lang['near_me']}}</button></li>
				{% endif %}
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>
	
		</div>
	
		<div class="discount-container">
			<h2 class="center-text">{{place.name}}</h2>
			
			<div class="discounts"><p>{{lang['loading']}}...</p></div>
			
			<div class="info">
			{% if place.address %}
				<div class="icon-address"></div>
				<p class="iconed black-text">{{place.address.street}}, {{place.address.city}} ({{place.address.province}}, {{place.address.country}})</p>
				{% endif %}
				
				{% if place.phone %}
				<div class="icon-phone"></div>
				<p class="iconed black-text">{{place.phone}}</p>
				{% endif %}
				
				{% if place.hours %}
				<div class="icon-hours"></div>
				<p class="iconed black-text">{{ lang['rest_opening_hours'] }}: 
				{% for h in place.hours %}
					<p class="day black-text">
					{% if h.weekday == '1' %}
						{{ lang['opening_mon']}}:
					{% elif h.weekday == '2' %}
						{{ lang['opening_tue']}}:
					{% elif h.weekday == '3' %}
						{{ lang['opening_wed']}}:
					{% elif h.weekday == '4' %}
						{{ lang['opening_thu']}}:
					{% elif h.weekday == '5' %}
						{{ lang['opening_fri']}}:
					{% elif h.weekday == '6' %}
						{{ lang['opening_sat']}}:
					{% elif h.weekday == '7' %}
						{{ lang['opening_sun']}}:
					{% endif %}
					
					{{ '%s-%s'|format(h.open1, h.close1) if h.open1 and h.close1 else lang['rest_closed_wday']}}
					{{ ', %s-%s'|format(h.open2, h.close2) if h.open2 and h.close2 }}
					
					</p>
				{% endfor %}
				</p>
				{% endif %}
				
				{% if place.days_closed %}
				<div class="icon-closed"></div>
				<p class="iconed black-text">{{ lang['rest_closed'] }}: 
					{% for d in place.days_closed %}
						{{ d }}{% if loop.index != loop.length %}, {% endif %}
					{% endfor %}	
				</p>
				{% endif %}
				
				{% if place.website %}
				<div class="icon-web"></div>
				<p class="iconed black-text rest-clickable" onclick="window.open('{{place.website}}');">{{place.website}}</p>
				{% endif %}
				
				{% if place.email %}
				<div class="icon-email"></div>
				<p class="iconed black-text">{{place.email}}</p>
				{% endif %}
			</div>
			
			<div class="rest-left">
				<div class="picture" style="background-image: url(/static/images/empty_small.png)"></div>
				
			</div>
			
			<div class="rest-right">
				<div class="rest-map">
					<img style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={{place.address.lat}},{{place.address.lon}}&zoom=16&size=700x300&maptype=roadmap&markers=color:red%7Clabel:C%7C{{place.address.lat}},{{place.address.lon}})" >
				</div>
				<a class="map-link" href="https://www.google.com/maps?q={{place.address.lat}},{{place.address.lon}}&ll={{place.address.lat}},{{place.address.lon}}&z=17" target="_new">Open in Google Maps</a>
			</div>
		
			<div class="clear-float"></div>
			<p class="black-text desc">{{place.description}}</p>			
			<div class="popup-area"></div>
		</div>
</div>

{% endblock %} {% block scripts %}
<!-- <script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script> -->
<!-- <script src="/static/js/enquire.min.js"></script> -->
<script type="text/javascript">

	$(window).load(function() {
		
		var user_role = "{{user.role if not user.role is none}}";
		var owner = false;
		if (user_role == 'owner'){
			owner = true;
		}
		
		var rest_picture = '{{place.picture if not place.picture is none}}';
		$('.picture').css('background-image','url('+ rest_picture +')')
		
		var userpic = "{{ user.picture|e }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		} 
		
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.left-menu.scrollable').enscroll({
			
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});
		
		function create_coupon(key){
			$.ajax({
				type : 'POST',
				url : '/api/discount/'+key+'/coupon',
				body : '{}',
				success : function(coupon) {
					if(window.console){
						console.log('Coupon created: ' + JSON.stringify(coupon));
					}
					window.location = '/discount?id=' + key;
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					if(resp.status == 409){
						alert('{{ lang['already_have_coupon']}}');
					} else {
						if(resp.status == 403){
							show_error({{lang['unauthorized_error']|safe}});
						} else if(resp.status == 409){
							show_error({{lang['already_have_coupon_error']|safe}});
						} else {
							show_error({{lang['coupon_get_error']|safe}});
						}
					}
					
				}
			});
		};
		
		function loadDiscounts(){
			$.ajax({
				type : 'GET',
				url : '/api/discount?place={{place.key|e}}&published=true&passed=false',
				success : function(data) {
					discounts = data;
					
					if(discounts == null || discounts.length < 1){
						$('.discounts').html('{{lang['no_discounts']}}');
					} else {
						//load underscore template
						var xmlhttp = new XMLHttpRequest();
						xmlhttp.open("GET","/static/js_templates/discount_list.ejs",false);
						xmlhttp.send(null);
						var template = xmlhttp.responseText;
						var compiled = _.template(template);
						
						var html = compiled({
							discounts : discounts, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: owner, actions: false, available: true
						});
						$('.discounts').html(html);
						$('.countdown').each(function(){
							var end = $(this).attr('end-time');
							var diff = Math.floor((new Date(moment(end)) - new Date())/1000);
							$(this).countdown({
								until: '+'+diff+'s',
								format: 'dHMS',
								significant: 2,
								layout: '{d<}{dn} {dl} {d>}{h<}{hn} {hl} {h>}{m<}{mn} {ml} {m>}{s<}{sn} {sl}{s>}',
								{% if lang_name == 'it' %}
									labels: ['anni', 'mesi', 'settimane', 'giorni', 'ore', 'minuti', 'secondi'],
									labels1: ['anno', 'mese', 'settimana', 'giorno', 'ora', 'minuto', 'secondo'],
								{% else %}
									labels: ['years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds'],
									labels1: ['year', 'month', 'week', 'day', 'hour', 'minute', 'second'],
								{% endif %}
							});
							
						});
						
						$('.disc-item .desc').click(function(){
							var disc_id = $(this).attr('discount-id');
							window.location = '/discount?id=' + disc_id;
						});
						
						$('.buy').click(function(){
							var key = $(this).attr('discount-id');
							create_coupon(key);
						});
						
						$('.see').click(function(){
							var key = $(this).attr('discount-id');
							window.location = '/discount?id=' + key;
						});
					}
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					if(resp.status == 403){
						show_error({{lang['unauthorized_error']|safe}});
					} else {
						show_error({{lang['discount_list_load_error']|safe}});
					}
				}
			}); 
		}
		
		loadDiscounts();
		
		
		
		$('.menu-items #edit').click(function(){
			window.location = '/restaurant/edit?id={{place.key|e}}';
		});
		
		$('#disc_list').click(function(){
			window.location = '/discount/list?rest_id={{place.key|e}}';
		});
		
		$('#change_rest').click(function(){
			window.location = '/owner/list';
		});
		
		$('#coupons').click(function(){
			window.location = '/my-coupons';
		});
		
		$('#new-rest').click(function(){
			window.location = '/restaurant/new';
		});
		$('#rate-more').click(function(){
			window.location = '/ratings';
		});
		$('#near-me').click(function(){
			window.location = '/letsgo';
		});
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					show_error({{lang['logout_error']|safe}});
				}
			});
		});
		
		/* enquire.register("screen and (max-width:500px)", {
			match : function() {
				$('.picture').insertAfter('.rest-left');
				$('.rest-right').insertAfter('.picture');
			}, 
			
		}); */
		
		$('.user-menu, .user-menu-small, #profile').click(function(){
			window.location = '/profile';
		});
		
		
	});
</script>


{% endblock %}