body {
	font-size: 10pt;
	font-family: "Lato";
	color: #DC3D3D;
	margin: 0;
	overflow: auto;
	min-height: 100%;
	background-color: #F7F8CD;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 5px;
}

.text-bold {
	font-weight: 700; /* or 900, if more. Other weights are not provided */
}

a.title{
	text-decoration: none;
	color: #DC3D3D;
}

a.title:hover{
	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	filter: brightness(120%);
}

a.title:active{
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.center-text {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

form {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.img-btn:not(.disabled ):hover {
	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	filter: brightness(120%);
}

.img-btn:not(.disabled ):active {
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

button {
	outline: 0;
	border: 0;
	box-shadow: none;
	background: transparent;
	-webkit-appearance: button;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	/* color: white;
	background-color: #DC3D3D;
	line-height: 1.3em; */
	cursor: pointer;
}

.red-button, input[type=button], input[type=submit] {
	outline: 0;
	border: 0;
	box-shadow: none;
	background: transparent;
	-webkit-appearance: button;
	/* background-image: url(../images/btn.png); */
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-color: #DC3D3D;
	border-right: solid 1px #842525;
	border-bottom: solid 2px #842525;
	color: white;
	line-height: 1.3em;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12pt;
}

input[type=text], input[type=number], select {
	outline: 0;
	border: 0;
	font-size: 12pt;
	line-height: 1.3em;
	border-bottom: solid 2px #DC3D3D;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.6);
	/* color: #DC3D3D; */
	width: 90%;
}

textarea {
	outline: 0;
	border: 0;
	font-size: 13pt;
	line-height: 1.3em;
	border-bottom: solid 2px #DC3D3D;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.6);
	/* color: #DC3D3D; */
	width: 90%;
}

button.disabled {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.clickable {
	cursor: pointer;
}

.clickable:not(.disabled ):hover {
	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	filter: brightness(120%);
}

.clickable:not(.disabled ):active {
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

/* SCROLL BAR */
.scrollable, .popup-scrollable {
	max-height: 75%;
	overflow: hidden;
	/* margin-bottom: 10px; */
}

.track-red {
	width: 7px;
	background: rgba(220, 61, 61, 0.15);
	margin-right: 2px;
	border-radius: 10px;
	-webkit-transition: background 200ms linear;
	transition: background 200ms linear;
}

.track-red:hover, .track-red.dragging {
	background: #DC3D3D;
	background: rgba(220, 61, 61, 0.35);
}

.handle-red {
	width: 7px;
	right: 0;
	background: #DC3D3D;
	background: rgba(220, 61, 61, 0.8);
	border-radius: 7px;
	-webkit-transition: width 200ms;
	transition: width 200ms;
}

.track-white {
	width: 7px;
	background: rgba(255, 255, 255, 0.15);
	margin-right: 2px;
	border-radius: 10px;
	-webkit-transition: background 200ms linear;
	transition: background 200ms linear;
}

.track-white:hover, .track-white.dragging {
	background: white;
	background: rgba(255, 255, 255, 0.35);
}

.handle-white {
	width: 7px;
	right: 0;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 7px;
	-webkit-transition: width 200ms;
	transition: width 200ms;
}

/* SCROLL BAR END */

/* TOOLTIP */
.my-tooltip {
	padding: 10px 20px;
	color: white;
	background: #DC3D3D;
	max-width: 150px;
	font-size: 10pt;
	border: 0;
}

/* TOOLTIP END */

/* POPUP */
.popup-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(220, 220, 220, 0.7);
	z-index: 300;
}

.popup-foreground {
	position: fixed;
	top: 25px;
	bottom: 25px;
	left: 25px;
	right: 25px;
	background-color: #F7F8CD;
	z-index: 310;
	border: solid 2px #DC3D3D;
	/* border-radius: 24px; */
	padding: 15px;
}

.popup-foreground h3 {
	margin-top: 10px;
	margin-left: 10px;
}

.close {
	background-color: transparent;
	background-image: url(../images/close.png);
	float: right;
	width: 32px;
	height: 32px;
}

/* POPUP END */

/* LOADING */
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(220, 220, 220, 0.9);
	/* background-image: url(../images/ajax-loader.gif); */
	/* background-position: center center;
	background-repeat: no-repeat; */
	z-index: 200;
}

.loading img {
	display: block;
	width: 100px;
	height: 100px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.loading .loading-message {
	text-align: center;
	color: #000;
	font-size: 16px;
}

/* LOADING END */

/* HOME PAGE */
.full-background.home {
	background-image: url(../images/home_background.png);
	position: fixed;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1;
}

.home-container {
	position: relative;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 100%;
	height: 500px;
	max-height: 80%;
	text-align: center;
}

.home-logo {
	max-height: 100%;
	max-width: 80%;
	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-image: url(../images/home_logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	z-index: 10;
}

.home-logo-bg {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background-color: #EBEBEB;
	width: 100%;
	max-height: 33%;
	height: 167px;
	z-index: 1;
}

.login {
	position: absolute;
	left: 50%;
	bottom: 5%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: 1000;
	width: 179px;
	max-width: 29%;
	height: 167px;
	max-height: 29%;
}

.login h4 {
	margin-top: 5px;
	font-size: 16pt;
}

.login .google-btn {
	display: inline-block;
	padding: 2px;
	width: 64px;
	height: 64px;
	max-width: 40%;
	max-height: 40%;
	background-image: url(../images/google.png);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.login .fb-btn {
	display: inline-block;
	padding: 2px;
	margin-left: 4px;
	width: 64px;
	height: 64px;
	max-width: 40%;
	max-height: 40%;
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
	background-position: left;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	width: 64px;
}

/* HOME PAGE END */

/* PROFILE PAGE */
/* .full-background.profile {
	background-image: none;
	background-color: #F7F8CD;
} */

/* .profile-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
} */


.profile-picture{
	width: 90px;
	height: 90px;
	float: left;
	margin: 5px;
	margin-right: 15px;
	border: solid 1px #DC3D3D;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.step {
	margin-top: 30px;
	position: absolute;
	right: 5px;
	margin: 5px;
	padding: 5px;
	width: 32px;
	height: 32px;
	font-size: 10pt;
	color: white;
	text-align: center;
	background-image: url(../images/red_circle.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.profile-logo {
	width: 190px;
	height: 70px;
	background-image: url(../images/logo_02.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-label, .form-input, .city-search label, .city-search .input {
	width: 100%;
	text-align: left;
	display: block;
	padding-left: 10px;
	margin-top: 15px;
	font-size: 11pt;
}

.form-input .radio-inline {
	position: relative;
}

.form-explanation {
	font-size: smaller;
}

.save {
	text-align: center;
	margin-top: 10px;
	margin-left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

/* PROFILE PAGE END */

/* PROFILE RATINGS */
ul.rest-list, ul.rest-create-list {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}

li.rest-item {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 2px #DC3D3D;
	padding-right: 15px;
}

.rest-item div.rest-details {
	display: block;
	width: 100%;
	margin-top: 10px;
}

.rest-item .rest-details .name, .letsgo .rest-details .name {
	font-size: 13pt;
	margin-bottom: 0;
}

.rest-item .rest-details .address {
	margin: 0 0 5px 0;
}

.rest-item .rest-details .rest-image {
	width: 300px;
	height: 200px;
}

.rest-item div.rest-ratings {
	display: block;
	width: 100%;
	margin-top: 15px;
}

.rest-item .purpose-buttons {
	margin-bottom: 10px;
	margin-left: 10px;
}

.rest-item .purpose-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.rest-item button.rating-btn {
	width: 32px;
	height: 32px;
	margin-right: 5px;
	background-color: transparent;
}

.rest-item .rating-btn.noidea {
	background-image: url(../images/ratings/noidea.png);
}

.rest-item .rating-btn.noidea.selected {
	background-image: url(../images/ratings/noidea_selected.png);
}

.rest-item .rating-btn.noidea:hover {
	background-image: url(../images/ratings/noidea_selected.png);
}

.rest-item .rating-btn.noidea:active {
	background-image: url(../images/ratings/noidea_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.rest-item .rating-btn.bad {
	background-image: url(../images/ratings/bad.png);
}

.rest-item .rating-btn.bad.selected {
	background-image: url(../images/ratings/bad_selected.png);
}

.rest-item .rating-btn.bad:hover {
	background-image: url(../images/ratings/bad_selected.png);
}

.rest-item .rating-btn.bad:active {
	background-image: url(../images/ratings/bad_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.rest-item .rating-btn.neutral {
	background-image: url(../images/ratings/neutral.png);
}

.rest-item .rating-btn.neutral.selected {
	background-image: url(../images/ratings/neutral_selected.png);
}

.rest-item .rating-btn.neutral:hover {
	background-image: url(../images/ratings/neutral_selected.png);
}

.rest-item .rating-btn.neutral:active {
	background-image: url(../images/ratings/neutral_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.rest-item .rating-btn.happy {
	background-image: url(../images/ratings/happy.png);
}

.rest-item .rating-btn.happy.selected {
	background-image: url(../images/ratings/happy_selected.png);
}

.rest-item .rating-btn.happy:hover {
	background-image: url(../images/ratings/happy_selected.png);
}

.rest-item .rating-btn.happy:active {
	background-image: url(../images/ratings/happy_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.navigation-buttons .continue {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.navigation-buttons .next {
	width: 32px;
	height: 32px;
	float: right;
	display: block;
	color: #DC3D3D;
	/* text-align: right; */
	/* margin-top: 10px; */
	margin-right: 20px;
	margin-bottom: 10px;
	/* padding-right: 45px; */
	background-color: transparent;
	background-image: url(../images/arrows/arrow_right.png);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.navigation-buttons .prev {
	width: 32px;
	height: 32px;
	float: left;
	display: block;
	color: #DC3D3D;
	/* text-align: left; */
	/* margin-top: 10px; */
	margin-left: 20px;
	margin-bottom: 10px;
	/* padding-left: 45px; */
	background-color: transparent;
	background-image: url(../images/arrows/arrow_left.png);
	background-repeat: no-repeat;
	background-position: left;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.navigation-buttons .next:not(.disabled ):hover {
	text-decoration: underline;
	background-image: url(../images/arrows/arrow_right_hover.png);
}

.navigation-buttons .prev:not(.disabled ):hover {
	text-decoration: underline;
	background-image: url(../images/arrows/arrow_left_hover.png);
}

.navigation-buttons .next:not(.disabled ):active {
	text-decoration: underline;
	background-image: url(../images/arrows/arrow_right_hover.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.navigation-buttons .prev:not(.disabled ):active {
	text-decoration: underline;
	background-image: url(../images/arrows/arrow_left_hover.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

/* PROFILE RATINGS END */

/* RATINGS */
.ratings #city, .ratings #name-input {
	width: 70%;
}

.create-places {
	border: solid 1px #DC3D3D;
	width: 70%;
	margin: 10px auto 5px auto;
	padding: 5px;
}

.ratings .filters {
	display: block;
	width: 100%;
	max-width: 750px;
	padding: 10px;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
}

.ratings .rest-list {
	display: block;
	width: 100%;
	max-width: 750px;
	padding: 10px;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
}

.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
	height: 150px;
}

.ui-widget {
	font-family: "Lato"; font-size : 1em;
	margin-bottom: 10px;
	font-size: 1em;
}

.search-name {
	background-image: url(../images/search.png);
	width: 32px;
	height: 32px;
}

.name-input-block {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.name-input-block input, .name-input-block button {
	display: inline-block;
}

.map-search-label {
	padding-top: 5px;
	padding-bottom: 5px;
}

.map-search {
	width: 90%;
	height: 250px;
	margin: 0 auto;
	/* margin: 10px; */
}

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 75%;
	/* font-family: Roboto;
	font-size: 15px;
	font-weight: 300; */
	text-overflow: ellipsis;
	margin-left: 15px;
}

.city-search .input input {
	width: 100%;
}

.my-input-text {
	margin-bottom: 10px;
	width: 400px;
	max-width: 90%;
}

/* RATINGS END */

/* LETS GO */
/* .full-background.letsgo {
	background-image: url(../images/empty_big.png);
} */

.top-bar {
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	width: 100%;
	height: 50px;
	background-color: #DC3D3D;
	border-bottom: solid 2px #881e1e;
	z-index: 1;
}

.rest-logo {
	position: fixed;
	top: 5px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	display: block;
	z-index: 9;
	height: 40px;
	width: 200px;
	max-width: 50%;
	background-image: url(../images/logo_white.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	z-index: 11;
}

.top-bar .menu-button {
	height: 50px;
	max-width: 30%;
	position: fixed;
	top: 5px;
	left: 20px;
	z-index: 11;
}

.top-bar .refresh-button button {
	height: 32px;
	width: 32px;
	position: fixed;
	top: 9px;
	right: 20px;
	z-index: 11;
	background-image: url(../images/refresh.png);
}

.top-bar .menu-button button {
	width: 32px;
	height: 32px;
	margin-top: 4px;
	/* background-color: #DC3D3D; */
	background-image: url(../images/menu_btn.png);
	float: left;
}

.top-bar .menu-button .user-menu-small {
	z-index: 11;
	display: none; /* this is hidden in small screens */
} 

.top-bar .menu-button .user-menu-small .user-picture {
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	position: fixed;
	top: 5px;
	left: 60px;
	width: 40px;
	height: 40px;
	float: left;
	border: solid 2px white;
	border-radius: 24px;
}

.top-bar .menu-button .user-name {
	color: white;
	float: left;
	position: fixed;
	top: 2px;
	left: 110px;
}

.letsgo-rest-list {
	list-style: none;
	width: 320px;
	max-width: 100%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.letsgo-rest-item {
	display: inline-block;
	border: solid 1px #DC3D3D;
	background-color: #fff;
	width: 310px;
	max-width: 100%;
	margin: 10px;
	
}

.letsgo-rest-item .rest-image {
	width: 300px;
	height: 200px;
	margin: 5px;
}

.letsgo-rest-item .rest-info {
	padding: 0 10px 10px 10px;
}

.letsgo-rest-item .rest-info .name, .letsgo-rest-item .discount .title {
	font-size: larger;
}

.letsgo-rest-item ul.discounts{
	list-style: none;
	margin: 5px;
	padding: 0px;
}

.letsgo-rest-item .discount {
	background-color: #ffdebe;
	padding: 10px;
	border-bottom: dashed 1px #ff9d3e;
}

.letsgo-rest-item .discount.no-border{
	border: 0px;
}








/* .letsgo .rest-details {
	width: 240px;
	max-width: 60%;
	padding-left: 25px;
	padding-right: 25px;
	background-image: url(../images/rest_back_white.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: 10;
}

.letsgo .disc-details{
	width: 240px;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 60%;
	background-image: url(../images/rest_back_white_down.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	top: 55;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: 10;
}

.letsgo .rest-details .first {
	margin-top: 10px;
	margin-bottom: -5px;
}

.letsgo .rest-details .prev {
	position: absolute;
	bottom: 15px;
	left: -50px; 
	width: 50px;
	height: 75px;
	left: -40px;
	width: 40px;
	height: 60px;
	background-color: transparent;
	background-image: url(../images/red_arrow_left.png);
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.letsgo .rest-details .next {
	position: absolute;
	bottom: 15px;
	right: -50px; 
	width: 50px;
	height: 75px;
	right: -40px;
	width: 40px;
	height: 60px;
	background-color: transparent;
	background-image: url(../images/red_arrow_right.png);
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}
 */
.letsgo .left-menu, .rest .left-menu {
	width: 250px;
	max-width: 80%;
	/* max-height: 95%; */
	color: white;
	background: rgba(220, 61, 61, 1);
	position: fixed;
	top: 50px;
	left: 0;
	padding-top: 10px;
	z-index: 11;
}

.user-menu .user-picture {
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	width: 48px;
	height: 48px;
	margin: 10px;
	float: left;
	border: solid 2px white;
	border-radius: 24px;
}

.letsgo .menu-items, .rest .menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.letsgo .menu-items li button, .rest .menu-items li button {
	width: 100%;
	text-align: left;
	/* font-size: 16pt; */
	font-size: larger;
	color: white;
	background: rgba(220, 61, 61, 1);
	padding: 10px;
	padding-left: 30px;
	border-top: solid 2px #B03131;
}

/* .letsgo .menu-items .selected, .rest .menu-items .selected {
	color: #B03131;
	background: rgba(255, 255, 255, 0.8);
} */


/* LETS GO END */

/* RESTAURANT */

.full-background.rest {
	position: inherit;
	min-height: 100%;
	background-color: rgba(247, 248, 205, 1);
}

.rest-container {
	padding: 15px;
}

.rest .picture {
	display: block;
	width: 300px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: solid 1px #DC3D3D;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.rest .rest-right{
	width: 100%;
	display: block;
}

.rest .rest-right{
	margin-bottom: 10px;
}

.rest .rest-right .rest-map img{
	display: block;
	width: 300px;
	height: 200px;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	border: solid 1px #DC3D3D;
	
}

.rest .rest-right .map-link{
	display: block;
	width: 300px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	text-decoration: none;
	color: #999;
}

.rest .rest-right .map-link:hover{
	color: #bbb;
}

.rest .rest-right .map-link:active{
	color: #777;
}

.rest .info {
	min-height: 24px;
}

div.icon-address{
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 0;
	background-image: url(../images/location.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.icon-phone{
	
	width: 24px;
	height: 24px;
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

div.icon-hours{
	
	width: 24px;
	height: 24px;
	background-image: url(../images/hours.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

div.icon-closed{
	
	width: 24px;
	height: 24px;
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

div.icon-web{
	
	width: 24px;
	height: 24px;
	background-image: url(../images/web.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

div.icon-email{
	width: 24px;
	height: 24px;
	background-image: url(../images/mail.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

p.iconed{
	display: block;
	margin-left: 30px;
	margin-top: -24px;
	margin-bottom: 5px;
	
}

.black-text{
	color: #444;
}

.rest p.desc{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.hours-block {
	display: inline-block;
	margin: 5px;
}

p.time-label {
	width: 45px;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: smaller;
}

.days-item {
	display: inline-block;
	border: solid 1px #DC3D3D;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5px;
	margin: 7px;
}

.days-item p, .admin-list li p{
	display: inline-block;
	color: #000;
	margin-right: 5px;

}

.delete-small {
	width: 16px;
	height: 16px;
	border: none;
	background-color: transparent;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	vertical-align: text-top;
}

input.days-input {
	display: inline-block;
	width: 150px;
}

.admin-rest-item.no-border{
	border: none;	
}

.admin-rest-item a{
	text-decoration: none;
	color: #DC3D3D;
}

.admin-rest-item a:hover{
	filter: brightness(150%);
	background-color: #ffdebe;
}

.discounts ul{
	list-style: none;
	padding: 0px;
}

/* RESTAURANT END */

/* OWNER REST LIST */

.owner-rest-list {
	list-style: none;
	width: 1000px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.owner-rest-item {
	display: inline-block;
	border: solid 1px #DC3D3D;
	background-color: #fff;
	width: 310px;
	margin: 10px;
	
}

.owner-rest-item .rest-image {
	width: 300px;
	height: 200px;
	margin: 5px;
}

.owner-rest-item .rest-info {
	padding: 0 10px 10px 10px;
}

.owner-rest-item .rest-info .address{
	font-size: smaller;
}

/* OWNER REST LIST END */

/* DISCOUNT MANAGE */

.discount-container {
	padding: 60px 10px 10px 10px;
}

.disc-list {
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: #444;
}

.disc-list .list ul{
	list-style: none;
	margin: 10px;
	padding: 0;
}

.disc-list .list .disc-item {
	padding: 10px;
	border: solid 1px #444;
}

.disc-item.even {
	background-color: #fff;
}

.disc-item.odd{
	background-color: #ddd;
}

.disc-item .desc{
	float: left;
}

.disc-item .desc:hover{
	color: #DC3D3D
}

.disc-item .coupon-num{
	float: right;
	width: 70px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.disc-item .desc .title {
	font-size: larger;
}

.disc-item .actions{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.clear-float{
	clear: both
}

button.new-discount{
	float : right;
	margin-right: 10px;
}

/* DISCOUNT MANAGE END*/


/* MY COUPONS */

.coupon-list .used{
	max-height: 400px;
}

ul.coupon-list {
	padding-left: 20px;
	padding-right: 20px;
	color: #444;
	list-style: none;
	margin: 10px;
	padding: 0;
}

ul.coupon-list .disc-item {
	padding: 10px;
	border: solid 1px #444;
}

.coupon-item {
	float: right;
	text-align: right;
}

.coupon-list-title{
	font-size: larger;
}

.coupons-title {
	color: #DC3D3D;
	margin-top: 25px;
}

.disc-coupon-list {
	list-style: none;
	padding: 5px;
	margin: 5px;
}

.disc-coupon-list p{
	float: left;
	margin: 5px;
}

.disc-coupon-list .use-button{
	float: right;
	margin: 5px;
}

.disc-coupon-list li{
	border-bottom: dashed 2px #DC3D3D;
}


/* MY COUPONS END*/


/* media queries*/
@media screen and (min-width: 500px) and (max-width: 980px) {
	body {
		font-size: 13pt;
	}
	.red-button, input[type=button], input[type=submit], input[type=text],
		input[type=number], select, textarea {
		font-size: 14pt;
	}
	.login h4 {
		margin-top: 10px;
		font-size: 20pt;
	}
	
	.loading .loading-message {
		font-size: 20px;
	}

	/* profile */
	/* .full-background.profile {
		background-image: url(../images/home_background.png);
	} */
	/* .profile-container {
		position: fixed;
		top: 45px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		background-color: rgba(247, 248, 205, 0.95);
		z-index: 1;
	} */
	
	.profile-picture{
		width: 120px;
		height: 120px;
	}
	
	.profile-logo {
		width: 250px;
		height: 110px;
		background-image: url(../images/logo_02.png);
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.step {
		right: 5px;
		margin: 5px;
		padding: 5px;
		width: 48px;
		height: 48px;
		font-size: 13pt;
	}
	.form-label {
		width: 25%;
		text-align: right;
		display: inline-block;
		padding-right: 10px;
		vertical-align: top;
		margin-top: 15px;
		font-size: 13pt;
	}
	.form-input {
		width: 60%;
		text-align: left;
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
		margin-top: 15px;
		font-size: 13pt;
	}

	/* profile end */

	/* profile ratings */
	.rest-item .rest-details .name, .letsgo .rest-details .name {
		font-size: 16pt;
	}
	.city-search label {
		font-size: 13pt;
	}
	.city-search .input {
		font-size: 13pt;
	}

	/* profile ratings end */
	
	/* letsgo */
	/* .letsgo .rest-details, .letsgo .disc-details {
		width: 350px;
	} */
	
	.letsgo-rest-list {
		width: 420px;
	}

	.letsgo-rest-item {
		width: 410px;
	}

	.letsgo-rest-item .rest-image {
		width: 400px;
		height: 267px;
	}
	
	/* letsgo end */
	
	/* restaurant */
	.rest .rest-right{
		width: 50%;
		float: right;
	}
	
	.rest .rest-left{
		width: 50%;
		float: left;
	}
	
	.rest .picture {
		width: 220px;
		height: 147px;
	}

	.rest .rest-right .rest-map img{
		width: 220px;
		height: 147px;
	}

	.rest .rest-right .map-link{
		width: 220px;
	}
	
	/* restaurant end */
	
	.disc-item .coupon-num{
		width: 80px;
	}
}

@media screen and (min-width: 650px) {
	/* profile ratings */
	.rest-item {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	.filters {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	.rest-item div.rest-details {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
	.rest-item div.rest-ratings {
		display: inline-block;
		width: 45%;
		margin-left: 10px;
	}
/* 	.rest-item .rest-details .rest-image {
		width: 300px;
		height: 200px;
	} */
	/* profile ratings end */
	.city-search label {
		width: 45%;
		text-align: right;
		display: inline-block;
		padding-right: 10px;
		vertical-align: top;
	}
	.city-search .input {
		width: 45%;
		text-align: left;
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
	}
	.ratings #city {
		width: 100%;
	}
	
	/* letsgo */
	.top-bar .menu-button .user-menu-small {
		display: block;
	}
	
	.letsgo-rest-list {
		width: 520px;
	}

	.letsgo-rest-item {
		width: 510px;
	}

	.letsgo-rest-item .rest-image {
		width: 500px;
		height: 333px;
	}
	/* letsgo end */
	
	/* owner list */
	.rest-item div.rest-actions {
		display: inline-block;
		width: 45%;
		margin-left: 10px;
	}
	/* owner list end */
	
	.rest .picture {
		width: 300px;
		height: 200px;
	}

	.rest .rest-right .rest-map img{
		width: 300px;
		height: 200px;
	}

	.rest .rest-right .map-link{
		width: 300px;
	}
}

@media screen and (min-width: 800px) {
	.rest .picture {
		width: 380px;
		height: 253px;
	}

	.rest .rest-right .rest-map img{
		width: 380px;
		height: 253px;
	}

	.rest .rest-right .map-link{
		width: 380px;
	}
}

@media screen and (min-width: 980px) {
	body {
		font-size: 15pt;
	}
	.red-button, input[type=button], input[type=submit], input[type=text],
		input[type=number], select, textarea {
		font-size: 16pt;
	}
	.login h4 {
		margin-top: 10px;
		font-size: 24pt;
	}
	
	.loading .loading-message {
		font-size: 24px;
	}

	/* profile */
	/* .full-background.profile {
		background-image: url(../images/home_background.png);
	}
	.profile-container {
		position: fixed;
		top: 45px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		background-color: rgba(247, 248, 205, 0.95);
		z-index: 1;
	} */
	
	.profile-picture{
		width: 140px;
		height: 140px;
	}
	.profile-logo {
		width: 350px;
		height: 150px;
		background-image: url(../images/logo_02.png);
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.step {
		right: 5px;
		margin: 5px;
		padding: 5px;
		width: 64px;
		height: 64px;
		font-size: 15pt;
	}
	.form-label {
		width: 25%;
		text-align: right;
		display: inline-block;
		padding-right: 10px;
		vertical-align: top;
		margin-top: 15px;
		font-size: 15pt;
	}
	.form-input {
		width: 60%;
		text-align: left;
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
		margin-top: 15px;
		font-size: 15pt;
	}

	/* profile end */

	/* profile ratings */
	.rest-item .rest-details .name, .letsgo .rest-details .name {
		font-size: 20pt;
	}
	.city-search label {
		width: 45%;
		text-align: right;
		display: inline-block;
		padding-right: 10px;
		vertical-align: top;
		margin-top: 15px;
		font-size: 15pt;
	}
	.city-search .input {
		width: 45%;
		text-align: left;
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
		margin-top: 15px;
		font-size: 15pt;
	}
	.ratings #city {
		width: 100%;
	}
	/* profile ratings end */
	
	/* letsgo */
/* 	.letsgo .rest-details, .letsgo .disc-details {
		width: 450px;
	} */
	
	.letsgo-rest-list {
		width: 900px;
	}

	.letsgo-rest-item {
		width: 410px;
		vertical-align: middle;
	}

	.letsgo-rest-item .rest-image {
		width: 400px;
		height: 267px;
	}
	/* letsgo end */
	
	/* restaurant */
	.rest .rest-right{
		width: 50%;
		float: right;
	}
	
	.rest .rest-left{
		width: 50%;
		float: left;
	}
	
	.rest .picture {
		width: 450px;
		height: 300px;
	}

	.rest .rest-right .rest-map img{
		width: 450px;
		height: 300px;
	}

	.rest .rest-right .map-link{
		width: 450px;
	}
	/* restaurant end */
	
	.disc-item .coupon-num{
		width: 100px;
	}
}