
@font-face {
	font-family: 'Helvetica Neue';
	src: url('/static/fonts/HelveticaNeue-Roman.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('/static/fonts/HelveticaNeue-Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('/static/fonts/HelveticaNeue-Italic.otf');
	font-weight: normal;
	font-style: italic;
}


html, body {
	font-size: 10pt;
	font-family: "Helvetica Neue";
	font-weight: normal;
	color: #404041;
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 100%;
	min-height: 100%;
	background-color: #fff;
}

.white-background {
	background-color: #fff;
}

.ui-page {
	min-height: 0 !important;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 5px;
}

a.no-style {
	text-decoration: none;
	color: inherit;
}

.desktop {
	display: none;
}

.mobile {
	display: inherit;
}

.text-margin {
	margin-left: 10px;
	margin-right: 10px;
}

.text-margin-full {
	margin: 10px;
}

.text-center {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

.text-bold {
	font-weight: bold; 
	margin-left: 10px;
	margin-right: 10px;
}

.text-title {
	font-size: 12pt;
	line-height: 11pt;
	color: #989897;
	font-weight: bold;
	padding: 10px 15px 10px 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.text-big {
	font-size: 14pt;
	margin-left: 10px;
	margin-right: 10px;
}

.text-red-light {
	color: #E36564;
	font-size: 11pt;
	margin-left: 10px;
	margin-right: 10px;
}

.text-red-bold {
	color: #E36564;
	font-size: 11pt;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

.text-all-capital {
	text-transform: uppercase;
	color: #808184;
	font-size: 12pt;
	margin-left: 10px;
	margin-right: 10px;
}

.clickable {
	cursor: pointer;
}

.clear-float{
	clear: both;
}


button {
	outline: 0;
	border: 0;
	box-shadow: none;
	background: transparent;
	-webkit-appearance: button;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	cursor: pointer;
/* 	font-size: 10pt;
	font-family: "Helvetica Neue";
	font-weight: 300; */
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* BUTTONS */

.img-btn:not(.disabled):hover {
	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	filter: brightness(120%);
}

.img-btn:not(.disabled):active {
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.img-btn.disabled {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.red-button, input[type=button], input[type=submit] {
	outline: 0;
	border: 0;
	padding: 5px 15px 5px 15px;
	box-shadow: none;
	background: transparent;
	-webkit-appearance: button;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-color: #E36564;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	color: white;
	font-size: 12pt;
	font-weight: 500;
	line-height: 1.3em;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 2px;
	margin-bottom: 3px;
}

.red-button.secondary, input[type=button].secondary, input[type=submit].secondary {
	background-color: #A6A8AC;	
}

/* NAVIGATION BUTTONS */

button.prev {
	float: left;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	padding: 5px;
}

button.prev .icon{
	width: 20px;
	height: 20px;
	background-image: url(../images/arrows/prev_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

button.next {
	width: 30px;
	height: 30px;
	padding: 5px;
	float: right;
	margin-right: 10px;
}

button.next .icon{
	width: 20px;
	height: 20px;
	background-image: url(../images/arrows/next_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

button.next-text {
	position: relative;
	width: 100%;
	height: 30px;
	padding: 5px;
	padding-right: 30px;
	float: right;
	text-align: right;
	margin-right: 10px;
	color: white;
	font-weight: bold;
}

button.next-text .icon{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	background-image: url(../images/arrows/next_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

button.center, input[type="submit"].center, input[type="button"].center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

.margin-btn {
	margin-left: 10px;
	margin-right: 10px;
}

/* NAVIGATION BUTTONS END */

/* BUTTONS END */

/* SCROLL BAR */ 
.scrollable {
	max-height: 75%;
	overflow: hidden;
	/* margin-bottom: 10px; */
}

.popup-scrollable {
	/* max-height: 90%; */
	overflow: auto;
}

.track-red {
	width: 7px;
	background: #E36564;
	background: rgba(227, 101, 100, 0.15);
	margin-right: -2px;
	border-radius: 10px;
	-webkit-transition: background 200ms linear;
	transition: background 200ms linear;
}

.track-red:hover, .track-red.dragging {
	background: #E36564;
	background: rgba(227, 101, 100, 0.35);
}

.handle-red {
	width: 7px;
	right: 0;
	background: #E36564;
	background: rgba(227, 101, 100, 0.8);
	border-radius: 7px;
	-webkit-transition: width 200ms;
	transition: width 200ms;
}

.track-white {
	width: 7px;
	background: rgba(255, 255, 255, 0.15);
	margin-left: -8px;
	border-radius: 10px;
	-webkit-transition: background 200ms linear;
	transition: background 200ms linear;
}

.track-white:hover, .track-white.dragging {
	background: white;
	background: rgba(255, 255, 255, 0.35);
}

.handle-white {
	width: 7px;
	right: 0;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 7px;
	-webkit-transition: width 200ms;
	transition: width 200ms;
}

/* SCROLL BAR END */


/* APP BAR and MAIN CONTAINER */

.main-container {
	/* margin-top: 50px; */
	padding-top: 53px;
	/* padding-bottom: 10px; */
	min-height: 100%;
	/* padding-bottom: 25px; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.app-bar {
	background-color: #E36564;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 50;
}

.app-bar .menu-button {
	margin-left: 10px;
	height: 40px;
	max-width: 30%;
	position: fixed;
	top: 5px;
	left: 0;
}

.app-bar #menu-button {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 15px;
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	
}

.app-bar .menu-button .user-menu-small {
	z-index: 11;
}

.app-bar .menu-button .user-menu-small .user-picture {
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	position: fixed;
	top: 11px;
	left: 50px;
	width: 30px;
	height: 30px;
	float: left;
	border: solid 2px white;
	border-radius: 15px;
}

.app-bar .menu-button .user-name {
	color: white;
	float: left;
	position: fixed;
	top: 20px;
	left: 80px;
}

.app-bar .logo {
	height: 40px;
	width: 178px;
	max-width: 30%;
	position: fixed;
	top: 7px;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.app-bar .actions {
	margin-right: 10px;
	height: 46px;
	max-width: 30%;
	position: fixed;
	top: 2px;
	right: 0;
}

.app-bar .actions #refresh {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 15px;
	background-image: url(../images/reload.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.app-bar .actions #my-position {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 15px;
	margin-top: 15px;
	background-image: url(../images/icon_position.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.app-bar .actions .step {
	height: 46px;
	width: 52px;
	margin-top: -5px;
	background-image: url(../images/circle-step.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.app-bar .actions .step p{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: smaller;
	padding-top: 10px;
}



/* APP BAR and MAIN CONTAINER END */

/* LEFT MENU */

.left-menu {
	width: 250px;
	max-width: 80%;
	/* max-height: 95%; */
	color: white;
	background: #E36564;
	position: fixed;
	top: 50px;
	left: 0;
	padding-top: 10px;
	z-index: 11;
	border: solid 1px #B73B3B;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	
}

.user-menu .user-picture {
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	width: 36px;
	height: 36px;
	margin: 10px;
	float: left;
	border: solid 2px white;
	border-radius: 18px;
	vertical-align: middle;
}

.user-menu .user-name {
	float: left;
	margin-top: 15px;
	margin-left: 0px;
}

.menu-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-items li button {
	width: 100%;
	text-align: left;
	/*  font-size: larger; */
	color: white;
	background: #E36564;
	padding: 10px;
	padding-left: 30px;
	border-top: solid 1px #B73B3B;
}

.menu-items li button.no-border{
	border-top: 0;
}

.menu-items .selected {
	font-style: italic;
}

/* LEFT MENU END */


/* FORM and FORM COMPONENTS */

form {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.input-container {
	margin: 10px;
}

input[type=text], input[type=number], select, textarea {
	outline: 0;
	border: solid 1px #B3B3B3;
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #808184;
	font-size: 13pt;
	line-height: 1.3em;
	font-family: "Helvetica Neue";
	display: block;
	width: 95%;
	padding-left: 5px;
}


form .form-label {
	width: 100%;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 15px;
}

form .save {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}



/* FORM and FORM COMPONENTS */


/* SEPARATOR */

.separator {
	height: 15px;
	width: 100%;
	background-image: url(../images/separator.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.separator.white{
	background-image: url(../images/separator_white.png);
}

/* SEPARATOR END */

/* POPUP */
.popup-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(220, 220, 220, 0.7);
	z-index: 3000;
}

.popup-foreground {
	position: fixed;
	top: 15px;
	bottom: 15px;
	left: 0;
	right: 0;
	width: 500px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	z-index: 3100;
	border: solid 1px #B73B3B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 25px;
	padding-bottom: 10px;
}

.new-place-form .popup-background{
	z-index: 400 !important;
}

.new-place-form .popup-foreground{
	width: 1000px;
	z-index: 500 !important;
}

/* .pac-container{
	z-index: 5000 !important;
} */

/* .popup-foreground h3 {
	margin-top: 10px;
	margin-left: 10px;
} */

.close {
	background-color: #E36564;
	width: 22px;
	height: 22px;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	position: absolute;
	top: 7px;
	right: 7px;
}

.settings-popup {
	z-index: 100;
}

/* POPUP END */

/* LOADING */
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(220, 220, 220, 0.9);
	/* background-image: url(../images/ajax-loader.gif); */
	/* background-position: center center;
	background-repeat: no-repeat; */
	z-index: 200;
}

.loading img {
	display: block;
	width: 100px;
	height: 100px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.loading .loading-message {
	text-align: center;
	color: #000;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

/* LOADING END */


/* LANDING */
.full-background {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	bottom: 0;
}

.full-background.home {
	margin: 0;
	padding: 0.1px;
	background-color: #E36564;
}

.home .home-container{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0.1px;
	position: relative;
}


.home .home-logo {
	height: 25%;
	width: 90%;
	max-height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-image: url('../images/logo_home.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.home .login {
	width: 115px;
	height: 60px;
	position: absolute;
	left: 50%;
	bottom: 15%;
	margin-left: -57px;
}

.home .login .title {
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

.login img {
	width: 48px;
	height: 48px;
	margin-left: 3px;
	margin-right: 3px;
}


/* LANDING END */


/* PROFILE STEPS */

.profile1-map {
	width: 90%;
	height: 200px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	
	/* border: solid 1px #B3B3B3; */
	box-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

p.empty-list{
	margin: 5px 10px;
}

/* PROFILE STEPS END */

/* RESTAURANT RATING */

.rest-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.rest-item .rest-details {
	width: 100%;
	margin-bottom: 10px;
}

.rest-image {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 196px;
	width: 320px;
	margin: 0px auto 10px auto;
}

.rest-item .rest-ratings {
	width: 100%;
	border-top: solid 1px #B3B3B3;
}

.rest-item .rest-ratings .row {
	border-bottom: solid 1px #B3B3B3;
	position: relative;
	height: 80px;
}

.rest-item .rest-ratings .row .left-purpose {
	border-right: solid 1px #B3B3B3;
	width: 100px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
}

.rest-item .rest-ratings .row .right-ratings{
	height: 80px;
	position: absolute;
	top: 0;
	left: 101px;
	right: 0;
}

.rest-item .rest-ratings.smaller .row .left-purpose{
	width: 70px;
}

.rest-item .rest-ratings.smaller .row .right-ratings{
	left: 71px;
}

.rest-item .left-purpose .purpose-icon{
	width: 32px;
	height: 32px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.rest-item .left-purpose .purpose-text {
	font-size: 13px;
	line-height: 11px;
	font-weight: bold;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tourists .purpose-icon{
	background-image: url('../images/ratings/icon_visitors.png');
}

.tourists .purpose-text {
	color: #2DAC9D;
}

.partner .purpose-icon{
	background-image: url('../images/ratings/icon_partner.png');
}

.partner .purpose-text {
	color: #E36564;
}

.friends .purpose-icon{
	background-image: url('../images/ratings/icon_friends.png');
}

.friends .purpose-text {
	color: #F29850;
}

.price-quality .purpose-icon{
	background-image: url('../images/ratings/icon_break.png');
}

.price-quality .purpose-text {
	color: #827E7A;
}

.rest-item .right-ratings .title {
	color: #fff;
	text-align: center;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.rest-item .right-ratings .title.tourists {
	background-color: #2DAC9D;
}

.rest-item .right-ratings .title.partner {
	background-color: #E36564;
}

.rest-item .right-ratings .title.friends {
	background-color: #F29850;
}

.rest-item .right-ratings .title.price-quality {
	background-color: #827E7A;
}

.rest-item .rating-buttons {
	margin: 7px auto 0px auto;
	width: 170px;
}

.rest-item button.rating-btn {
	width: 38px;
	height: 38px;
}

.rest-item .rating-btn.noidea {
	background-image: url(../images/ratings/face_noidea.png);
	margin-right: 5px;
}

.rest-item .rating-btn.noidea.selected {
	background-image: url(../images/ratings/face_noidea_selected.png);
}

.rest-item .rating-btn.noidea:hover {
	background-image: url(../images/ratings/face_noidea_selected.png);
}

.rest-item .rating-btn.noidea:active {
	background-image: url(../images/ratings/face_noidea_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.rest-item .rating-btn.bad {
	background-image: url(../images/ratings/face_bad.png);
}

.rest-item .rating-btn.bad.selected {
	background-image: url(../images/ratings/face_bad_selected.png);
}

.rest-item .rating-btn.bad:hover {
	background-image: url(../images/ratings/face_bad_selected.png);
}

.rest-item .rating-btn.bad:active {
	background-image: url(../images/ratings/face_bad_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.rest-item .rating-btn.neutral {
	background-image: url(../images/ratings/face_neutral.png);
}

.rest-item .rating-btn.neutral.selected {
	background-image: url(../images/ratings/face_neutral_selected.png);
}

.rest-item .rating-btn.neutral:hover {
	background-image: url(../images/ratings/face_neutral_selected.png);
}

.rest-item .rating-btn.neutral:active {
	background-image: url(../images/ratings/face_neutral_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}

.rest-item .rating-btn.happy {
	background-image: url(../images/ratings/face_happy.png);
}

.rest-item .rating-btn.happy.selected {
	background-image: url(../images/ratings/face_happy_selected.png);
}

.rest-item .rating-btn.happy:hover {
	background-image: url(../images/ratings/face_happy_selected.png);
}

.rest-item .rating-btn.happy:active {
	background-image: url(../images/ratings/face_happy_selected.png);
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	filter: brightness(70%);
}



/* RESTAURANT RATING END */


/* RATINGS - PROFILE 3 */

.city-search {
	margin-top: 10px;
}

.create-places {
	border: solid 1px #B3B3B3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

.filters .name-input-block {
	position: relative;
	margin: 0px 10px 10px 10px;
	height: 30px;
}

.filters .name-input-block .input-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 29px;
	margin: 0;
	margin-right: 3px;
}

.filters .name-input-block .input-container input{
	width: 100%;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border-right: 0;
}

.filters .name-input-block .search-name{
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 26px;
	padding: 3px;
	margin: 0;
	
	border: solid 1px #B3B3B3;
	border-left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.filters .name-input-block .search-name .icon {
	width: 26px;
	height: 20px;
	background-image: url(../images/icon_search.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

* html .ui-autocomplete {
	height: 150px;
}

.ui-widget {
	font-family: "Helvetica Neue";
	font-size: 1em;
	margin-bottom: 0px;
}

.filters .text-label {
	font-size: 13pt;
	color: #80807f;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 5px;
}

.map-search {
	width: 90%;
	height: 250px;
	max-width: 800px;
	margin: 0 auto 10px auto;
}

.controls {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 60%;
	text-overflow: ellipsis;
	margin-left: 15px;
}

.new-rest-popup .rest-details div {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.new-rest-popup .rest-details div .text-all-capital{
	margin-left: 0;
	margin-bottom: 5px;
	font-size: 12pt;
}

.new-rest-popup .rest-item .rest-details .rest-image {
	width: 250px;
	height: 153px;
}


/* RATINGS - PROFILE 3 END */


/* LETSGO */

.letsgo {
	position: relative;
	padding-bottom: 0;
	margin-bottom: 0;
	height: auto;
	/* overflow: hidden; */
}

.purpose-list {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.purpose-list.desktop {
	width: 100px;
	position: absolute;
	top: 70px;
	left: -100px;
	margin: 0px;
	padding: 0px;
}

.purpose-list .purpose-btn {
	display: inline-block;
	width: 25%;
	height: 50px;
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	background-color: #fff;
	/* border-top: solid 1px #B3B3B3;
	border-bottom: solid 1px #B3B3B3;
	border-right: solid 1px #B3B3B3; */
	margin: 0px;
	padding-top: 3px;
	vertical-align: top;
	cursor: pointer;
}

.purpose-list .purpose-btn.tourists {
	/* border-left: solid 1px #B3B3B3; */
}

.purpose-list.desktop .title-icon {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-image: url(../images/separator_icon.png);
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	margin: 0px auto -5px auto;
}

.purpose-list.desktop .buttons-title {
	color: #000;
	font-weight: bold;
	text-align: center;
	margin: 0;
	font-size: 11pt;
	
}

.purpose-list.desktop .purpose-buttons{
	width: 75px;
	margin: 20px auto 0px auto;
	
}

.purpose-list.desktop .purpose-btn {
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	display: block;
	/* border: solid 1px #B3B3B3; */
}

.purpose-list.desktop .purpose-btn .purpose-icon{
	margin-top: 7px;
} 

.purpose-list.desktop .purpose-btn:not(.selected) {
	background-color: #eee;
}

.letsgo-picture-container.desktop  {
	/* border: solid 1px #B3B3B3; */
	background-color: white;
	margin-top: 10px;
}

.purpose-list .purpose-btn .purpose-icon {
	width: 24px;
	height: 24px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.purpose-list .purpose-btn .purpose-text {
	font-size: 10px;
	line-height: 10px;
	font-weight: 300;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: bold;
}

.purpose-list.desktop .purpose-btn .purpose-text{
	font-weight: bold;
}

.purpose-list .purpose-btn.selected .purpose-text{
	color: #fff;
}

.tourists.selected {
	background-color: #2DAC9D;
	/* border: solid 1px #B3B3B3; */
}

.tourists.selected .purpose-icon {
	background-image: url('../images/ratings/icon_visitors_selected.png');
}

.partner.selected {
	background-color: #E36564;
	/* border: solid 1px #B3B3B3; */
}

.partner.selected .purpose-icon {
	background-image: url('../images/ratings/icon_partner_selected.png');
}

.friends.selected {
	background-color: #F29850;
	/* border: solid 1px #B3B3B3; */
}

.friends.selected .purpose-icon {
	background-image: url('../images/ratings/icon_friends_selected.png');
}

.price-quality.selected {
	background-color: #827E7A;
	/* border: solid 1px #B3B3B3; */
}

.price-quality.selected .purpose-icon {
	background-image: url('../images/ratings/icon_break_selected.png');
}

.letsgo-picture {
	height: 196px;
	width: 320px;
	margin: 0px auto 0px auto;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.letsgo .rest-details {
	width: 100%;
	height: 100px;
	position: relative;
	font-size: smaller;
	line-height: 1.1em;
	/* border: solid 1px #B3B3B3; */
	background-color: #fff;
}

.letsgo .text-title {
	padding: 10px 5px;
	margin: 0;
}



.letsgo .rest-details .prediction {
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	border-left: solid 1px #B3B3B3;
	height: 100%;
	margin: 0;
}

.letsgo .rest-details .prediction .chart{
	width: 48px;
	height: 48px;
	margin: 0 auto;
}

.letsgo .rest-details .prediction .chart-text{
	position: absolute;
	top: 18px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 7pt;
	font-weight: bold;
}

.letsgo  .rest-details .rest-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 90px;
}

.letsgo .rest-details .rest-title {
	line-height: 1.2em;
	font-weight: bold;
}

.letsgo  .rest-details .rest-info .discount-info{
	border-top: solid 1px #B3B3B3;
	width: 100%;
	padding-top: 5px;
	margin-top: 3px;
}

.rest-details .rest-info .discount-info.no-border{
	border: 0;
}

.bottom-bar {
	height: 30px;
	background-color: #E36564;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}

.bottom-bar .next-text {
	float: right;
	max-width: 70%;
}

.ui-loader {
	display: none;
	height: 0;
}

/* .ui-page {
	margin-top: -55px;
	padding-top: 55px;
} */

.list-end {
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 20px;
}


/* SETTINGS */
.settings-popup .form-line {
	margin: 10px 10px 5px 10px;
}

.settings-popup .purpose-line {
	margin-top: 5px;
	margin-bottom: 5px;
}

.settings-popup .purpose-line .purpose-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align:top;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.settings-popup .purpose-line .purpose-text {
	display: inline-block;
	vertical-align:top;
	color: white;
	height: 22px;
	width: 50%;
	padding: 5px;
	margin-left: 10px;
	margin-right: -7px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.settings-popup .purpose-line .purpose-btn {
	display: inline-block;
	vertical-align:top;
	width: 48px;
	height: 32px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.settings-popup .purpose-line .purpose-btn.selected .icon{
	width: 24px;
	height: 16px;
	background-image: url('../images/icon_select.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	margin: 2px auto;
	
}

.settings-popup .purpose-line.tourists .purpose-icon {
	background-image: url('../images/ratings/icon_visitors.png');
}

.settings-popup .purpose-line.tourists .purpose-text {
	background-color: #2DAC9D;
}

.settings-popup .purpose-line.tourists .purpose-btn {
	background-color: #258e82;
}

.settings-popup .purpose-line.partner .purpose-icon {
	background-image: url('../images/ratings/icon_partner.png');
}

.settings-popup .purpose-line.partner .purpose-text {
	background-color: #E36564;

}

.settings-popup .purpose-line.partner .purpose-btn {
	background-color: #B73B3B;
}

.settings-popup .purpose-line.friends .purpose-icon {
	background-image: url('../images/ratings/icon_friends.png');
}

.settings-popup .purpose-line.friends .purpose-text {
	background-color: #F29850;

}

.settings-popup .purpose-line.friends .purpose-btn {
	background-color: #d48546;
}

.settings-popup .purpose-line.price-quality .purpose-icon {
	background-image: url('../images/ratings/icon_break.png');
}

.settings-popup .purpose-line.price-quality .purpose-text {
	background-color: #827E7A;

}

.settings-popup .purpose-line.price-quality .purpose-btn {
	background-color: #696663;
}


/* SETTINGS END */

/* LETSGO END */


/* RESTAURANT */

.rest .rest-title {
	font-size: 16pt;
	line-height: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.rest .rest-title-address {
	font-size: 11pt;
	line-height: 1em;
	margin-top: 2px;
	padding-top: 0;
}

.rest .icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 0;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 10px;
}

.rest p.iconed {
	display: block;
	margin-left: 22px;
	margin-top: -20px;
	/* margin-bottom: 15px; */
}

.icon-address {
	background-image: url(../images/icon_address.png);
}

.icon-phone {
	background-image: url(../images/icon_phone.png);
}

.icon-hours {
	background-image: url(../images/icon_hours.png);
}

.icon-closed {
	background-image: url(../images/icon_calendar.png);
}

.icon-web {
	background-image: url(../images/icon_website.png);
}

.icon-email {
	background-image: url(../images/icon_mail.png);
}

.rest-map div {
	display: block;
	width: 320px;
	height: 259px;
	max-height: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	/* border: solid 1px #DC3D3D; */
}

.rest .description {
	margin-bottom: 10px;
}

.rest .info {
	padding-bottom: 10px;
}

.rest .discount .info{
	margin: 10px;
}

.red-button.disc-btn {
	background-color: #B73B3B;
	margin: 5px auto;
	display: block;
}

/* PICTURES */

.rest .content {
	margin-top: 10px;
}

#slider {
	margin-bottom: 10px;
}

.slider {
	position: relative; 
	margin-left: auto;
	margin-right: auto;
	width: 320px; 
	height: 196px;
}

.pictures {
	cursor: move; 
	position: absolute; 
	overflow: hidden; 
	left: 0px; 
	top: 0px; 
	width: 320px; 
	height: 196px;
}

.pictures .image{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* jssor slider bullet navigator skin 14 css */
/*
.jssorb14 div           (normal)
.jssorb14 div:hover     (normal mouseover)
.jssorb14 .av           (active)
.jssorb14 .av:hover     (active mouseover)
.jssorb14 .dn           (mousedown)
*/
.jssorb14 {
	position: absolute;
	bottom: 10px;
}

.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
	position: absolute;
	/* size of bullet elment */
	width: 12px;
	height: 12px;
	background: url(/static/images/b14.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}

.jssorb14 div {
	background-position: -9px -9px;
}

.jssorb14 div:hover, .jssorb14 .av:hover {
	background-position: -39px -9px;
}

.jssorb14 .av {
	background-position: -69px -9px;
}

.jssorb14 .dn, .jssorb14 .dn:hover {
	background-position: -99px -9px;
}

/* PICTURES END */


/* RESTAURANT END */


/* DISCOUNT */

.disc .rest-name{
	margin-top: 10px;
}

.disc .time-coupons{
	margin-top: 20px;
}

.disc .coupons-title {
	margin-top: 10px;
}

.disc #published {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.disc .actions {
	margin-bottom: 10px;
}

.disc .coupon {
	margin: 15px;
	border: solid 1px #B3B3B3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	padding: 15px;
}

.coupon .actions{
	display: block;
	margin: 10px auto 0 auto;
	width: 200px;
}

.coupon .actions button{
	width: 90px;
}

.coupon .actions button.use-button {
	margin-right: 10px;
}



/* DISCOUNT END */


/* MY COUPONS */

.disc-item .coupon {
	margin: 10px;
}

.coupon-list-title {
	font-size: 14pt;
	margin-top: 10px;
}

.coupon-list {
	margin-bottom: 10px;
	background-color: #fff;
	margin-top: 10px;
}

.coupon-list .disc-item {
	padding-top: 10px;
	padding-bottom: 10px;
	
}

/* MY COUPONS END */




/* OWNER REST LIST */
.owner-rest-list {
	list-style: none;
	width: 1000px;
	max-width: 95%;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}

.owner-rest-item {
	display: inline-block;
	border: solid 1px #B3B3B3;
	background-color: #eee;
	width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.owner-rest-item .rest-image {
	width: 290px;
	height: 178px;
	margin: 5px;
}

.owner-rest-item .rest-info .name {
	font-size: 12pt;
}

.owner-rest-item .rest-info {
	padding-bottom: 10px;
}

/* OWNER REST LIST END */

/* OWNER/ADMIN REST EDIT */

.edit-form {
	margin: 10px;
}

.edit-form .row{
	margin-bottom: 10px;
}

.edit-form .rest-image {
	margin-left: -10px;
} 

.hours-block {
	display: inline-block;
	margin: 5px;
}

p.time-label {
	width: 45px;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: smaller;
}

.days-item {
	display: inline-block;
	border: solid 1px #DC3D3D;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	padding: 5px;
	margin: 7px;
}

.days-item p, .admin-list li p {
	display: inline-block;
	margin-right: 5px;
}

.delete-small {
	width: 16px;
	height: 16px;
	border: none;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	vertical-align: text-top;
	background-color: #E36564;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.delete-small.pic {
	width: 24px;
	height: 24px;
}

.other-pictures-input-block {
	position: relative;
	margin: 0px 10px 10px 10px;
	height: 30px;
}

.other-pictures-input-block .input-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 29px;
	margin: 0;
	margin-right: 3px;
}

.other-pictures-input-block .input-container input{
	width: 100%;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border-right: 0;
}

.other-pictures-input-block .add-small{
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 26px;
	padding: 2px;
	margin: 0;
	
	border: solid 1px #B3B3B3;
	border-left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.other-pictures-input-block .add-small .icon {
	width: 22px;
	height: 22px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(../images/add.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}


input.days-input {
	display: inline-block;
	width: 150px;
}

.other-pic-item {
	display: inline-block;
	margin: 10px;
}

.other-pic-item .other-picture.preview {
	width: 150px;
	height: 100px;
}

.other-pic-item .delete-small {
	vertical-align: top;
	margin-top: 10px;
	margin-left: -34px;
}


/* OWNER/ADMIN REST EDIT END*/

/* OWNER DISCOUNT LIST */

.new-discount, .disc-list-title {
	margin-top: 10px;
}

.disc-list, .disc-list ul li  {
	margin-bottom: 10px;
	margin-top: 10px;
}


.separator-border {
	width: 80%;
	height: 1px;
	margin: 0px auto;
	border-top: solid 1px #B3B3B3;
}

/* OWNER DISCOUNT LIST */

/* ADMIN RESTAURANT SEARCH */

ul.rest-edit-list, ul.rest-create-list {
	list-style: none;
	margin: 10px;
	
}

.admin-rest-item {
	font-size: 12pt;
	margin-top: 10px;
}

.admin-rest-item.no-border {
	border: none;
}

.admin-rest-item a {
	text-decoration: none;
	color: #444;
	width: 100%;
}

.admin-rest-item a:hover {
	text-decoration: underline;
}

.admin-list-title {
	margin-top: 10px;
}

.admin-list {
	margin: 10px;
}

/* ADMIN RESTAURANT SEARCH END */


/* SCREEN ADAPTATION */
@media screen and (min-width: 360px){
	/* mobile */

	.rest-map div {
		width: 360px;
		height: 291px;
	}
	
	.rest-image {
		height: 221px;
		width: 360px;
	}
	
	.letsgo-picture {
		height: 221px;
		width: 360px;
	}
	
	.slider {
		width: 360px; 
		height: 221px;
	}
	
	.pictures {
		width: 360px; 
		height: 221px;
	}
	
	.new-rest-popup .rest-item .rest-details .rest-image {
		height: 184px;
		width: 300px;
	}
	
}

@media screen and (min-width: 400px){
	/* mobile */
	
	.rest-map div {
		width: 400px;
		height: 324px;
	}
	
	.rest-image {
		height: 245px;
		width: 400px;
	}
	
	.letsgo-picture {
		height: 245px;
		width: 400px;
	}
	
	.slider {
		width: 400px; 
		height: 245px;
	}
	
	.pictures {
		width: 400px; 
		height: 245px;
	}
	
	.new-rest-popup .rest-item .rest-details .rest-image {
		height: 202px;
		width: 330px;
	}
	
}

@media screen and (min-width: 480px) {
	/* mobile */
		
	.rest-map div {
		width: 480px;
		height: 389px;
	}
	
	.rest-image {
		height: 294px;
		width: 480px;
	}
	
	.letsgo-picture {
		height: 294px;
		width: 480px;
	}
	
	.slider {
		width: 480px; 
		height: 294px;
	}
	
	.pictures {
		width: 480px; 
		height: 294px;
	}	
	
	.new-rest-popup .rest-item .rest-details .rest-image {
		width: 380px; 
		height: 233px;
	}
	
}

@media screen and (min-width: 600px) {
	/* tablet --> desktop-like */
	
	.desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	.main-container {
		background-color: #ebebeb;
		/* border: solid 1px #B3B3B3; */
		width: 350px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		min-height: 100%;
		padding-bottom: 25px;
	}
	
	.main-container .content{
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.shadow {
		width: 320px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		-webkit-box-shadow: 0 0 10px #777;
		-moz-box-shadow: 0 0 10px #777;
		box-shadow: 0 0 10px #777;
		/* border: solid 1px #B3B3B3; */
	}
	
		
	.rest-map div {
		width: 320px;
		height: 259px;
	}
	
	.rest-image {
		height: 196px;
		width: 320px;
	}
	
	.new-rest-popup .rest-item .rest-details .rest-image {
		width: 400px; 
		height: 245px;
	}
	
	.slider {
		width: 320px; 
		height: 196px;
	}
	
	.pictures {
		width: 320px; 
		height: 196px;
	}
	
	
	/* LETSGO */
	
	.bottom-bar {
		position: static;
		width: 320px;
		/* border: solid 1px #B3B3B3; */
	}
	
	.desktop .letsgo-picture {
		height: 196px;
		width: 320px;
	}
	
	/* LETSGO END */
	
	
	.disc .coupon {
		background-color: #fff;
		width: 280px; 
		margin-left: auto;
		margin-right: auto;
	}
	
	/* OWNER */
	
	.owner-rest-item {
		background-color: #fff;
	}
	
}

@media screen and (min-width: 768px) {
	/* tablet/desktop */
	
	.desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	.main-container {
		width: 500px;
	}
	
	.main-container .content{
		max-width: 450px;
	}
	
	.shadow {
		width: 450px;
	}
	
	.rest-map div {
		width: 450px;
		height: 364px;
	}
	
	.rest-image {
		height: 276px;
		width: 450px;
	}
	
	.slider {
		width: 450px; 
		height: 276px;
	}
	
	.pictures {
		width: 450px; 
		height: 276px;
	}
	
	/* LETSGO */
	
	.bottom-bar {
		width: 450px;
	}
	
	.desktop .letsgo-picture {
		height: 276px;
		width: 450px;
	}
	
	/* LETSGO END */
	
	/* RESTAURANT */
	
	.rest-left {
		width: 50%;
		float: left;
	}
	
	.rest-right {
		width: 50%;
		float: right;
		padding-left: 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		
	}
	
	/* RESTAURANT END */
	
		/* NEW RESTAURANT POPUP */
	
	.new-rest-popup .popup-foreground .rest-details{
		width: 45%;
		float: left;
		
	
	}
	
	.new-rest-popup .popup-foreground .rest-ratings{
		width: 45%;
		float: right;
		margin-right: 10px;
		border: solid 1px #B3B3B3;
		border-bottom: 0;
	
	}
	
	.new-rest-popup .rest-image {
		width: 280px !important;
		height: 172px !important;
	}
	/* NEW RESTAURANT POPUP END */
	
}

@media screen and (min-width: 800px) {
	/* tablet/desktop */
	
	.desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	.main-container {
		width: 550px;
	}
	
	.main-container .content{
		max-width: 500px;
	}
	
	.shadow {
		width: 500px;
	}
	
	.rest-map div {
		width: 500px;
		height: 380px;
	}
	
	.rest-image {
		height: 306px;
		width: 500px;
	}
	
	.slider {
		width: 500px; 
		height: 306px;
	}
	
	.pictures {
		width: 500px; 
		height: 306px;
	}
	
	
	/* LETSGO */
	
	.bottom-bar {
		width: 500px;
	}
	
	
	.desktop .letsgo-picture {
		height: 306px;
		width: 500px;
	}
	
	/* LETSGO END */
	
	/* RATINGS */
	
	.rest-ratings .left-rows {
		width: 50%;
		float: left;
	}
	
	.rest-item .right-rows {
		width: 50%;
		float: right;
		border-left: solid 1px #B3B3B3;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	.rest-item .rest-ratings .row .left-purpose {
		width: 75px;
	}
	
	.rest-item .rest-ratings .row .left-purpose .purpose-text {
		width: 70px;
	}
	
	.rest-item .rest-ratings .row .right-ratings {
		position: absolute;
		left: 75px;
	}
	
	.rest-item .rating-buttons {
		margin: 3px auto 0px auto;
		width: 145px;
	}

	.rest-item button.rating-btn {
		width: 32px;
		height: 32px;
	}
	
	
	/* RATINGS END*/
	
	/* NEW RESTAURANT POPUP */
	.new-rest-popup .rest-image {
		height: 184px !important;
		width: 300px !important;
	}
	/* NEW RESTAURANT POPUP END */
	
}


@media screen and (min-width: 1050px) {
	/* tablet/desktop */
	
	.desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	.main-container {
		width: 800px;
	}
	
	.main-container .content{
		max-width: 700px;
	}
	
	.shadow {
		width: 700px;
	}
	
	.rest-map div {
		width: 700px;
		height: 380px;
	}
	
	.rest-image {
		height: 429px;
		width: 700px;
	}
	
	.slider {
		width: 700px; 
		height: 429px;
	}
	
	.pictures {
		width: 700px; 
		height: 429px;
	}
	
	/* LETSGO */
	
	.bottom-bar {
		width: 700px;
	}
	
	.desktop .letsgo-picture {
		height: 429px;
		width: 700px;
	}
	
	/* LETSGO END */
	
	/* RATINGS */
	
	.rest-item .rest-ratings .row .left-purpose {
		width: 100px;
	}
	
	.rest-item .rest-ratings .row .left-purpose .purpose-text {
		width: 60px;
	}
	
	.rest-item .rest-ratings .row .right-ratings {
		position: absolute;
		left: 100px;
	}
	
	.rest-item .rating-buttons {
		margin: 7px auto 0px auto;
		width: 170px;
	}

	.rest-item button.rating-btn {
		width: 38px;
		height: 38px;
	}

	/* RATINGS END */
	
	/* NEW RESTAURANT POPUP */
	.new-rest-popup .rest-image {
		height: 245px !important;
		width: 400px !important;
	}
	/* NEW RESTAURANT POPUP END */
	
}

