{% extends "base.html" %} {% block main %}

<div class="full-background rest">
		<div class="top-bar rest-bar">
			<div class="menu-button">
				<button class="img-btn" id="menu-button"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">
						{{user.first_name}}
					</div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable" id="left-menu" style="display: none;">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h3 class="text-bold user-name">
					{{user.first_name}}</h3>
				<div class="clear-float"></div>
			</div>

			<ul class="menu-items">
				<li><button class="img-btn" id="back">{{ lang['back_to_rest']}}</button></li>
				<li class="separation"></li>
				<li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li>
				<li><button class="img-btn selected" id="back_dlist"> > {{ lang['discount_list_all']}}</button></li>
				<li><button class="img-btn" id="change_rest">{{ lang['change_rest']}}</button></li>
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>

		</div>

		<div class="discount-container">
			
			<h2 class="center-text">{{ lang['discounts']}} {{lang['for']}} {{ place.name if not place.name is none }}</h2>
			<p class="subtitle center-text">
				{{ place.address.street~', '~ place.address.city if not place.address is none}}
			</p>
			
			
			<div class="disc-list">
				<button class="img-btn red-button new-discount" id="new-discount">{{ lang['create_new_discount']}}</button>
				<div class="title">
					{{ lang['new_discounts']}}:
				</div>
				
				<div id="not_published" class="list"></div>
			</div>
		
			<div class="disc-list">
				<div class="title">
					{{ lang['available_discounts']}}:
				</div>
				
				<div id="current_available" class="list"></div>
			</div>
			
			<div class="disc-list">
				<div class="title">
					{{ lang['old_discounts']}}:
				</div>
				
				<div id="passed" class="list"></div>
			</div>
			
			<div class="popup-area"></div>
		</div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">

/* $(window).ready(function() {
	var window_height = $('.rest').height();
	var bar_height = $('.top-bar').height();
	$('.discount-container.scrollable').height(window_height - bar_height - 40);
	
}); */

	$(window).load(function() {
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		function disc_publish(key){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({
				strings: {{lang['disc_publish_popup']|safe}},
			});
			$('.popup-area').html(html);
			
			$('#cancel').click(function(){
				$('.popup-area').html('');
			});
			
			$('#close-popup').click(function(){
				$('.popup-area').html('');
			});
			
			$('#ok').click(function(){
				$('.popup-area').html('');
				$.ajax({
					type : 'GET',
					url : '/api/discount/'+key+'/publish',
					success : function() {
						location.reload();
					},
					error : function(resp) {
						if(window.console){
							console.log(resp);
						}
						alert("Error " + resp.status);
					}
				});
			});
			
		};
		
		function disc_delete(key, div){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({
				strings: {{lang['disc_delete_popup']|safe}},
			});
			$('.popup-area').html(html);
			
			$('#cancel').click(function(){
				$('.popup-area').html('');
			});
			
			$('#close-popup').click(function(){
				$('.popup-area').html('');
			});
			
			$('#ok').click(function(){
				$('.popup-area').html('');
				$.ajax({
					type : 'DELETE',
					url : '/api/discount/' + key,
					success : function() {
						alert('discount deleted with success!');
						$(div).remove();
						//TODO: delete discount from list, do not change place
					},
					error : function(resp) {
						if(window.console){
							console.log(resp);
						}
						alert("Error " + resp.status);
					}
				});
			});
		};
		
		function loadDiscounts(){
			$.ajax({
				type : 'GET',
				url : '/api/discount?place={{place.key|e}}',
				success : function(data) {
					$('.loading').hide();
					discounts = data;
					
					avail_disc_list = [];
					new_disc_list = [];
					old_disc_list = [];
					
					if(discounts != undefined && discounts.length > 0){
						for(var i=0; i< discounts.length; i++){
							var d = discounts[i];
							if (d.published){
								if(new Date(moment(d.end_time)) < new Date()){
									old_disc_list.push(d);
								} else {
									avail_disc_list.push(d);
								}
							} else {
								new_disc_list.push(d);
							}
						}
					}
					
					if(window.console){
						console.log("Lists: " + avail_disc_list.length + ", " + new_disc_list.length + ", " + old_disc_list.length)
					}
					
					//load underscore template
					var xmlhttp = new XMLHttpRequest();
					xmlhttp.open("GET","/static/js_templates/discount_list.ejs",false);
					xmlhttp.send(null);
					var template = xmlhttp.responseText;
					var compiled = _.template(template);
					
					if(avail_disc_list == null || avail_disc_list.length < 1){
						$('#current_available').html('<p>{{ lang['no_discounts_list']}}</p>');
					} else {
						$('#disc-stats').html('Currently there are ' + avail_disc_list.length + ' available discounts.');
						var html = compiled({
							discounts : avail_disc_list, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: true, actions: true, available: true
						});
						$('#current_available').html(html);
						$('#current_available .countdown').each(function(){
							var end = $(this).attr('end-time');
							var diff = Math.floor((new Date(moment(end)) - new Date())/1000);
							$(this).countdown({
								until: '+'+diff+'s',
								format: 'dHMS',
								significant: 2,
								layout: '{d<}{dn} {dl} {d>}{h<}{hn} {hl} {h>}{m<}{mn} {ml} {m>}{s<}{sn} {sl}{s>}',
								{% if lang_name == 'it' %}
									labels: ['anni', 'mesi', 'settimane', 'giorni', 'ore', 'minuti', 'secondi'],
									labels1: ['anno', 'mese', 'settimana', 'giorno', 'ora', 'minuto', 'secondo'],
								{% else %}
									labels: ['years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds'],
									labels1: ['year', 'month', 'week', 'day', 'hour', 'minute', 'second'],
								{% endif %}
							});
							
						});
					}
					
					if(new_disc_list == null || new_disc_list.length < 1){
						$('#not_published').html('<p>{{ lang['no_discounts_list']}}</p>');
					} else {
						var html = compiled({
							discounts : new_disc_list, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: true, actions: true, available: true
						});
						$('#not_published').html(html);
						
						$('#not_published .countdown').each(function(){
							var end = $(this).attr('end-time');
							var diff = Math.floor((new Date(moment(end)) - new Date())/1000);
							$(this).countdown({
								until: '+'+diff+'s',
								format: 'dHMS',
								significant: 2,
								layout: '{d<}{dn} {dl} {d>}{h<}{hn} {hl} {h>}{m<}{mn} {ml} {m>}{s<}{sn} {sl}{s>}',
								{% if lang_name == 'it' %}
									labels: ['anni', 'mesi', 'settimane', 'giorni', 'ore', 'minuti', 'secondi'],
									labels1: ['anno', 'mese', 'settimana', 'giorno', 'ora', 'minuto', 'secondo'],
								{% else %}
									labels: ['years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds'],
									labels1: ['year', 'month', 'week', 'day', 'hour', 'minute', 'second'],
								{% endif %}
							});
							
						});
					}
					
					if(old_disc_list == null || old_disc_list.length < 1){
						$('#passed').html('<p>{{ lang['no_discounts_list']}}</p>');
					} else {
						var html = compiled({
							discounts : old_disc_list, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: true, actions: true, available: false
						});
						$('#passed').html(html);
						$('#passed .countdown').each(function(){
							var end = $(this).attr('end-time');
							var date_str = format_date(new Date(moment(end)), '{{lang['date_format']}}');
							$(this).html(date_str);						
						});
					}
					
					//add handlers for actions
					$('#edit').click(function(){
						var disc_id = $(this).attr('discount-id');
						window.location = '/discount/edit?id=' + disc_id;
					});
					
					$('#publish').click(function(){
						if(! $(this).hasClass('disabled')){
							var disc_id = $(this).attr('discount-id');
							disc_publish(disc_id);
						}
					});
					
					$('#delete').click(function(){
						if(! $(this).hasClass('disabled')){
							var disc_id = $(this).attr('discount-id');
							disc_delete(disc_id, $(this).parent().parent());
						}
					});
					
					
					$('#new-similar').click(function(){
						var disc_id = $(this).attr('discount-id');
						window.location = '/discount/edit?id=' + disc_id +'&new=true';
					});
					
					$('.disc-item .desc').click(function(){
						var disc_id = $(this).attr('discount-id');
						window.location = '/discount?id=' + disc_id;
					});
					
					
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			}); 
		}
		
		loadDiscounts();
		
		
		/* $('.discount-container.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		}); */
		
		var userpic = "{{ user.picture if not user.picture is none }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.left-menu.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});
		$('#back').click(function(){
			window.location = '/restaurant?id={{place.key|e}}'		
		});
			
		$('#change_rest').click(function(){
			window.location = '/owner/list';
		});
		
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		});
		
		$('.user-menu, .user-menu-small, #profile').click(function(){
			window.location = '/profile';
		});
		
		
		$('#new-discount').click(function(){
			var rest_id = "{{place.key if not place is none else '0'}}";
			window.location = '/discount/new?rest_id=' +rest_id;
			
		});
		
		
		function format_date(date, format){
			var day = date.getDate();
			if (day < 10){
				day = '0'+ day;
			}
			
			var month = date.getMonth()+1;
			if (month < 10){
				month = '0'+ month;
			}
			
			var year = date.getFullYear();
			
			var res = format.replace('mm', month).replace('dd', day).replace('yy', year);
			return res;
		};
		
	});
</script>


{% endblock %}
