{% extends "base.html" %} {% block main %}

<div class="full-background rest">
		<div class="top-bar rest-bar">
			<div class="bar-background"></div>
			<div class="menu-button">
				<button class="img-btn"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">
						{{ lang['welcome']}}<br />{{user.first_name}}
					</div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h2 class="text-bold user-name">{{ lang['welcome']}}
					{{user.first_name}}</h2>
			</div>
			<br />

			<ul class="menu-items">
				<li><button class="img-btn" id="disc_new">{{ lang['discount_new']}}</button></li>
				<li><button class="img-btn" id="rate-more">{{
						lang['rate_more']}}</button></li>
				<li><button class="img-btn" id="near-me">{{
						lang['near_me']}}</button></li>
				<li><button class="img-btn" id="logout">{{
						lang['log_out']}}</button></li>
			</ul>

		</div>

		<div class="rest-container scrollable">
			<h3>You are managing discounts for {{place.name|e}}</h3>
		
			Currently available discounts:
			<div id="current_available"></div>
			
			New discounts (not published yet):
			<div id="not_published"></div>
			
			Old discounts:
			<div id="passed"></div>
			
		</div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">

$(window).ready(function() {
	var window_height = $('.rest').height();
	var bar_height = $('.top-bar').height();
	$('.rest-container.scrollable').height(window_height - bar_height - 40);
	
});

	$(window).load(function() {
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		function loadDiscounts(){
			$.ajax({
				type : 'GET',
				url : '/api/discount?place={{place.key|e}}&published=true&passed=false',
				success : function(data) {
					$('.loading').hide();
					discounts = data;
					
					avail_disc_list = [];
					new_disc_list = [];
					old_disc_list = [];
					
					if(discounts != undefined && discounts.length > 0){
						for(var i=0; i< discounts.length; i++){
							var d = discounts[i];
							console.log(JSON.stringify(d))
							if (d.published){
								if(Date.parse(d.end_time) < new Date()){
									old_disc_list.push(d);
									console.log('saved in old')
								} else {
									avail_disc_list.push(d);
									console.log('saved in avail')
								}
							} else {
								new_disc_list.push(d);
								console.log('saved in new')
							}
						}
					}
					
					if(window.console){
						console.log("Lists: " + avail_disc_list.length + ", " + new_disc_list.length + ", " + old_disc_list.length)
					}
					
					//load underscore template
					var xmlhttp = new XMLHttpRequest();
					xmlhttp.open("GET","/static/js_templates/discount_list.ejs",false);
					xmlhttp.send(null);
					var template = xmlhttp.responseText;
					var compiled = _.template(template);
					
					if(avail_disc_list == null || avail_disc_list.length < 1){
						$('#current_available').html('<p>{{ lang['no_discounts']}}</p>');
					} else {
						var html = compiled({
							discounts : avail_disc_list, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: true
						});
						$('#current_available').html(html);
					}
					
					if(new_disc_list == null || new_disc_list.length < 1){
						$('#not_published').html('<p>{{ lang['no_discounts']}}</p>');
					} else {
						var html = compiled({
							discounts : new_disc_list, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: true
						});
						$('#not_published').html(html);
					}
					
					if(old_disc_list == null || old_disc_list.length < 1){
						$('#passed').html('<p>{{ lang['no_discounts']}}</p>');
					} else {
						var html = compiled({
							discounts : old_disc_list, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: true
						});
						$('#passed').html(html);
					}
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			}); 
		}
		
		loadDiscounts();
		
		
		$('.rest-container.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		});
		
		var userpic = "{{ user.picture if not user.picture is none }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				$('.left-menu.scrollable').enscroll({
				    showOnHover: false,
				    verticalScrolling: true,
					horizontalScrolling: false,
					zIndex: 100,
				    verticalTrackClass: 'track-white',
				    verticalHandleClass: 'handle-white'
				});
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});

		$('#disc_new').click(function(){
			window.location = '/discount/new?rest_id={{place.key|e}}';
		});
		$('#rate-more').click(function(){
			window.location = '/ratings'
		});
		$('#near-me').click(function(){
			window.location = '/letsgo'
		});
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		});
		
		$('.user-menu, .user-menu-small').click(function(){
			window.location = '/profile/1';
		});
		
	});
</script>


{% endblock %}
