{% extends "base.html" %} {% block main %}

<div class="full-background disc-edit">
		<div class="app-bar">
		<!-- <div class="bar-background"></div> -->
		<div class="menu-button">
			<button class="img-btn" id="menu-button"></button>
			<div class="user-menu-small desktop">
				<div class="user-picture"></div>
				<div class="text-bold user-name">
					{{user.first_name}}
				</div>
			</div>
			<div class="clear-float"></div>
		</div>
		<div class="logo"></div>
		<div class="actions">
		</div>
	</div>
		
		<div class="left-menu scrollable" id="left-menu" style="display: none;">
			<div class="user-menu">
				<div class="user-picture"></div>
				<h3 class="text-bold user-name">
					{{user.first_name}}</h3>
			</div>

			<ul class="menu-items">
				<li><button class="img-btn" id="back" onclick="window.history.back()">{{
						lang['back']}}</button></li>
				<li><button class="img-btn" id="back-rest">{{ lang['back_to_rest']}}</button></li>
				<li class="separator white"></li>
				<li><button class="img-btn no-border" id="back_dlist">{{ lang['discount_list_all']}}</button></li>
				<li><button class="img-btn" id="change_rest">{{ lang['change_rest']}}</button></li>
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>

		</div>

	<div class="main-container">
		
		<div class="content">
			
			<div class="text-title text-center">{{ lang['discount_edit'] if is_new != 'True' else lang['discount_new'] }}</div>
			
			<div class="separator"></div>
			
			<div class="edit-form">
				<div class="row">
					<div class="text-all-capital">{{ lang['discount_title']}} (EN) </div>
					<div class="form-input">
						<input type="text" id="discount_title_en" name="discount_title_en" value="{{discount.title_en if not discount.title_en is none}}">
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['discount_title']}} (IT) </div>
					<div class="form-input">
						<input type="text" id="discount_title_it" name="discount_title_it" value="{{discount.title_it if not discount.title_it is none}}">
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['discount_description']}} (EN) </div>
					<div class="form-input">
						<textarea id="discount_description_en" name="discount_description_en">{{discount.description_en if not discount.description_en is none}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['discount_description']}} (IT) </div>
					<div class="form-input">
						<textarea id="discount_description_it" name="discount_description_it">{{discount.description_it if not discount.description_it is none}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['discount_num_coupons']}} </div>
					<div class="form-input">
						<input type="number" id="num_coupons" name="num_coupons" value="{{discount.num_coupons if not discount.num_coupons is none else 0}}">
					</div>
				</div>
				
				<div class="row">
					<div class="text-all-capital">{{ lang['discount_end']}} </div>
					<div class="form-input">
						<input type="text" id="discount_end" name="discount_end" value="{{discount.end_time if not discount.end_time is none}}">
					</div>
				</div>

				<input type="button" class="img-btn save center"
					value="{{ lang['save']}}" />
			

		</div>
	</div>
	<div class="popup-area"></div>
	</div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript" src="/static/js/jquery.simple-dtpicker.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		$('#discount_end').appendDtpicker();
		
		function saveDiscount(){
			
				var self = this;
				
				var title_en = $('#discount_title_en').val();
				var title_it = $('#discount_title_it').val();
				var description_en = $('#discount_description_en').val();
				var description_it = $('#discount_description_it').val();
				var num_coupons = $('#num_coupons').val();
				var discount_end = $('#discount_end').val();
				
				var discount = {
					'title_en' : title_en,
					'title_it' : title_it,
					'description_en': description_en,
					'description_it': description_it,
					'place': '{{ discount.place }}',
					'num_coupons': num_coupons,
					'end_time': discount_end
				}
				
				var key = '{{discount.key if not discount.key is none}}';
				var url = '/api/discount';
				var method = 'POST';
				{% if not is_new %}
				if (key != undefined && key.length > 0){
					url += '/' + key;
					method = 'PUT';
				}
				{% endif %}
				$.ajax({
					type : method,
					url : url,
					data : JSON.stringify(discount),
					success : function(discount) {
						window.location = '/discount?id=' + discount.key
					},
					error : function(resp) {
						
							if(window.console){
								console.log(resp);
							}
							if(resp.status == 403){
								show_error({{lang['unauthorized_error']|safe}});
							} else {
								show_error({{lang['discount_save_error']|safe}});
							}
						
					},
					headers : {
						Authorization : auth
					}
				});
			
		}
		
		var userpic = "{{ user.picture|e }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.left-menu.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});
		
		$('#back-rest').click(function(){
			window.location = '/restaurant?id={{discount.place|e}}'		
		});
		
		$('#back_dlist').click(function(){
			window.location = '/discount/list?rest_id={{discount.place|e}}'
		});
			
		$('#change_rest').click(function(){
			window.location = '/owner/list';
		});
		
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					show_error({{lang['logout_error']|safe}});
				}
			});
		});
		
		$('.save').click(function(){
			saveDiscount();
		});
		
	});
</script>


{% endblock %}
