{% extends "base.html" %} {% block main %}

<div class="full-background rest">
		<div class="top-bar rest-bar">
			<div class="bar-background"></div>
			<div class="menu-button">
				<button class="img-btn" id="menu-button"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">
						{{user.first_name}}
					</div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable" id="left-menu" style="display: none;">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h3 class="text-bold user-name">
					{{user.first_name}}</h3>
				<div class="clear-float"></div>
			</div>

			<ul class="menu-items">
				{% if owner %}
					<li><button class="img-btn" id="back_rest">{{ lang['back_to_rest']}}</button></li>
					<li class="separation"></li>
					<li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li>
					<li><button class="img-btn" id="back_dlist">{{ lang['discount_list_all']}}</button></li>
					<li><button class="img-btn" id="change_rest">{{ lang['change_rest']}}</button></li>
				{% else %}
					<!-- <li><button class="img-btn" id="back_rest">{{ lang['back_to_rest']}}</button></li> -->
					<!-- <li class="separation"></li> -->
					<li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li>
					<li><button class="img-btn" id="coupons">{{ lang['my_coupons']}}</button></li>
					<li><button class="img-btn" id="rate-more">{{ lang['rate_more']}}</button></li>
					<li><button class="img-btn" id="near-me">{{ lang['near_me']}}</button></li>
				{% endif %}
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>

		</div>

		<div class="discount-container">
		
			<h2 class="center-text">{{ discount.title }} - <a class="title rest-clickable" href="/restaurant?id={{discount.place}}">{{place_name}}</a></h2>
			
			<div class="black-text">
			<p>{{discount.description}}</p>
			
			<p><span class="countdown-text"></span> <span class="countdown" end-time="{{discount.end_time}}"></span></p>
			
			<p>{{lang['discount_strings']['coupons']}}: {{discount.available_coupons}} / {{discount.num_coupons}}</p>
			
			{% if owner %}
				<p id="published">{{ lang['published'] if discount.published else lang['not_published'] }}</p>
			
				<button class="img-btn red-button" id="edit">{{lang['discount_strings']['edit']}}</button>
				<button class="img-btn red-button {% if discount.published %} disabled {% endif %}" id="publish">{{lang['discount_strings']['publish']}}</button>
				<button class="img-btn red-button {% if discount.published %} disabled {% endif %}" id="delete">{{lang['discount_strings']['delete']}}</button>
				<br/>
				{% if not discount.coupons is none and discount.coupons|length > 0 %}
				<h4 class="coupons-title">{{lang['discount_strings']['coupons']}}</h4>
					<ul class="disc-coupon-list">
						{% for coupon in discount.coupons %}
							<li class="coupon">
								<p>{{coupon.code}}, {{lang['bought']}} <span class="time">{{coupon.buy_time}}</span>{% if coupon.used %}, {{ lang['used']}} <span class="time">{{coupon.usage_time}}</span> {% endif %}{% if coupon.deleted %}, {{ lang['deleted']}} <span class="time">{{coupon.delete_time}}</span> {% endif %}</p>
								<!-- {% if not coupon.used and not coupon.deleted %}<button class="img-btn red-button use-button" coupon-code="{{coupon.code}}" id="use">{{ lang['use']}}</button>{% endif %} -->
								<div class="clear-float"></div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			
			{% else %}
				{% if discount.coupons is none or discount.coupons|length < 1 or discount.coupons[0].deleted %}
					<button class="img-btn red-button" id="buy">{{lang['discount_strings']['buy']}}</button>
				{% else %}
					<br/>
					<div class="coupon">
						<p> {{lang['you_have_coupon_code']}} {{discount.coupons[0].code}}</p>
						{% if discount.coupons[0].used %}
							<p class="used"> {{lang['coupon_used_date']}}: {{discount.coupons[0].usage_time}}</p>
						{% endif %}
						{% if discount.coupons[0].deleted %}
							<p class="deleted"> {{lang['coupon_deleted_date']}}: {{discount.coupons[0].delete_time}}</p>
						{% endif %}					
						{% if not discount.coupons[0].used and not discount.coupons[0].deleted %}
							<button class="img-btn red-button use-button" coupon-code="{{discount.coupons[0].code}}" id="use">{{ lang['use']}}</button>
							<button class="img-btn red-button" id="delete-coupon" discount-id="{{ discount.key }}" coupon-code="{{discount.coupons[0].code}}">{{lang['discount_strings']['delete']}} {{lang['discount_strings']['coupon']}}</button>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
			</div>
		</div>
		
		<div class="popup-area"></div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">

	$(window).load(function() {
		
		show_dates();
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		$('.countdown').each(function(){
			var end = $(this).attr('end-time');
			var diff = Math.floor((new Date(moment(end)) - new Date())/1000);
			if(diff >= 0){
				$(this).parent().find('.countdown-text').html('{{ lang['discount_strings']['available_till']}}');
				$(this).countdown({
					until: '+'+diff+'s',
					format: 'dHMS',
					significant: 2,
					layout: '{d<}{dn} {dl} {d>}{h<}{hn} {hl} {h>}{m<}{mn} {ml} {m>}{s<}{sn} {sl}{s>}',
					{% if lang_name == 'it' %}
					labels: ['anni', 'mesi', 'settimane', 'giorni', 'ore', 'minuti', 'secondi'],
					labels1: ['anno', 'mese', 'settimana', 'giorno', 'ora', 'minuto', 'secondo'],
					{% else %}
					labels: ['years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds'],
					labels1: ['year', 'month', 'week', 'day', 'hour', 'minute', 'second'],
					{% endif %}
				});
			} else {
				$(this).parent().find('.countdown-text').html('{{ lang['discount_strings']['expired_at']}}');
				var date_str = format_date(new Date(moment(end)), '{{lang['date_format']}}');
				$(this).html(date_str);
			}
			
		});
		
		
		function disc_publish(){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({
				strings: {{lang['disc_publish_popup']|safe}},
			});
			$('.popup-area').html(html);
			
			$('#cancel').click(function(){
				$('.popup-area').html('');
			});
			
			$('#close-popup').click(function(){
				$('.popup-area').html('');
			});
			
			$('#ok').click(function(){
				$('.popup-area').html('');
				$.ajax({
					type : 'GET',
					url : '/api/discount/{{discount.key}}/publish',
					success : function() {
						$('#published').html('{{ lang['published']}}');
					},
					error : function(resp) {
						if(window.console){
							console.log(resp);
						}
						alert("Error " + resp.status);
					}
				});
			});
		};
		
		function disc_delete(){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({
				strings: {{lang['disc_delete_popup']|safe}},
			});
			$('.popup-area').html(html);
			
			$('#cancel').click(function(){
				$('.popup-area').html('');
			});
			
			$('#close-popup').click(function(){
				$('.popup-area').html('');
			});
			
			$('#ok').click(function(){
				$('.popup-area').html('');
				$.ajax({
					type : 'DELETE',
					url : '/api/discount/{{discount.key}}',
					success : function() {
						alert('discount deleted with success!')
						window.location = '/restaurant?id={{discount.place}}'
					},
					error : function(resp) {
						if(window.console){
							console.log(resp);
						}
						alert("Error " + resp.status);
					}
				});
			});
		};
		
		function create_coupon(){
			$.ajax({
				type : 'POST',
				url : '/api/discount/{{discount.key}}/coupon',
				body : '{}',
				success : function(coupon) {
					if(window.console){
						console.log('Coupon created: ' + JSON.stringify(coupon));
					}
					location.reload();
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					if(resp.status == 409){
						alert('{{ lang['already_have_coupon']}}');
					} else {
						alert("Error " + resp.status);
					}
				}
			});
		};
		
		function use_coupon(code){
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({
				strings: {{lang['disc_usecoupon_popup']|safe}},
			});
			$('.popup-area').html(html);
			
			$('#cancel').click(function(){
				$('.popup-area').html('');
			});
			
			$('#close-popup').click(function(){
				$('.popup-area').html('');
			});
			
			$('#ok').click(function(){
				$('.popup-area').html('');
				$.ajax({
					type : 'GET',
					url : '/api/discount/{{discount.key}}/coupon/use?code=' + code,
					success : function(coupon) {
						if(window.console){
							console.log('Coupon used: ' + JSON.stringify(coupon));
						}
						location.reload();
					},
					error : function(resp) {
						if(window.console){
							console.log(resp);
						}
						alert("Error " + resp.status);
					}
				});
			});
		}
		
		$('#delete-coupon').click(function(){
			var key = $(this).attr('discount-id');
			var code = $(this).attr('coupon-code');
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({
				strings: {{lang['coup_delete_popup']|safe}},
			});
			$('.popup-area').html(html);
			
			$('#cancel').click(function(){
				$('.popup-area').html('');
			});
			
			$('#close-popup').click(function(){
				$('.popup-area').html('');
			});
			
			$('#ok').click(function(){
				$('.popup-area').html('');
				$.ajax({
					type : 'DELETE',
					url : '/api/discount/'+key+'/coupon?code=' + code,
					success : function() {
						alert('coupon deleted with success!');
						location.reload();
						
					},
					error : function(resp) {
						if(window.console){
							console.log(resp);
						}
						alert("Error " + resp.status);
					}
				});
			});
		});
		
		var userpic = "{{ user.picture if not user.picture is none }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.left-menu.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});
		
		$('#back_dlist').click(function(){
			window.location = 'discount/list?rest_id={{discount.place}}'		
		});
		$('#back_rest').click(function(){
			window.location = '/restaurant?id={{discount.place}}'		
		});
		$('#change_rest').click(function(){
			window.location = '/owner/list';
		});
		$('#coupons').click(function(){
			window.location = '/my-coupons';
		});
		$('#rate-more').click(function(){
			window.location = '/ratings';
		});
		$('#near-me').click(function(){
			window.location = '/letsgo';
		});
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		});
		
		$('.user-menu, .user-menu-small, #profile').click(function(){
			window.location = '/profile';
		});
		
		$('#edit').click(function(){
			window.location = '/discount/edit?id={{discount.key}}'
		});
		
		$('#publish').click(function(){
			disc_publish();
		});
		
		$('#delete').click(function(){
			disc_delete();
		});
		
		$('#buy').click(function(){
			create_coupon();
		});
		
		$('#use').click(function(){
			var code = $(this).attr('coupon-code');
			use_coupon(code);
		});
		
		function show_dates(){
			{% if not discount.coupons is none and discount.coupons|length > 0 and not discount.coupons[0].deleted %}
			var coupon_usage = '{{discount.coupons[0].usage_time}}';
			var coupon_delete = '{{discount.coupons[0].delete_time}}';
			
			var usage_time = format_date(new Date(moment(coupon_usage)), '{{lang['date_time_format']}}');
			var delete_time = format_date(new Date(moment(coupon_delete)), '{{lang['date_time_format']}}');
			
			$('p.used').html('{{lang['coupon_used_date']}}: ' + usage_time);
			$('p.deleted').html('{{lang['coupon_deleted_date']}}: ' + delete_time);
			{% endif %}
			
			$('span.time').each(function(){
				var time = $(this).html();
				time = format_date(new Date(moment(time)), '{{lang['date_time_format']}}');
				$(this).html(time)
			});
		};
		
		
		function format_date(date, format){
			var day = date.getDay();
			if (day < 10){
				day = '0'+ day;
			}
			
			var month = date.getMonth()+1;
			if (month < 10){
				month = '0'+ month;
			}
			
			var year = date.getFullYear();
			
			var hours = date.getHours();
			if (hours < 10){
				hours = '0'+ hours;
			}
			var minutes = date.getMinutes();
			if (minutes < 10){
				minutes = '0'+ minutes;
			}
			
			var res = format.replace('mm', month).replace('dd', day).replace('yy', year).replace('hh', hours).replace('MM', minutes);
			return res;
		};
		

	});
</script>


{% endblock %}
