{% extends "base.html" %} {% block main %}

<div class="full-background rest">
		<div class="top-bar rest-bar">
			<div class="bar-background"></div>
			<div class="menu-button">
				<button class="img-btn"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">
						{{ lang['welcome']}}<br />{{user.first_name}}
					</div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h2 class="text-bold user-name">{{ lang['welcome']}}
					{{user.first_name}}</h2>
			</div>
			<br />

			<ul class="menu-items">
				{% if owner %}
					<li><button class="img-btn" id="back_dlist">{{ lang['back_to_dlist']}}</button></li>
					<li><button class="img-btn" id="back_rest">{{ lang['back_to_rest']}}</button></li>
					<li><button class="img-btn" id="change_rest">{{ lang['change_rest']}}</button></li>
				{% else %}
					<li><button class="img-btn" id="back_rest">{{ lang['back_to_rest']}}</button></li>
				{% endif %}
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>

		</div>

		<div class="discount-container">
		
			<h2 class="center-text">{{ discount.title }} - for {{place_name}}</h2>
			
			<p>{{discount.description}}</p>
			
			<p>{{ lang['discount_strings']['available_till']}} {{discount.end_time}}</p>
			
			<p>{{lang['discount_strings']['coupons']}}: {{discount.available_coupons}} / {{discount.num_coupons}}</p>
			
			{% if owner %}
				<p id="published">{{ 'Published' if discount.published else 'Not published' }}</p>
			
				<button class="img-btn red-button" id="edit">{{lang['discount_strings']['edit']}}</button>
				<button class="img-btn red-button {% if discount.published %} disabled {% endif %}" id="publish">{{lang['discount_strings']['publish']}}</button>
				<button class="img-btn red-button {% if discount.published %} disabled {% endif %}" id="delete">{{lang['discount_strings']['delete']}}</button>
			
				<br/>
				{% if not discount.coupons is none and discount.coupons|length > 0 %}
					<ul class="coupon-list">
						{% for coupon in discount.coupons %}
							<li class="coupon">
								<p>{{coupon.code}}, bought {{coupon.buy_time}}, {% if coupon.used %} used at {{coupon.usage_time}} {% endif %}</p>
								{% if not coupon.used %}<button class="img-btn red-button" coupon-code="{{coupon.code}}" id="use">Use</button>{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			
			{% else %}
				{% if discount.coupons is none or discount.coupons|length < 1 or discount.coupons[0].deleted %}
					<button class="img-btn red-button" id="buy">{{lang['discount_strings']['buy']}}</button>
				{% else %}
					<br/>
					<div class="coupon">
						<p> You have a coupon, with code {{discount.coupons[0].code}}</p>
						{% if discount.coupons[0].used %}
							<p> The coupon has been already used in date: {{discount.coupons[0].usage_time}}
						{% endif %}					
					</div>
				{% endif %}
			{% endif %}
		</div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript">

$(window).ready(function() {
	var window_height = $('.rest').height();
	var bar_height = $('.top-bar').height();
	$('.rest-container.scrollable').height(window_height - bar_height - 40);
	
});

	$(window).load(function() {
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		function disc_publish(){
			$.ajax({
				type : 'GET',
				url : '/api/discount/{{discount.key}}/publish',
				success : function() {
					$('#published').html('Published');
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		};
		
		function disc_delete(){
			$.ajax({
				type : 'DELETE',
				url : '/api/discount/{{discount.key}}',
				success : function() {
					alert('discount deleted with success!')
					window.location = '/restaurant?id={{discount.place}}'
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		};
		
		function create_coupon(){
			$.ajax({
				type : 'POST',
				url : '/api/discount/{{discount.key}}/coupon',
				body : '{}',
				success : function(coupon) {
					if(window.console){
						console.log('Coupon created: ' + JSON.stringify(coupon));
					}
					location.reload();
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		};
		
		function use_coupon(code){
			$.ajax({
				type : 'GET',
				url : '/api/discount/{{discount.key}}/coupon/use?code=' + code,
				success : function(coupon) {
					if(window.console){
						console.log('Coupon used: ' + JSON.stringify(coupon));
					}
					location.reload();
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		}
		
		
		$('.rest-container.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		});
		
		var userpic = "{{ user.picture if not user.picture is none }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				$('.left-menu.scrollable').enscroll({
				    showOnHover: false,
				    verticalScrolling: true,
					horizontalScrolling: false,
					zIndex: 100,
				    verticalTrackClass: 'track-white',
				    verticalHandleClass: 'handle-white'
				});
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		$('#back_dlist').click(function(){
			window.location = 'discount/list?rest_id={{discount.place}}'		
		});
		$('#back_rest').click(function(){
			window.location = '/restaurant?id={{discount.place}}'		
		});
		$('#change_rest').click(function(){
			window.location = '/owner/list';
		});
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		});
		
		$('.user-menu, .user-menu-small').click(function(){
			window.location = '/profile/1';
		});
		
		$('#edit').click(function(){
			window.location = '/discount/edit?id={{discount.key}}'
		});
		
		$('#publish').click(function(){
			disc_publish();
		});
		
		$('#delete').click(function(){
			disc_delete();
		});
		
		$('#buy').click(function(){
			create_coupon();
		});
		
		$('#use').click(function(){
			var code = $(this).attr('coupon-code');
			use_coupon(code);
		});
		

	});
</script>


{% endblock %}
