
{% extends "base.html" %} {% block main %}

<div class="full-background home">
	<div class="home-container">
		<div class="home-logo"></div>
		<div class="login">
			<p class="title">Login</p>
			<a class="img-btn" href="{{google}}"><img class="google-btn" src="/static/images/google.png"/></a> 
			<a class="img-btn" href="{{facebook}}"><img class="fb-btn" src="/static/images/facebook.png"/></a>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(window).ready(function() {
		localStorage.removeItem("reclist");
		localStorage.removeItem("reclist_time");

		localStorage.removeItem("gpsPosition");
		localStorage.removeItem("positionCity");
		localStorage.removeItem("positionLat");
		localStorage.removeItem("positionLon");
	});
</script>

{% endblock %}