{% extends "base.html" %} {% block main %}
<div class="full-background letsgo">
	<!-- <img class="rest-image" src="/static/images/home_background.png"/> -->

	<div class="loading">
		<img src="/static/images/ajax-loader.gif">
		<p class="loading-message"></p>
	</div>
	
	<div class="top-bar">
		<div class="menu-button">
			<button class="img-btn"></button>
			<div class="user-menu-small clickable">
				<div class="user-picture"></div>
				<div class="text-bold user-name">{{ lang['welcome']}}<br/> </div>
			</div>
		</div>
		<div class="rest-logo"></div>
		<div class="refresh-button">
			<button class="img-btn" id="refresh"></button>
		</div>
	</div>
	
	<div class="rest-details">
		<button class="img-btn prev"></button>
		<div class="main clickable">
			<p class="center-text first">{{ lang['in_this_picture']}}</p>
			<p class="name">{{ lang['restaurant_name']}}</p>
			<p class="address">{{ lang['address']}}</p>
			<p class="distance">{{ lang['distance']}}: 100 m</p>
		</div>
		<button class="img-btn next"></button>
	</div>
	
	<div class="left-menu scrollable">
		<div class="user-menu clickable">
			<div class="user-picture"></div>
			<h2 class="text-bold user-name">{{ lang['welcome']}}</h2>
		</div>
		<br/>
		
		<ul class="menu-items">
			<li><button class="img-btn" id="rate-more">{{ lang['rate_more']}}</button></li>
			<!-- <li><button class="img-btn" id="refresh">{{ lang['refresh']}}</button></li> -->
			<!-- <li><button class="img-btn selected" id="near-me">{{ lang['near_me']}}</button></li> -->
			<!-- <li><button class="img-btn" id="discounts">{{ lang['discounts']}}</button></li> -->
			<!-- <li><button class="img-btn" id="inspire-me">{{ lang['inspire_me']}}</button></li> -->
			<li><button class="img-btn" id="settings">{{ lang['search_settings']}}</button></li>
			{% if user_role == 'admin' %}
				<li><button class="img-btn" id="new-rest">{{ lang['rest_new'] }}</button></li>
				<li><button class="img-btn" id="edit-rest">{{ lang['rest_edit'] }}</button></li>
			{% endif %}
			{% if user_role == 'owner' %}
				<li><button class="img-btn" id="edit-rest-owner">{{ lang['rest_edit'] }}</button></li>
			{% endif %}
			<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
		</ul>
	
	</div>

</div>

<div class="popup-area"></div>




<!-- <ul id="places">

	{% if not list %}
	<p>Loading...</p>
	{% endif %}
	
	{% for rest in list %}
	<li>

		<div>
			<p>{{rest.name}}</p>
			<p>{{rest.address.street}}, {{rest.address.city}}</p>
		</div>
		<ul>
			{% for rating in rest.ratings %}
			<li>User {{rating.user.id()}} rated {{rating.value}} for purpose
				{{rating.purpose}}</li> {% endfor %}
		</ul>

	</li> {% endfor %}
</ul> -->



{% endblock %} {% block scripts %}

<script type="text/javascript">

$(window).load(function() {
	var reclist_cachetime = 1000 * 60 * 30; // 30 minutes of cache of recommendations
	var user = {{user|safe}};
	var places = [];
	var pos = 0;
	var reclist = localStorage.reclist;
	if (reclist != undefined ){
		reclist = JSON.parse(reclist);
		if (reclist.length > 0 && (localStorage.reclist_time + reclist_cachetime) > Date.now()){
			places = reclist;
			$('.loading').hide();
			renderPlace(pos);
		} else {
			localStorage.removeItem("reclist");
			localStorage.removeItem("reclist_time");
			reclist = undefined;
		}
	} else {
		if (navigator.geolocation) {
			$('.loading-message').html('Getting your position');
	    	navigator.geolocation.getCurrentPosition(showRecommendations);
		} else { 
	    	alert('{{ lang['no_geolocation']}}');
		}
	}

	function renderPlace(pos){
		if(window.console){
			console.log("Showing place " + pos + " of " + places.length);
		}
		//enable prev and next buttons
		$('.rest-details .prev').removeClass('disabled');
		$('.rest-details .next').removeClass('disabled');
		if(pos >= places.length-1){
			//disable next button
			$('.rest-details .next').addClass('disabled');
		}
		if(pos == 0){
			//disable prev button
			$('.rest-details .prev').addClass('disabled');
		}
		
		var p = places[pos];
		$('.rest-details .name').html(p.name);
		$('.rest-details .address').html(p.address.street + ', ' + p.address.city);
		
		if(p.distance){
			
			var meters = Math.round(p.distance);
			var text = '{{ lang['distance']}}' + ': ';
			if(meters < 1000){
				text += meters + ' m';
			} else {
				km = meters / 1000;
				text += km.toFixed(2) + ' km';
			}
			$('.rest-details .distance').html(text);
			$('.rest-details .distance').show();
		} else {
			$('.rest-details .distance').hide();
		}
		
		var picture = p.picture;
		if(picture == undefined || picture == '' || picture == 'null'){
			picture = '/static/images/empty_big.png';
		}
		$('.letsgo').css('background-image', 'url(' + picture + ')');
	}

	function showRecommendations(position) {
		$('.loading-message').html('Loading your search settings');
		var settings = user.settings; 
		if(settings == undefined){
			settings = {purpose: 'dinner with tourists', max_distance: 1000, num_places: 5};
		} else {
			if (settings.purpose == undefined){
				settings.purpose = 'dinner with tourists';
			}
			if (settings.max_distance == undefined){
				settings.max_distance = 1000;
			}
			if(settings.num_places == undefined){
				settings.num_places = 5
			}
		}
		
		
		url = '/recommender/?lat=' + position.coords.latitude + '&lon=' + position.coords.longitude + 
				'&max_dist='+ settings.max_distance+'&purpose=' + settings.purpose + '&n=' + settings.num_places;
		$('.loading-message').html('Loading the places around you');
	    $.ajax({
			type : 'GET',
			url : url,
			success : function(data) {
				$('.loading').hide();
				places = data;
				
				if(places == null || places.length < 1){
					alert('{{ lang['no_places_position']}}');
				} else {
					localStorage.reclist = JSON.stringify(places);
					localStorage.reclist_time = Date.now();
					renderPlace(pos);
				}
			},
			error : function(resp) {
				if(window.console){
					console.log(resp);
				}
				alert("Error " + resp.status);
			}
		}); 
	}
	
	$('.user-name').append(' '+user.first_name);
	
	
	
	
	function onNext(){
		if(pos < places.length-1){
			pos += 1;
			renderPlace(pos);
		} else {
			//there are no more places after the one already shown
			//do nothing
		}
	}
	
	function onPrev(){
		if(pos > 0 ){
			pos -= 1;
			renderPlace(pos);
		} else {
			//there are no places before the one already shown
			//do nothing
		}
	}
	
	$('.rest-details .next').click(onNext);
	$('.rest-details .prev').click(onPrev);
	$('.rest-details .main').click(function(){
		var p = places[pos];
		window.location = '/restaurant?id=' + p.key;
	});
	
	
	
	
	
	$('.left-menu').hide();
	var window_width = $('.letsgo').width();
	var count = 1;
	$('.menu-button button').click(function(){
		if(count % 2 == 1){
			//odd time --> open left menu
			$('.left-menu').show();
			if(window_width > 600){
				$('.user-menu-small').hide();
			}
			$('.scrollable').enscroll({
			    showOnHover: false,
			    verticalScrolling: true,
				horizontalScrolling: false,
				zIndex: 100,
			    verticalTrackClass: 'track-white',
			    verticalHandleClass: 'handle-white'
			});
			count++;
		} else {
			//even time --> close left menu
			$('.left-menu').hide();
			// show user menu small if width larger than 600px
			if(window_width > 600){
				$('.user-menu-small').show();
			}
			count++;
		}
		
	});
	
	var userpic = user.picture;
	if(userpic != undefined && userpic.length > 0){	
		$('.user-picture').css('background-image', 'url(' + userpic + ')');
	}
	
	$('.user-menu, .user-menu-small').click(function(){
		window.location = '/profile/1';
	});
	
	$('#logout').click(function(){
		$.ajax({
			type : 'DELETE',
			url : '/api/user/login',
			success : function() {
				window.location = '/';
			},
			error : function(resp) {
				if(window.console){
					console.log(resp);
				}
				alert("Error " + resp.status);
			}
		});
	});

	$('#discounts').click(function(){
		alert('{{ lang['coming_soon']}}');
	});
	
	$('#inspire-me').click(function(){
		alert('{{ lang['coming_soon']}}');
	});
	
	$('#settings').click(function(){
		
		// var settings ={{(user.settings|e) if user.settings is not none else 'undefined'}}; 
		var user = {{user|safe}};
		var settings =user.settings; 
		if(settings == undefined){
			settings = {purpose: 'dinner with tourists', max_distance: 1000, num_places: 5};
		}
		
		//load underscore template
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET","/static/js_templates/settings_popup.ejs",false);
		xmlhttp.send(null);
		var template = xmlhttp.responseText;
		var compiled = _.template(template);
		var html = compiled({settings: settings, strings: {{lang['search_settings_popup']|safe}} });
		$('.popup-area').html(html);
		
		$('.popup-area').show();
		
		$('.popup-scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 320,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		});
		
		$('#close-popup').click(function(){
			$('.popup-area').html('');
		});
		
		$('.settings-popup .save').click(function(){
			localStorage.removeItem("reclist");
			localStorage.removeItem("reclist_time");
			$('.settings-popup form').submit();
		});
	});
	
	$('#rate-more').click(function(){
		window.location = '/ratings';
	});
	
	$('#new-rest').click(function(){
		window.location = '/restaurant/new';
	});
	
	$('#edit-rest').click(function(){
		window.location = '/restaurant/edit';
	});
	
	$('#edit-rest-owner').click(function(){
		window.location = '/owner/list';
	});
	
	$('#refresh').click(function(){
		$('.loading').show();
		if (navigator.geolocation) {
			$('.loading-message').html('Getting your position');
	    	navigator.geolocation.getCurrentPosition(showRecommendations);
		} else { 
	    	alert('{{ lang['no_geolocation']}}');
		}
	});
	
	
});
</script>

{% endblock %}
