{% extends "base.html" %} {% block main %}
<div class="full-background my-coupons">
	<div class="app-bar">
		<!-- <div class="bar-background"></div> -->
		<div class="menu-button">
			<button class="img-btn" id="menu-button"></button>
			<div class="user-menu-small clickable desktop">
				<div class="user-picture"></div>
				<div class="text-bold user-name">
					{{user.first_name}}
				</div>
			</div>
			<div class="clear-float"></div>
		</div>
		<div class="logo"></div>
		<div class="actions">
		</div>
	</div>
	
	<div class="left-menu scrollable" id="left-menu" style="display: none;">
		<div class="user-menu clickable">
			<div class="user-picture"></div>
			<h3 class="text-bold user-name"> {{user.first_name}}</h3>
			<div class="clear-float"></div>
		</div>
		<ul class="menu-items">
			<!-- <li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li> -->
			<li><button class="img-btn selected" id="coupons"> > {{lang['my_coupons']}}</button></li>
			<li><button class="img-btn" id="rate-more">{{ lang['rate_more']}}</button></li>
			<li><button class="img-btn" id="near-me">{{ lang['near_me']}}</button></li>
			<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
		</ul>
	
	</div>
	
	<div class="main-container">
		<div class="content">
		<div class="text-title text-center">{{lang['your_coupons']}}</div>
			
		<div class="separator"></div>
	
		<p class="coupon-list-title text-big text-red-bold text-center ">{{ lang['active_coupons'] }} </p>
		<div class="coupon-list" id="current_available"></div>
	
		<div class="separator"></div>
	
		<p class="coupon-list-title text-big text-red-bold text-center">{{ lang['used_coupons'] }} </p>
		<div class="coupon-list scrollable" id="used"></div>
		
		</div>
		<div class="popup-area"></div>
	</div>
	
</div>
	
{% endblock %} {% block scripts %}

<script type="text/javascript">

$(window).load(function() {
	
	function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ')
				c = c.substring(1);
			if (c.indexOf(name) != -1)
				return c.substring(name.length, c.length);
		}
		return "";
	};
	
	var auth = getCookie('user');
	
	function loadDiscounts(){
		$.ajax({
			type : 'GET',
			url : '/api/discount?coupon_user={{user.key}}',
			success : function(data) {
				$('.loading').hide();
				discounts = data;
				
				avail_disc_list = [];
				used_coupons = [];
				
				if(discounts != undefined && discounts.length > 0){
					for(var i=0; i< discounts.length; i++){
						var d = discounts[i];
						if(window.console){
							console.log(JSON.stringify(d));
						}
						
						var coupon = null;
						if(d.coupons != undefined && d.coupons.length >= 1){
							coupon = d.coupons[0];
						} else {
							// no coupon for this discount --> skip!
							continue;
						}
						
						if(new Date(moment(d.end_time)) < new Date() || coupon.used ){
							used_coupons.push(d);
						} else {
							//compute time till end
							avail_disc_list.push(d);
						}
					}
				}
				
				/* if(window.console){
					console.log("Lists: " + avail_disc_list.length + ", " + used_coupons.length );
				} */
				
				//load underscore template
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET","/static/js_templates/coupon_list.ejs",false);
				xmlhttp.send(null);
				var template = xmlhttp.responseText;
				var compiled = _.template(template);
				
				if(avail_disc_list == null || avail_disc_list.length < 1){
					$('#current_available').html('<p>{{ lang['no_coupons']}}</p>');
				} else {
					var html = compiled({
						discounts : avail_disc_list, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, available: true
					});
					$('#current_available').html(html);
					$('#current_available .countdown').each(function(){
						var end = $(this).attr('end-time');
						var diff = Math.floor((new Date(moment(end)) - new Date())/1000);
						$(this).countdown({
							until: '+'+diff+'s',
							format: 'dHMS',
							significant: 2,
							layout: '{d<}{dn} {dl} {d>}{h<}{hn} {hl} {h>}{m<}{mn} {ml} {m>}{s<}{sn} {sl}{s>}',
							{% if lang_name == 'it' %}
								labels: ['anni', 'mesi', 'settimane', 'giorni', 'ore', 'minuti', 'secondi'],
								labels1: ['anno', 'mese', 'settimana', 'giorno', 'ora', 'minuto', 'secondo'],
							{% else %}
								labels: ['years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds'],
								labels1: ['year', 'month', 'week', 'day', 'hour', 'minute', 'second'],
							{% endif %}
						});
						
					});
				}
				
				if(used_coupons == null || used_coupons.length < 1){
					$('#used').html('<p>{{ lang['no_coupons']}}</p>');
				} else {
					var html = compiled({
						discounts : used_coupons, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, available: false
					});
					$('#used').html(html);
					
					$('#used .countdown').each(function(){
						var end = $(this).attr('end-time');
						var date_str = format_date(new Date(moment(end)), '{{lang['date_format']}}');
						$(this).html(date_str);						
					});
				}
			/* 	$('.disc-info').click(function(){
					var key = $(this).attr('discount-id');
					window.location = '/discount?id='+key;
				});
				 */
				 
				 
				$('.rest-link').click(function(){
					var key = $(this).attr('rest-id');
					window.location= '/restaurant?id=' + key;
				});
				$('.use-button').click(function(){
					var key = $(this).attr('discount-id');
					var code = $(this).attr('coupon-code');
					use_coupon(key, code);
				});
				$('.delete-button').click(function(){
					var key = $(this).attr('discount-id');
					var code = $(this).attr('coupon-code');
					var xmlhttp = new XMLHttpRequest();
					xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
					xmlhttp.send(null);
					var template = xmlhttp.responseText;
					var compiled = _.template(template);
					var html = compiled({
						strings: {{lang['coup_delete_popup']|safe}},
					});
					$('.popup-area').html(html);
					
					$('#cancel').click(function(){
						$('.popup-area').html('');
					});
					
					$('#close-popup').click(function(){
						$('.popup-area').html('');
					});
					
					$('#ok').click(function(){
						$('.popup-area').html('');
						$.ajax({
							type : 'DELETE',
							url : '/api/discount/'+key+'/coupon?code=' + code,
							success : function() {
								location.reload();
								
							},
							error : function(resp) {
								if(window.console){
									console.log(resp);
								}
								if(resp.status == 403){
									show_error({{lang['unauthorized_error']|safe}});
								} else {
									show_error({{lang['coupon_delete_error']|safe}});
								}
							}
						});
					});
				});
				
			},
			error : function(resp) {
				if(window.console){
					console.log(resp);
				}
				if(resp.status == 403){
					show_error({{lang['unauthorized_error']|safe}});
				} else {
					show_error({{lang['coupon_list_load_error']|safe}});
				}
			}
		}); 
	}
	
	loadDiscounts();
	
	function use_coupon(disc_key, code){
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET","/static/js_templates/confirm_popup.ejs",false);
		xmlhttp.send(null);
		var template = xmlhttp.responseText;
		var compiled = _.template(template);
		var html = compiled({
			strings: {{lang['disc_usecoupon_popup']|safe}},
		});
		$('.popup-area').html(html);
		
		$('#cancel').click(function(){
			$('.popup-area').html('');
		});
		
		$('#close-popup').click(function(){
			$('.popup-area').html('');
		});
		
		$('#ok').click(function(){
			$('.popup-area').html('');
			$.ajax({
				type : 'GET',
				url : '/api/discount/'+disc_key+'/coupon/use?code=' + code,
				success : function(coupon) {
					if(window.console){
						console.log('Coupon used: ' + JSON.stringify(coupon));
					}
					location.reload();
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					if(resp.status == 403){
						show_error({{lang['unauthorized_error']|safe}});
					} else {
						show_error({{lang['coupon_use_error']|safe}});
					}
				}
			});
		});
	}
	
	$('.coupon-list.scrollable').enscroll({
	    showOnHover: false,
	    verticalScrolling: true,
		horizontalScrolling: false,
		zIndex: 100,
	    verticalTrackClass: 'track-red',
	    verticalHandleClass: 'handle-red'
	});
	
	var userpic = "{{ user.picture if not user.picture is none }}";
	if(userpic != undefined && userpic.length > 0){	
		$('.user-picture').css('background-image', 'url(' + userpic + ')');
	}
	$('.left-menu').hide();
	var window_width = $('.rest').width();
	var count = 1;
	$('.left-menu.scrollable').enscroll({
	    showOnHover: false,
	    verticalScrolling: true,
		horizontalScrolling: false,
		zIndex: 100,
	    verticalTrackClass: 'track-white',
	    verticalHandleClass: 'handle-white'
	});
	$('.enscroll-track').css('position', 'fixed');
	$('.menu-button button').click(function(){
		if(count % 2 == 1){
			//odd time --> open left menu
			$('.left-menu').show();
			if(window_width > 600){
				$('.user-menu-small').hide();
			}
			count++;
		} else {
			//even time --> close left menu
			$('.left-menu').hide();
			// show user menu small if width larger than 600px
			if(window_width > 600){
				$('.user-menu-small').show();
			}
			count++;
		}
		
	});
	window.addEventListener('mouseup', function(event){
		var box = document.getElementById('left-menu');
		var button = document.getElementById('menu-button');
		
		if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
			$('.left-menu').hide();
			// show user menu small if width larger than 600px
			if(window_width > 600){
				$('.user-menu-small').show();
			}
				count++;
		}
	});
	
	
	$('#rate-more').click(function(){
		window.location = '/ratings'
	});
	$('#near-me').click(function(){
		window.location = '/letsgo'
	});
	$('#logout').click(function(){
		$.ajax({
			type : 'DELETE',
			url : '/api/user/login',
			success : function() {
				window.location = '/';
			},
			error : function(resp) {
				if(window.console){
					console.log(resp);
				}
				show_error({{lang['logout_error']|safe}});
			}
		});
	});
	
	$('.user-menu, .user-menu-small, #profile').click(function(){
		window.location = '/profile';
	});
	
	
	function format_date(date, format){
		var day = date.getDate();
		if (day < 10){
			day = '0'+ day;
		}
		
		var month = date.getMonth()+1;
		if (month < 10){
			month = '0'+ month;
		}
		
		var year = date.getFullYear();
		
		var hours = date.getHours();
		if (hours < 10){
			hours = '0'+ hours;
		}
		var minutes = date.getMinutes();
		if (minutes < 10){
			minutes = '0'+ minutes;
		}
		
		var res = format.replace('mm', month).replace('dd', day).replace('yy', year).replace('hh', hours).replace('MM', minutes);
		return res;
	};
	
});
</script>

{% endblock %}