{% extends "base.html" %} {% block main %}

<div class="full-background rest">

	<div class="top-bar">
			<div class="bar-background"></div>
			<div class="menu-button">
				<button class="img-btn" id="menu-button"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">{{user.first_name}} </div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable" id="left-menu" style="display: none;">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h3 class="text-bold user-name">{{user.first_name}}</h3>
				<div class="clear-float"></div>
			</div>
		
			<ul class="menu-items">
				<!-- <li class="separation"></li> -->
				<li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li>
				<li><button class="img-btn selected" id="change_rest"> > {{ lang['change_rest']}}</button></li>
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>
	
		</div>
		
		<div class="discount-container ">
			<h2 id="title" class="center-text"> {{ lang['welcome'] }}! </h2>
			<h3 id="title" class="center-text"> {{ lang['owner_choose_rest'] }} </h3>
			<ul class="owner-rest-list">
				{% for rest in places %}
				<li class="owner-rest-item img-btn clickable" rest-key="{{rest.key}}">
					<img class="rest-image" src="{{ rest.picture if not rest.picture is none else '/static/images/empty_small.png'}}" />
					<div class="rest-info">
						<div class="text-bold name">{{ rest.name if not rest.name is none }}</div>
						<div class=" address">
							{{ rest.address.street~', '~ rest.address.city if not rest.address is none}}
						</div>
					</div>
						
				</li>
				{% endfor %}
			</ul>
			
		</div>
</div>




{% endblock %} {% block scripts %}
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">

	$(window).load(function() {
		
		$('.left-menu').hide();
		var window_width = $('.letsgo').width();
		var count = 1;
		$('.left-menu .scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});
		
		var userpic = '{{user.picture|safe}}';
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		
		$('.user-menu, .user-menu-small, #profile').click(function(){
			window.location = '/profile';
		});
		
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		});
		
		$('li.owner-rest-item').click(function(){
			var rest_key = $(this).attr('rest-key');
			window.location = '/restaurant?id=' + rest_key;
		});

	});
</script>


{% endblock %}
		