{% extends "base.html" %} {% block main %}

<div class="full-background profile">

		<div class="app-bar">
			<!-- <div class="bar-background"></div> -->
			<div class="menu-button">
				<button class="img-btn" id="menu-button"></button>
				<div class="user-menu-small desktop">
					<div class="user-picture"></div>
					<div class="text-bold user-name">
						{{user.first_name}}
					</div>
				</div>
				<div class="clear-float"></div>
			</div>
			<div class="logo"></div>
			<div class="actions">
				<div class="step"><p>{{ lang['step']}} 2/3</p></div>
			</div>
		</div>
	
		<div class="left-menu scrollable" id="left-menu" style="display: none;">
			<div class="user-menu">
				<div class="user-picture"></div>
				<h3 class="text-bold user-name">{{user.first_name}}</h3>
				<div class="clear-float"></div>
			</div>
		
			<ul class="menu-items">
			</ul>
	
		</div>
		
		<div class="main-container">

		<div class="main content">
			<div class="text-center text-title">
				{{ lang['profile2_text1']}}: {{city}}. {{ lang['profile2_text2']}}. 
				<div style="margin-top: 5px;"><small >{{ lang['profile_feedback']}}</small></div>
			</div>
			
			<div class="separator top"></div>

			<ul class="rest-list">
				<p class="empty-list">{{ lang['no_places_city']}}</p>
			</ul>

			<div class="navigation-buttons">
				<button class="img-btn red-button prev"><div class="icon"></div></button>
				<button class="img-btn red-button next"><div class="icon"></div></button>
				<div class="clear-float"></div>
				<div class="separator"></div>
				<button class="img-btn red-button continue center " style="margin-top: 10px;" onclick="window.location = '/profile/3'" >{{ lang['continue']}}</button>
			</div>

		</div>
	</div>
	<div class="popup-area"></div>
</div>




{% endblock %} {% block scripts %}

<script type="text/javascript">

	$(window).load(function() {
		
		var pageSize= 5;
		
		var userpic = "{{ user.picture|e }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		} 
		
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.left-menu.scrollable').enscroll({
			
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});

		
		var ratingsAdded = 0;
		
		var list = {{list|safe}};
		var last_pos = 0;
		
		function displayPlaces(start){
			$('.rest-list').html('');
			
			//enable prev and next buttons
			$('.navigation-buttons .prev').removeClass('disabled');
			$('.navigation-buttons .next').removeClass('disabled');
			if(start == 0){
				//diable prev button
				$('.navigation-buttons .prev').addClass('disabled');
			}
			if(start + pageSize > list.length){
				//disable next button
				$('.navigation-buttons .next').addClass('disabled');
			}
			
			$('html, body').animate({
	            scrollTop: $('.separator.top').offset().top + 'px'
	        }, 'fast');
			
			for(var i=0; start+i<list.length && i<pageSize; i++){
				var rest = list[start+i];
				var ratings = {};
				if(rest.ratings != undefined){
					for(var j = 0; j< rest.ratings.length; j++){
						rating = rest.ratings[j];
						ratings[rating.purpose] = rating.value;
					}
				}
				
				//load underscore template
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET","/static/js_templates/rest_rating.ejs",false);
				xmlhttp.send(null);
				var template = xmlhttp.responseText;
				var compiled = _.template(template);
				var html = compiled({
					rest : rest,
					ratings: ratings,
					strings: {{ lang['rating_purposes']|safe }}
				});
				$('.rest-list').append(html);
				if (i+1 < pageSize){
					$('.rest-list').append('<div class="separator"></div>');
				}
				
			}
			$('.rating').click(saveRating);
			
		}

		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};

		function saveRating(e) {
			
			var btn = $(e.target);
			var value = $(btn).attr('value');
			
			var not_known = false;
			if (value == 0){
				not_known = true;
			}
			var rating = {
				'place_id' : $(btn).attr('place_id'),
				'purpose' : $(btn).attr('purpose'),
				'value' : value,
				'not_known' : not_known,
			};
			
			$.ajax({
				type : 'POST',
				url : '/api/rating',
				data : JSON.stringify(rating),
				success : function() {
					$(btn).parent().find('button').removeClass('selected');				
					$(btn).addClass('selected');
				},
				error : function(resp) {
					if (resp.status == 200) {
						$(btn).parent().find('button').removeClass('selected');				
						$(btn).addClass('selected');
					} else {
						if(window.console){
							console.log(resp);
						}
						if(resp.status == 403){
							show_error({{lang['unauthorized_error']|safe}});
						} else {
							show_error({{lang['rating_save_error']|safe}});
						}
					}
				},
				headers : {
					Authorization : getCookie('user')
				}
			});
		};

		function onNext(){
			if(last_pos + pageSize < list.length ){
				last_pos += pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no more places after the ones already shown
				//do nothing
			}
		}
		
		function onPrev(){
			if(last_pos > 0 ){
				last_pos -= pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no places before the ones already shown
				//do nothing
			}
		}

		$('.rating').click(saveRating);
		$('.navigation-buttons .next').click(onNext);
		$('.navigation-buttons .prev').click(onPrev);

		displayPlaces(last_pos);
	});
</script>


{% endblock %}

