{% extends "base.html" %} {% block main %}

<div class="full-background rest">
	
		<div class="top-bar">
			<div class="bar-background"></div>
			<div class="menu-button">
				<button class="img-btn" id="menu-button"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">{{user.first_name}} </div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable" id="left-menu" style="display: none;">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h3 class="text-bold user-name"> {{user.first_name}}</h3>
				<div class="clear-float"></div>
			</div>
		
			<ul class="menu-items">
				<li><button class="img-btn page-menu" id="edit">{{ lang['profile_edit']}}</button></li>
				<li class="separation"></li>
				{% if user.role == 'owner' %}
					<li><button class="img-btn selected" id="profile"> > {{lang['my_profile']}}</button></li>
					<li><button class="img-btn" id="change_rest">{{ lang['change_rest']}}</button></li>
				{% else %}
					<li><button class="img-btn selected" id="profile"> > {{lang['my_profile']}}</button></li>
					<li><button class="img-btn" id="coupons">{{ lang['my_coupons']}}</button></li>
					<li><button class="img-btn" id="rate-more">{{ lang['rate_more']}}</button></li>
					<li><button class="img-btn" id="near-me">{{ lang['near_me']}}</button></li>
				{% endif %}
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>
	
		</div>
	
		<div class="discount-container">
		
			<h2 class="center-text">{{lang['profile_title']}}</h2>
			
			<div class="profile-picture" style="background-image: url({{user.picture}})"></div>
		
			<div class="black-text">
			<div class="user-info">
				<p><span class="title">{{lang['first_name']}}: </span> {{user.first_name}} </p>
				<p><span class="title">{{lang['last_name']}}: </span> {{user.last_name}} </p>
				<p><span class="title">{{lang['age']}}: </span> {{user.age}} </p>
				<p><span class="title">{{lang['gender']}}: </span> {{user.gender}} </p>
				<p><span class="title">{{lang['home_city']}}: </span> {{user.home.city}} ({{user.home.province}}, {{user.home.country}}) </p>
			</div>
			<div class="clear-float"></div>
			
			<div class="rating-info">
				<p><span class="title">{{lang['you_gave']}} {{user.num_ratings}} {{lang['ratings']}} {{lang['for']}} {{user.num_places}} {{lang['restaurants']}}</span></p>
			</div>
			
			<div class="coupon-info">
				<p><span class="title">{{lang['you_used']}} {{user.num_coupons}} {{lang['coupons']}}</span></p>
			</div>
			
			{% if user.role == 'owner' or user.role == 'admin' %}
			<div class="role-info">
				<p><span class="title">{{lang['have_role']}} {{lang[user.role]}} </span></p>
			</div>
			{% endif %}
			</div>
		</div>
	<div class="popup-area"></div>
</div>
{% endblock %} 

{% block scripts %}
<script type="text/javascript">
	$(window).load(function() {
		
		var userpic = "{{ user.picture|e }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		} 
		
		$('.left-menu').hide();
		$('.left-menu.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white',
		});
		$('.enscroll-track').css('position', 'fixed');
		var window_width = $('.rest').width();
		var count = 1;
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});

		$('#edit').click(function(){
			window.location = '/profile/edit';
		});
		
		$('#change_rest').click(function(){
			window.location = '/owner/list';
		});

		$('#coupons').click(function(){
			window.location = '/my-coupons';
		});
		
		$('#rate-more').click(function(){
			window.location = '/ratings';
		});
		$('#near-me').click(function(){
			window.location = '/letsgo';
		});

		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					show_error({{lang['logout_error']|safe}});
				}
			});
		});


	});
</script>
{% endblock %}