{% extends "base.html" %} {% block main %}

<div class="full-background profile">

	<div class="profile-container">
		<div class="step text-100">{{ lang['step']}} 2/3</div>
		<div class="profile-logo"></div>

		<div class="scrollable">
			<div class="text-100 red-text center-text">
				{{ lang['profile2_text1']}}: <span class="text-300">{{city}}</span>
			</div>
			<div class="text-100 red-text center-text">{{ lang['profile2_text2']}}:</div>
			<div class="text-100 red-text center-text">
				<small>{{ lang['profile_feedback']}}</small>
			</div>

			<ul class="rest-list">
				<p>{{ lang['no_places_city']}}</p>
			</ul>

			<div class="navigation-buttons">
				<button class="prev">{{ lang['prev']}}</button>
				<button class="next">{{ lang['next']}}</button>
				<button class="img-btn continue"
					onclick="window.location = '/profile/3'">{{ lang['continue']}}</button>
			</div>

		</div>
	</div>
</div>




{% endblock %} {% block scripts %}

<script type="text/javascript">
	$(window).load(function() {
		
		var pageSize= 5;
		
		/* $('.rating' ).tooltip({
			tooltipClass: 'my-tooltip'
		}); */
		
		$('.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		});
		
		var ratingsAdded = 0;
		
		var list = {{list|safe}};
		var last_pos = 0;
		
		function displayPlaces(start){
			$('.rest-list').html('');
			
			//enable prev and next buttons
			$('.navigation-buttons .prev').removeClass('disabled');
			$('.navigation-buttons .next').removeClass('disabled');
			if(start == 0){
				//diable prev button
				$('.navigation-buttons .prev').addClass('disabled');
			}
			if(start + pageSize > list.length){
				//disable next button
				$('.navigation-buttons .next').addClass('disabled');
			}
			
			for(var i=0; start+i<list.length && i<pageSize; i++){
				var rest = list[start+i];
				
				//load underscore template
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET","/static/js_templates/rest_rating.ejs",false);
				xmlhttp.send(null);
				var template = xmlhttp.responseText;
				var compiled = _.template(template);
				var html = compiled({
					rest : rest,
					strings: {{ lang['rating_purposes']|safe }}
				});
				$('.rest-list').append(html);
				
				
			}
			$('.rating').click(saveRating);
			$('.scrollable').scrollTop(0);
			$('.rating' ).tooltip({
				tooltipClass: 'my-tooltip'
			});
			
		}

		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};

		function saveRating(e) {
			
			var btn = $(e.target);
			var value = $(btn).attr('value');
			
			var not_known = false;
			if (value == 0){
				not_known = true;
			}
			var rating = {
				'place_id' : $(btn).attr('place_id'),
				'purpose' : $(btn).attr('purpose'),
				'value' : value,
				'not_known' : not_known,
			};
			
			$.ajax({
				type : 'POST',
				url : '/api/rating',
				data : JSON.stringify(rating),
				success : function() {
					$(btn).parent().find('button').removeClass('selected');				
					$(btn).addClass('selected');
				},
				error : function(resp) {
					if (resp.status == 200) {
						$(btn).parent().find('button').removeClass('selected');				
						$(btn).addClass('selected');
					} else {
						if(window.console){
							console.log(resp);
						}
						alert("Error" + resp.status);
					}
				},
				headers : {
					Authorization : getCookie('user')
				}
			});
		};

		function onNext(){
			if(last_pos + pageSize < list.length ){
				last_pos += pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no more places after the ones already shown
				//do nothing
			}
		}
		
		function onPrev(){
			if(last_pos > 0 ){
				last_pos -= pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no places before the ones already shown
				//do nothing
			}
		}

		$('.rating').click(saveRating);
		$('.navigation-buttons .next').click(onNext);
		$('.navigation-buttons .prev').click(onPrev);

		displayPlaces(last_pos);
	});
</script>


{% endblock %}

