{% extends "base.html" %} {% block main %}

<h3>Please, fill in your profile with some personal infromation:</h3>

<p class="error">{{error}}</p>

<form action="/user" method="post">
	<div>
		<label>Name: </label><input type="text" name="name"
			value="{{full_name}}">
	</div>
	<!-- <div>
		<label>Email: </label><input type="text" disabled name="email"
			value="{{email}}">
	</div> -->
	<div>
		<label>Gender: </label> <label class="radio-inline"> <input
			type="radio" name="gender" value="M"> M
		</label> <label class="radio-inline"> <input type="radio"
			name="gender" value="F"> F
		</label>
	</div>
	<br />
	<div>
		<label>Age: </label>
		<div class="radio">
			<label> <input type="radio" name="age" value="<18">
				Less than 18 years old
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="age" value="18-25">
				18 - 25 years old
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="age" value="26-35">
				26 - 35 years old
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="age" value="36-55">
				36 - 55 years old
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="age" value=">55">
				More than 55 years old
			</label>
		</div>

	</div>
	<div>
		<label>Home city: <input type="text" name="auto-city"
			id="city">
		</label>
	</div>
	<input type="hidden" name="locality" id="locality" /> <input type="hidden" 
		name="administrative_area_level_2" id="administrative_area_level_2" /> <input type="hidden" name="country" id="country"/>

	<div>
		<input type="submit" value="Save" />
	</div>
</form>

{% endblock %} {% block scripts %}
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">
	$(window)
			.load(
					function() {

						var input = document.getElementById('city');
						var options = {
							types : [ '(cities)' ]
						};
						var autocomplete = new google.maps.places.Autocomplete(
								input, options);

						var componentForm = {
							locality : 'long_name',
							administrative_area_level_2 : 'short_name',
							country : 'short_name',
						};

						google.maps.event.addListener(autocomplete,
								'place_changed', function() {
									fillInAddress();
								});

						function fillInAddress() {
							// Get the place details from the autocomplete object.
							var place = autocomplete.getPlace();
							
							// Get each component of the address from the place details
							// and fill the corresponding field on the form.
							for (var i = 0; i < place.address_components.length; i++) {
								var addressType = place.address_components[i].types[0];
								if (componentForm[addressType]) {
									var val = place.address_components[i][componentForm[addressType]];
									document.getElementById(addressType).value = val;
								}
							}
						}
					});
</script>

{% endblock %}
