{% extends "base.html" %} {% block main %}

<div class="full-background profile">

	<div class="profile-container">
		<div class="step text-100">step 1/3</div>
		<div class="profile-logo"></div>
		
		<div class="scrollable gray-skin">	
			<div class="text-100 red-text center-text"> Hey there!! To offer you a personalized experience we need to know some information about you.</div>
	
			<form action="/user" method="post">
				<div>
					<label class="form-label text-300 red-text">Name: </label>
					<div class="form-input"><input type="text" name="name"
						value="{{full_name}}">
					</div>
				</div>
				<div>
					<label class="form-label text-300 red-text">Gender: </label> 
					<div class="form-input" style="margin-top: 20px;padding-left: 10px;">
						<label class="radio-inline"> <input
							type="radio" name="gender" value="M"> M
						</label> 
						<label class="radio-inline"> <input type="radio"
							name="gender" value="F"> F
						</label>
					</div>
				</div>
				<div>
					<label class="form-label text-300 red-text">Age: </label>
					<div class="form-input">
						<div class="radio">
							<label class="text-100 red-text"> <input type="radio" name="age" value="<18">
								Less than 18 years old
							</label>
						</div>
						<div class="radio">
							<label class="text-100 red-text"> <input type="radio" name="age" value="18-25">
							18 - 25 years old
							</label>
						</div>
						<div class="radio">
							<label class="text-100 red-text"> <input type="radio" name="age" value="26-35">
								26 - 35 years old
							</label>	
						</div>
						<div class="radio">
							<label class="text-100 red-text"> <input type="radio" name="age" value="36-55">
								36 - 55 years old
							</label>
						</div>
						<div class="radio">
							<label class="text-100 red-text"> <input type="radio" name="age" value=">55">
								More than 55 years old
							</label>
						</div>
					</div>
				</div>
				<div>
					<label class="form-label text-300 red-text">Home city: </label>
					<div class="form-input">
						<input type="text" name="auto-city"
							id="city">
					</div>
				</div>
				<input type="hidden" name="locality" id="locality" /> 
				<input type="hidden" name="administrative_area_level_2" id="administrative_area_level_2" /> 
				<input type="hidden" name="country" id="country"/>
				
				<input type="submit" class="img-btn save text-100" value="Save" />
			</form>
		</div>
	</div>

</div>


{% endblock %} {% block scripts %}
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">
	$(window)
			.load(
					function() {
						
						$('.scrollable').enscroll({
						    showOnHover: false,
						    verticalTrackClass: 'track3',
						    verticalHandleClass: 'handle3'
						});
						
						var input = document.getElementById('city');
						var options = {
							types : [ '(cities)' ]
						};
						var autocomplete = new google.maps.places.Autocomplete(
								input, options);

						var componentForm = {
							locality : 'long_name',
							administrative_area_level_2 : 'short_name',
							country : 'short_name',
						};

						google.maps.event.addListener(autocomplete,
								'place_changed', function() {
									fillInAddress();
								});

						function fillInAddress() {
							// Get the place details from the autocomplete object.
							var place = autocomplete.getPlace();
							
							// Get each component of the address from the place details
							// and fill the corresponding field on the form.
							for (var i = 0; i < place.address_components.length; i++) {
								var addressType = place.address_components[i].types[0];
								if (componentForm[addressType]) {
									var val = place.address_components[i][componentForm[addressType]];
									document.getElementById(addressType).value = val;
								}
							}
						}
					});
</script>

{% endblock %}

