{% extends "base.html" %} {% block main %}

<div class="full-background profile">

	<div class="profile-container ratings">
		<div class="step" {{ 'style=display:none;' if not profile else ""}} >{{ lang['step']}} 3/3</div>
		<div class="profile-logo"></div>
		
		<div class="scrollable">
			<div class=" center-text"> {{lang['ratings_text1']}}</div>
			<div class="city-search">
				<label class="text-bold">{{lang['city_select']}}: </label>
				<div class="input">
					<input type="text" name="auto-city" id="city" >
					<input type="hidden" name="locality" id="locality" /> 
					<input type="hidden" name="administrative_area_level_2" id="administrative_area_level_2" /> 
					<input type="hidden" name="country" id="country"/>
					<input type="hidden" name="city-lat" id="city-lat"/> <!-- To center map -->
					<input type="hidden" name="city-lon" id="city-lon"/> <!-- To center map -->
				</div>
			</div>
			
			<div class="create-places center-text">
				<div class="no-places">{{lang['no_places_selected']}}</div>
				<p>{{lang['create_place_button']}}</p>
				<button class="img-btn red-button new-place" style="margin-left: 10px; margin-right: 10px;">{{lang['add_place']}}</button>
			</div>
			<div class="new-place-form popup-area"></div>

			<div class="filters">
				
				<div class="ui-widget">
  					<label for="name-input">{{lang['search_name']}}: </label>
  					<div class="name-input-block">
  						<input type="text" name="name-input" id="name-input"/>
  						<button class="img-btn red-button search-name"></button>
  					</div>
				</div>
				
				<label class="map-search-label">{{lang['map_search']}}: </label>
				<input id="pac-input" class="controls" type="text" placeholder="Search Box">
				<div class="map-search" id="map-search">
				</div>
			</div>

			<ul class="rest-list">
				
			</ul>

			<div class="navigation-buttons">
				<button class="prev"></button>
				<button class="next"></button>
				<button class="img-btn continue red-button"
					onclick="window.location = '/letsgo'">{{ lang['done']}}</button>
			</div>
			
		</div>
	</div>
</div>




{% endblock %} {% block scripts %}
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">

$(window).ready(function() {
	var window_height = $('.profile').height();
	var logo_height = $('.profile-logo').height();
	$('.scrollable').height(window_height - logo_height - 40);
	
});

	$(window).load(function() {
		var pageSize = 5;
		var all_places = [];
		var filtered_places = [];
		var placesNames = [];
		var last_pos = 0;
		
		var city_bounds = undefined;
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		$('.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		});
		
		var input = document.getElementById('city');
		var options = {
			types : [ '(cities)' ]
		};
		var autocomplete = new google.maps.places.Autocomplete(
				input, options);

		var componentForm = {
			locality : 'long_name',
			administrative_area_level_2 : 'short_name',
			country : 'short_name',
		};
	

		google.maps.event.addListener(autocomplete,
				'place_changed', function() {
					fillInAddress();
				});

		function fillInAddress() {
			// Get the place details from the autocomplete object.
			var place = autocomplete.getPlace();
			
			// Get each component of the address from the place details
			// and fill the corresponding field on the form.
			for (var i = 0; i < place.address_components.length; i++) {
				var addressType = place.address_components[i].types[0];
				if (componentForm[addressType]) {
					var val = place.address_components[i][componentForm[addressType]];
					$('#'+addressType).val(val);
				}
			}
			/* console.log('place: ' + JSON.stringify(place.geometry.viewport)); */
			if(place.geometry.location){
				/* alert(JSON.stringify(place.geometry.location)); */
				document.getElementById('city-lat').value = place.geometry.location.k;
				document.getElementById('city-lon').value = place.geometry.location.D;
			}
			
			if(place.geometry.viewport){
				var bounds = place.geometry.viewport;
				var southWest = new google.maps.LatLng( bounds.Ca.k, bounds.va.j );
				var northEast = new google.maps.LatLng( bounds.Ca.j, bounds.va.k );
				city_bounds = new google.maps.LatLngBounds( southWest, northEast );
				
			}
			
			loadPlaces();
		}
		
		function loadPlaces(){
			
			var city = $('#locality').val();
			if(city == undefined || city == ''){
				alert("{{lang['city_mandatory']}}");
				return;
			}
			var province = $('#administrative_area_level_2').val();
			if(province == undefined || province == ''){
				province = 'null';
			}
			var state = 'null';
			var country = $('#country').val();
			if(country == undefined || country == ''){
				country = 'null';
			}
			
			var city_filter = city + '!' + province + '!' + state + '!' + country;
			
			$.ajax({
				type : 'GET',
				url : '/api/place?city=' + city_filter,
				success : function(data) {
					
					if(data.length <1){
						/* $('.no-places').show(); */
						$('.navigation-buttons .prev').addClass('disabled');
						$('.navigation-buttons .next').addClass('disabled');
						$('.navigation-buttons').show();
						$('.create-places').show();
						$('.rest-list').show();
					} else {
						/* $('.no-places').hide(); */
						all_places = data;
						filtered_places = data;
						for(var i=0; i< all_places.length; i++){
							var p = all_places[i];
							placesNames.push(p.name);						
						}
					
						last_pos = 0;
						displayPlaces(last_pos);
					}
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error" + resp.status);
					
				},
				headers : {
					Authorization : getCookie('user')
				}
			});
			
		}
		
		function displayPlaces(start){
			$('.rest-list').html('');
			
			//enable prev and next buttons
			$('.navigation-buttons .prev').removeClass('disabled');
			$('.navigation-buttons .next').removeClass('disabled');
			if(start == 0){
				//diable prev button
				$('.navigation-buttons .prev').addClass('disabled');
			}
			if(start + pageSize > filtered_places.length){
				//disable next button
				$('.navigation-buttons .next').addClass('disabled');
			}
			
			for(var i=0; start+i<filtered_places.length && i<pageSize; i++){
				var rest = filtered_places[start+i];
				var ratings = {};
				if(rest.ratings != undefined){
					for(var j = 0; j< rest.ratings.length; j++){
						rating = rest.ratings[j];
						ratings[rating.purpose] = rating.value;
					}
				}
				
				//load underscore template
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET","/static/js_templates/rest_rating.ejs",false);
				xmlhttp.send(null);
				var template = xmlhttp.responseText;
				var compiled = _.template(template);
				var html = compiled({
					rest : rest, ratings: ratings, strings: {{lang['rating_purposes']|safe}}
				});
				$('.rest-list').append(html);
				
				
			}
			$('.rating').click(saveRating);
			$('.scrollable').scrollTop(0);
			$('.navigation-buttons').show();
			$('.create-places').show();
			$('.rest-list').show();
			
			$('.rest-item').tooltip({
		        tooltipClass:"my-tooltip"
		    });
			
			initFilters();
			
		}
		
		function initFilters(){
			if($('.filters').is(":visible")){
				//filters are already active
			} else {
				//autocomplete for name search
				$( "#name-input" ).autocomplete({
      				source: placesNames
    			});
			
				//show places in map
				initializeMap();
			
				$('.filters').show();
			}
		}
		
		function addPlace(){
			
			//load underscore template
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/new_rest_rating_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({ 
				strings: {{lang['new_rest_rating_popup']|safe}}, 
				purpose: {{lang['rating_purposes']|safe}} 
			});
			$('.new-place-form').html(html);
			
			$('.new-rest-popup').tooltip({
		        tooltipClass:"my-tooltip"
		    });
			
			$('#close-popup').click(function(){
				$('.popup-area').html('');
				/* $('.scrollable').enscroll({
				    showOnHover: false,
				    verticalScrolling: true,
					horizontalScrolling: false,
					zIndex: 100,
				    verticalTrackClass: 'track-red',
				    verticalHandleClass: 'handle-red'
				}); */
			});
			
			$('.popup-scrollable').enscroll({
			    showOnHover: false,
			    verticalScrolling: true,
				horizontalScrolling: false,
				zIndex: 320,
			    verticalTrackClass: 'track-red',
			    verticalHandleClass: 'handle-red'
			});
			
			
			$('#rest-picture').change(function(){
				$(this).parent().find('.rest-image').attr('src', this.value);
			});
			
			var input2 = document.getElementById('rest-address');

			var autocomplete2 = new google.maps.places.Autocomplete(
					input2);

			var componentForm2 = {
				street_number: 'short_name',
				route: 'long_name',
				locality : 'long_name',
				administrative_area_level_2 : 'short_name',
				country : 'short_name',
			};
			
			google.maps.event.addListener(autocomplete2,
					'place_changed', function() {
						// Get the place details from the autocomplete object.
				var place = autocomplete2.getPlace();
				
				// Get each component of the address from the place details
				// and fill the corresponding field on the form.
				for (var i = 0; i < place.address_components.length; i++) {
					var addressType = place.address_components[i].types[0];
					if (componentForm2[addressType]) {
						var val = place.address_components[i][componentForm2[addressType]];
						document.getElementById(addressType).value = val;
					}
				}
				
				// save latitude and longitude
				if(place.geometry.location){
					/* alert(JSON.stringify(place.geometry.location)); */
					document.getElementById('lat').value = place.geometry.location.k;
					document.getElementById('lon').value = place.geometry.location.D;
				}
			});
			
			$('.rating').click(function(){
				$(this).parent().find('button').removeClass('selected');				
				$(this).addClass('selected');
			});
			
			$('.save').click(function(){
				var self = this;
				var name = $('#rest-name').val();
				
				var street = $('#route').val() + " " + $(this).find('#street_number').val();
				var city = $('#locality').val();
				var province = $('#administrative_area_level_2').val();
				var country = $('#country').val();
				var latitude = $('#lat').val() != "" ? $('#lat').val() : undefined;
				var longitude = $('#lon').val() != "" ? $('#lon').val() : undefined;
				
				var picture = $('#rest-picture').val();
				
				if(name == undefined || name == ''){
					// name is missing!!
					return 
				}
				
				var place = {
					'name': name,
					'address' : {
						'street' : street,
						'city' : city,
						'province' : province,
						'country': country,
						'lat' : latitude,
						'lon': longitude
					},
					'picture' : picture,
					'service' : ['restaurant']
				};
				$.ajax({
					type : 'POST',
					url : '/api/place',
					data : JSON.stringify(place),
					success : function(place) {
						place.ratings = [];
						$('.rating.selected').each(function(){
							var btn = $(this);
							var value = $(btn).attr('value');
							var not_known = false;
							
							if (value == 0){
								not_known = true;
							}
							var rating = {
								'place_id' : place.key,
								'purpose' : $(btn).attr('purpose'),
								'value' : value,
								'not_known' : not_known,
							};
							place.ratings.push(rating);
							/* saveNewPlaceRating(place.key, this); */
							saveNewPlaceRating(rating);
						});
						all_places.push(place);
						filtered_places = all_places;
						last_pos = 0;
						displayPlaces(last_pos);
						
					},
					error : function(resp) {
						if (resp.status == 200) {
							$(self).find('.rating.selected').each(saveRating(place.key))
							wait_save_place--;
						} else {
							if(window.console){
								console.log(resp);
							}
							alert("Error" + resp.status);
						}
					},
					headers : {
						Authorization : auth
					}
				});
			});
		}
		
		/* function saveNewPlaceRating(place, div) { */
		function saveNewPlaceRating(rating) {
			/* var btn = $(div); */
			/* var value = $(div).attr('value');
			var not_known = false;
			
			if (value == 0){
				not_known = true;
			}
			var rating = {
				'place_id' : place,
				'purpose' : $(div).attr('purpose'),
				'value' : value,
				'not_known' : not_known,
			}; */
			$.ajax({
				type : 'POST',
				url : '/api/rating',
				data : JSON.stringify(rating),
				success : function() {
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error" + resp.status);
				},
				headers : {
					Authorization : auth
				}
			});
			$('.new-place-form').html('');
		};
		
		function saveRating(e) {
			
			var btn = $(e.target);
			var value = $(btn).attr('value');
			
			var not_known = false;
			if (value == 0){
				not_known = true;
			}
			var rating = {
				'place_id' : $(btn).attr('place_id'),
				'purpose' : $(btn).attr('purpose'),
				'value' : value,
				'not_known' : not_known,
			};
			
			$.ajax({
				type : 'POST',
				url : '/api/rating',
				data : JSON.stringify(rating),
				success : function() {
					$(btn).parent().find('button').removeClass('selected');				
					$(btn).addClass('selected');
				},
				error : function(resp) {
					
					if(window.console){
						console.log(resp);
					}
					alert("Error" + resp.status);
					
				},
				headers : {
					Authorization : auth
				}
			});
		};

		function onNext(){
			if(last_pos + pageSize < filtered_places.length ){
				last_pos += pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no more places after the ones already shown
				//do nothing
			}
		}
		
		function onPrev(){
			if(last_pos > 0 ){
				last_pos -= pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no places before the ones already shown
				//do nothing
			}
		}
		
		function initializeMap() {
			var lat = $('#city-lat').val();
			var lon = $('#city-lon').val();
			
			var myLatlng = new google.maps.LatLng(lat, lon);
			var mapOptions = {
				scrollwheel: false,
				zoom: 12,
			    center: myLatlng,
			    mapTypeControl:true,
			    mapTypeControlOptions: {
			        style:google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
			        position:google.maps.ControlPosition.BOTTOM_CENTER
			    }
			}
			var map = new google.maps.Map(document.getElementById('map-search'), mapOptions);
			if(city_bounds){
				map.fitBounds(city_bounds);	
			}
			
			// Create the search box and link it to the UI element.
			var input = /** @type {HTMLInputElement} */(
			    document.getElementById('pac-input'));
			map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

			var searchBox = new google.maps.places.SearchBox(
			    /** @type {HTMLInputElement} */(input));
			searchBox.setBounds(city_bounds);
			
			// Listen for the event fired when the user selects an item from the
			// pick list. Retrieve the matching places for that item.
			google.maps.event.addListener(searchBox, 'places_changed', function() {
			    var places = searchBox.getPlaces();
			    if(places != undefined && places.length>0){
			    	map.setCenter(places[0].geometry.location);
			    	map.setZoom(17);
			    }
			});

			var markers = [];
			var marked_marker = null;
			for(var i=0; i< all_places.length; i++){
				var p = all_places[i];
				var marker = new google.maps.Marker({
					icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
				    position: new google.maps.LatLng(p.address.lat, p.address.lon),
				    map: map,
				    title: p.name,
				    myplace : p
				});
				
				markers.push(marker);
				google.maps.event.addListener(marker, 'click', function() {
					if(marked_marker != null){
						if(marked_marker.title == this.title){
							this.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
							marked_marker = null;
							var bounds = map.getBounds();
							filtered_places = [];
							for (var i=0; i<markers.length; i++){
								var marker = markers[i];
							    if( bounds.contains(marker.getPosition()) ){
							    	filtered_places.push(marker.myplace);
							    }
							}
							last_pos = 0;
					    	displayPlaces(last_pos);
					    	return;
						} else {
							marked_marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
						}
					}
					
				    this.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
				    marked_marker = this;
				    var place = this.myplace;
				    filtered_places = [place];
				    last_pos = 0;
				    displayPlaces(last_pos);
				});
			}
			
			google.maps.event.addListener(map, 'bounds_changed', function(){
				var bounds = map.getBounds();
				filtered_places = [];
				for (var i=0; i<markers.length; i++){
					var marker = markers[i];
				    if( bounds.contains(marker.getPosition()) ){
				    	filtered_places.push(marker.myplace);
				    }
				}
				last_pos = 0;
		    	displayPlaces(last_pos);
			});
			
			
		}

		
		$('.rating').click(saveRating);
		$('.navigation-buttons .next').click(onNext);
		$('.navigation-buttons .prev').click(onPrev);
		$('.navigation-buttons').hide();
		$('.create-places').hide();
		$('.filters').hide();
		$('.no-places').hide();
		$('.search-name').click(function(){
			var text = $('#name-input').val().toLowerCase();
			filtered_places = [];
			for(var i=0; i< all_places.length; i++){
				var p = all_places[i];
				if(p.name.toLowerCase().indexOf(text) > -1){
					filtered_places.push(p);
				}
			}
			last_pos = 0;
			displayPlaces(last_pos);
		});
		
		$('.new-place').click(function(){
			addPlace();
		});

	});
</script>


{% endblock %}
		