{% extends "base.html" %} {% block main %}

<div class="full-background profile">

	<div class="app-bar">
		<!-- <div class="bar-background"></div> -->
		<div class="menu-button">
			<button class="img-btn" id="menu-button"></button>
			<div class="user-menu-small desktop">
				<div class="user-picture"></div>
				<div class="text-bold user-name">
					{{user.first_name}}
				</div>
			</div>
			<div class="clear-float"></div>
		</div>
		<div class="logo"></div>
		<div class="actions">
			{% if profile %}
				<div class="step"><p>{{ lang['step']}} 3/3</p></div>
			{% endif %}
		</div>
	</div>
	
	<div class="left-menu scrollable" id="left-menu" style="display: none;">
		<div class="user-menu">
			<div class="user-picture"></div>
			<h3 class="text-bold user-name">{{user.first_name}}</h3>
			<div class="clear-float"></div>
		</div>
		
		<ul class="menu-items">
			{% if not profile %}
			<!-- <li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li> -->
			<li><button class="img-btn" id="coupons">{{lang['my_coupons']}}</button></li>
			<li><button class="img-btn selected" id="rate-more"> > {{ lang['rate_more']|e}}</button></li>
			<li><button class="img-btn" id="near-me">{{ lang['near_me']}}</button></li>
			<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			{% endif %}
		</ul>
	
	</div>
		
	<div class="main-container">
		<div class="main content">
			<div class="text-center text-title">
				{{lang['ratings_text1']}} 
				<div style="margin-top: 5px;{{ ' display:none;' if profile else ''}}"><small >{{lang['ratings_text2']}}</small></div>
			</div>
			
			<div class="separator top"></div>
		
			<div class="city-search">
				<div class="text-red-bold text-center">{{lang['city_select']}}</div>
				<div class="input input-container">
					<input type="text" name="auto-city" id="city" >
					<input type="hidden" name="locality" id="locality" /> 
					<input type="hidden" name="administrative_area_level_2" id="administrative_area_level_2" /> 
					<input type="hidden" name="country" id="country"/>
					<input type="hidden" name="city-lat" id="city-lat"/> <!-- To center map -->
					<input type="hidden" name="city-lon" id="city-lon"/> <!-- To center map -->
				</div>
			</div>
			
			<div class="no-places text-center text-red-bold">{{lang['no_places_selected']}}</div>
			
			<div class="create-places text-center">
				<p>{{lang['create_place_button']}}</p>
				<button class="img-btn red-button new-place" style="margin-left: 10px; margin-right: 10px;">{{lang['add_place']}}</button>
			</div>
			<div class="new-place-form" style="display: none;">
			
				<div class="popup-background new-rest-popup">
					<div class="popup-foreground popup-scrollable">
						<button class="img-btn close" id="close-popup"></button>
						<div class="text-center text-title">{{lang['new_rest_rating_popup']['title']}}</div>
		
						<div class="separator"></div>
		
						<div class="rest-item">
							<div class="rest-details">
								<div class="name">
									<div class="text-all-capital">{{lang['new_rest_rating_popup']['name_placeholder']}}</div>
									<input class="my-input-text" type="text" id="rest-name"/>
								</div>
								<div class="address" >
									<div class="text-all-capital">{{lang['new_rest_rating_popup']['address_placeholder']}}</div>
									<input class="my-input-text" type="text" name="rest-address-input" id="rest-address-input">
									<input type="hidden" name="new_street_number" id="new_street_number" />
									<input type="hidden" name="new_route" id="new_route" />
									<input type="hidden" name="new_locality" id="new_locality" /> 
									<input type="hidden" name="new_administrative_area_level_2" id="new_administrative_area_level_2" /> 
									<input type="hidden" name="new_country" id="new_country"/>
									<input type="hidden" name="new_lat" id="new_lat"/>
									<input type="hidden" name="new_lon" id="new_lon"/>
								</div>
								<div class="picture-input"> 
									<div class="text-all-capital">{{lang['new_rest_rating_popup']['picture_placeholder']}}</div> 
									<input class="my-input-text" type="text" id="rest-picture">
									<div class="" style="margin-top: 3px;">{{lang['picture_help']}}</div>
								</div>
								
								<div class="rest-image" style="background-image: url(/static/images/empty_small.png)"></div>
								
							</div>
							
							<div class="rest-ratings smaller">
								<div class="row">
									<div class="left-purpose tourists">
										<div class="purpose-icon"></div>
										<div class="purpose-text">{{lang['new_rest_rating_popup']['tourists_short']}}</div>
									</div>
									<div class="right-ratings">
										<div class="title tourists">
											{{lang['new_rest_rating_popup']['how_experience']}}
										</div>
										<div class="rating-buttons">
											<button class="newrating rating-btn noidea"
							 					purpose="dinner with tourists"
							 					data-toggle="tooltip" data-placement="bottom"
							 					title="{{lang['rating_purposes']['tips_notknow']}}"
							 					value="0"></button>
											<button class="newrating rating-btn bad"
							 					purpose="dinner with tourists"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_notlike']}}"
							 					value="1"></button>
											<button class="newrating rating-btn neutral"
							 					purpose="dinner with tourists"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_neutral']}}"
							 					value="3"></button>
											<button class="newrating rating-btn happy"
							 					purpose="dinner with tourists"
							 					data-toggle="tooltip" data-placement="bottom" title="{{lang['rating_purposes']['tips_like']}}"
												value="5"></button>
										</div>
									</div>
								</div>
			
								<div class="row">
									<div class="left-purpose partner">
										<div class="purpose-icon"></div>
										<div class="purpose-text">{{lang['new_rest_rating_popup']['partner_short']}}</div>
									</div>
									<div class="right-ratings">
										<div class="title partner">
											{{lang['new_rest_rating_popup']['how_experience']}}
										</div>
										<div class="rating-buttons">
											<button class="newrating rating-btn noidea"
							 					purpose="romantic dinner"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_notknow']}}"
							 					value="0"></button>
											<button class="newrating rating-btn bad"
							 					purpose="romantic dinner"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_notlike']}}"
							 					value="1"></button>
											<button class="newrating rating-btn neutral"
							 					purpose="romantic dinner"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_neutral']}}"
							 					value="3"></button>
											<button class="newrating rating-btn happy"
							 					purpose="romantic dinner"
							 					data-toggle="tooltip" data-placement="bottom" title="{{lang['rating_purposes']['tips_like']}}"
												value="5"></button>
										</div>
									</div>
								</div>
			
								<div class="row">
									<div class="left-purpose friends">
										<div class="purpose-icon"></div>
										<div class="purpose-text">{{lang['new_rest_rating_popup']['friends_short']}}</div>
									</div>
									<div class="right-ratings">
										<div class="title friends">
											{{lang['new_rest_rating_popup']['how_experience']}}
										</div>
										<div class="rating-buttons">
											<button class="newrating rating-btn noidea"
							 					purpose="dinner with friends"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_notknow']}}"
							 					value="0"></button>
											<button class="newrating rating-btn bad"
							 					purpose="dinner with friends"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_notlike']}}"
							 					value="1"></button>
											<button class="newrating rating-btn neutral"
							 					purpose="dinner with friends"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_neutral']}}"
							 					value="3"></button>
											<button class="newrating rating-btn happy"
							 					purpose="dinner with friends"
							 					data-toggle="tooltip" data-placement="bottom" title="{{lang['rating_purposes']['tips_like']}}"
												value="5"></button>
										</div>
									</div>			
								</div>
			
								<div class="row">
									<div class="left-purpose price-quality">
										<div class="purpose-icon"></div>
										<div class="purpose-text">{{lang['new_rest_rating_popup']['price_quality_short']}}</div>
									</div>
									<div class="right-ratings">
										<div class="title price-quality">
											{{lang['new_rest_rating_popup']['how_experience']}}
										</div>
										<div class="rating-buttons">
											<button class="newrating rating-btn noidea"
							 					purpose="best price/quality ratio"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_notknow']}}"
												value="0"></button>
											<button class="newrating rating-btn bad"
							 					purpose="best price/quality ratio"
							 					data-toggle="tooltip" data-placement="bottom"
												title="{{lang['rating_purposes']['tips_notlike']}}"
							 					value="1"></button>
											<button class="newrating rating-btn neutral"
							 					purpose="best price/quality ratio"
							 					data-toggle="tooltip" data-placement="bottom"
							 					title="{{lang['rating_purposes']['tips_neutral']}}"
							 					value="3"></button>
											<button class="newrating rating-btn happy"
							 					purpose="best price/quality ratio"
							 					data-toggle="tooltip" data-placement="bottom" title="{{lang['rating_purposes']['tips_like']}}"
												value="5"></button>
										</div>
									</div>
								</div>
		
							</div>
							<div class="clear-float"></div>
						</div>
						<div>
							<button class="img-btn red-button save-new-place center">{{lang['new_rest_rating_popup']['save']}}</button>
						</div>
					</div>
		
				</div>
			
			
			</div>

			<div class="filters">
				
				<div class="ui-widget">
  					<div class="text-label">{{lang['search_name']}} </div>
  					<div class="name-input-block">
  						<div class="input-container">
  							<input type="text" name="name-input" id="name-input"/>
  						</div>
  						<button class="img-btn red-button search-name"><div class="icon"></div></button>
  					</div>
				</div>
				
				<div class="text-label">{{lang['map_search']}} </div>
				<div><input id="map-input" class="controls" type="text" placeholder="Search Box"/></div>
				<div class="map-search" id="map-search">
				</div>
			</div>

			<div class="separator end-filters"></div>
			<div class="mobile"></div>
			
			<ul class="rest-list">
				
			</ul>

			<div class="navigation-buttons">
				<div class="prev-next">
					<button class="img-btn red-button prev"><div class="icon"></div></button>
					<button class="img-btn red-button next"><div class="icon"></div></button>
					<div class="clear-float"></div>
					<div class="separator"></div>
				</div>
				<button class="img-btn continue red-button center" style="margin-top: 10px;"
					{% if profile %} onclick="window.location = '/letsgo'" {% else %} onclick="window.history.back()"{% endif %} >{{ lang['done']}}</button>
			</div>
			
		</div>
	</div>
	<div class="popup-area"></div>
</div>




{% endblock %} {% block scripts %}
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">

$(window).ready(function() {
	/* var window_height = $('.profile').height();
	var logo_height = $('.profile-logo').height();
	$('.scrollable').height(window_height - logo_height - 40); */
	$('.no-places').hide();
	$('.new-place-form').hide();
	
}); 

	$(window).load(function() {
	
		var pageSize = 5;
		var all_places = [];
		var filtered_places = [];
		var placesNames = [];
		var last_pos = 0;
		var newplaceListener = undefined;
		
		var map = undefined;
		var searchBox = undefined;
		var markers = [];
		
		var city_bounds = undefined;
		
		var mobile = true;
		if($('.mobile').css('display')=='none'){
			mobile = false;
		}
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		/* $('.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		}); */
		
		var autocomplete = new google.maps.places.Autocomplete(
				document.getElementById('city'), {types : [ '(cities)' ]});

		var componentForm = {
			locality : 'long_name',
			administrative_area_level_2 : 'short_name',
			country : 'short_name',
		};

		var cityListener = google.maps.event.addListener(autocomplete,
				'place_changed', function() {
					fillInAddress();
				});

		function fillInAddress() {
			// Get the place details from the autocomplete object.
			var place = autocomplete.getPlace();
			
			// Get each component of the address from the place details
			// and fill the corresponding field on the form.
			for (var i = 0; i < place.address_components.length; i++) {
				var addressType = place.address_components[i].types[0];
				if (componentForm[addressType]) {
					var val = place.address_components[i][componentForm[addressType]];
					$('#'+addressType).val(val);
				}
			}
			
			if(place.geometry.location){
				/* console.log(JSON.stringify(place.geometry.location)); */
				document.getElementById('city-lat').value = place.geometry.location.A;
				document.getElementById('city-lon').value = place.geometry.location.F;
			}
			/* if(window.console){
				console.log('place: ' + JSON.stringify(place.geometry.viewport));
			} */
			if(place.geometry.viewport){
				city_bounds = place.geometry.viewport;
			}
			
			loadPlaces();
			return;
		}
		
		function loadPlaces(){
			
			var city = $('#locality').val();
			if(city == undefined || city == ''){
				alert("{{lang['city_mandatory']}}");
				return;
			}
			var province = $('#administrative_area_level_2').val();
			if(province == undefined || province == ''){
				province = 'null';
			}
			var state = 'null';
			var country = $('#country').val();
			if(country == undefined || country == ''){
				country = 'null';
			}
			
			var city_filter = city + '!' + province + '!' + state + '!' + country;
			
			$.ajax({
				type : 'GET',
				url : '/api/place?city=' + city_filter,
				success : function(data) {
					console.log("places loaded");
					if(data.length <1){
						$('.no-places').show();
						$('.navigation-buttons .prev-next').hide();
						$('.filters').hide();
						$('.separator.end-filters').hide();
						$('.create-places').show();
						$('.rest-list').html('');
					} else {
						$('.no-places').hide();
						$('.navigation-buttons .prev-next').show();
						all_places = data;
						filtered_places = data;
						placesNames = [];
						for(var i=0; i< all_places.length; i++){
							var p = all_places[i];
							placesNames.push(p.name);						
						}
					
						last_pos = 0;
						displayPlaces(last_pos);
					}
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					if(resp.status == 403){
						show_error({{lang['unauthorized_error']|safe}});
					} else {
						show_error({{lang['place_list_load_error']|safe}});
					}
					
				},
				headers : {
					Authorization : getCookie('user')
				}
			});
			
		}
		
		function displayPlaces(start){
			/* $('.rest-list').html(''); */
			
			//enable prev and next buttons
			$('.navigation-buttons .prev').removeClass('disabled');
			$('.navigation-buttons .next').removeClass('disabled');
			if(start == 0){
				//diable prev button
				$('.navigation-buttons .prev').addClass('disabled');
			}
			if(start + pageSize >= filtered_places.length){
				//disable next button
				$('.navigation-buttons .next').addClass('disabled');
			}
			var list_html = "";
			for(var i=0; start+i<filtered_places.length && i<pageSize; i++){
				var rest = filtered_places[start+i];
				var ratings = {};
				if(rest.ratings != undefined){
					for(var j = 0; j< rest.ratings.length; j++){
						rating = rest.ratings[j];
						ratings[rating.purpose] = rating.value;
					}
				}
				
				//load underscore template
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET","/static/js_templates/rest_rating.ejs",false);
				xmlhttp.send(null);
				var template = xmlhttp.responseText;
				var compiled = _.template(template);
				var html = compiled({
					rest : rest, ratings: ratings, strings: {{lang['rating_purposes']|safe}}
				});
				list_html += html; 
				if (i+1 < pageSize){
					list_html += '<div class="separator"></div>';
				}
				
				
			}
			$('.rest-list').html(list_html);
			$('.rating').click(saveRating);
			
			user_pos = $(window).scrollTop();
			top_list = $('.rest-list').offset().top - 50;
			if(user_pos > top_list){
				$('html, body').animate({
	            	scrollTop: top_list + 'px'
	        	}, 'fast').promise();
			}
			$('.navigation-buttons').show();
			$('.create-places').show();
			$('.rest-list').show();
			
			if(!mobile){
				$('.rest-ratings').tooltip({
		        	tooltipClass:"my-tooltip"
		    	});
			}
			
			initFilters();
			
		}
		
		function initFilters(refresh_map){
			if($('.filters').is(":visible")){
				//filters are already active
				$( "#name-input" ).autocomplete({
      				source: placesNames
    			});
			
				//show places in map
				if(map == undefined){
					initializeMap();
				}
			} else {
				//autocomplete for name search
				$( "#name-input" ).autocomplete({
      				source: placesNames
    			});
			
				//show places in map
				if(map == undefined){
					initializeMap();
				}
			
				$('.filters').show();
				$('.separator.end-filters').show();
			}
		}
		
		function addPlace(){
			
			/* //load underscore template
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET","/static/js_templates/new_rest_rating_popup.ejs",false);
			xmlhttp.send(null);
			var template = xmlhttp.responseText;
			var compiled = _.template(template);
			var html = compiled({ 
				strings: {{lang['new_rest_rating_popup']|safe}}, 
				purpose: {{lang['rating_purposes']|safe}} 
			}); */
			$('.new-place-form').show();
			
			if(newplaceListener == undefined){
				var autocomplete2 = new google.maps.places.Autocomplete(
					document.getElementById('rest-address-input'), {types: ['address']});
				var componentForm2 = {
					street_number: 'short_name',
					route: 'long_name',
					locality : 'long_name',
					administrative_area_level_2 : 'short_name',
					country : 'short_name',
				};
			
				newplaceListener = google.maps.event.addListener(autocomplete2,
					'place_changed', function(){ newPlaceAddress(); });
				console.log(newplaceListener);
			
				function newPlaceAddress(){
					var place = autocomplete2.getPlace();
				
					// Get each component of the address from the place details
					// and fill the corresponding field on the form.
					if(place == undefined || place.address_components == undefined){
						return;
					}
					for (var i = 0; i < place.address_components.length; i++) {
						var addressType = place.address_components[i].types[0];
						if (componentForm2[addressType]) {
							var val = place.address_components[i][componentForm2[addressType]];
							document.getElementById('new_'+addressType).value = val;
						}
					}
				
					// save latitude and longitude
					if(place.geometry.location){
						console.log(JSON.stringify(place.geometry.location));
						document.getElementById('new_lat').value = place.geometry.location.A;
						document.getElementById('new_lon').value = place.geometry.location.F;
					}
					return;
				};
			}
			
			if(!mobile){
				$('.new-place-form .rating-btn').tooltip({
		        	tooltipClass:"my-tooltip"
		    	});
			}
			
			$('#close-popup').click(function(){
				$('.new-place-form').hide();
				
				/* $('.scrollable').enscroll({
				    showOnHover: false,
				    verticalScrolling: true,
					horizontalScrolling: false,
					zIndex: 100,
				    verticalTrackClass: 'track-red',
				    verticalHandleClass: 'handle-red'
				}); */
			});
			
			/* $('.popup-scrollable').enscroll({
			    showOnHover: false,
			    verticalScrolling: true,
				horizontalScrolling: false,
				zIndex: 320,
			    verticalTrackClass: 'track-red',
			    verticalHandleClass: 'handle-red'
			}); */
			
			
			$('#rest-picture').change(function(){
				$('.picture-image .rest-image').css('background-image', 'url('+this.value+')');
			});

			
			
			$('.newrating').click(function(){
				$(this).parent().find('button').removeClass('selected');				
				$(this).addClass('selected');
			});
			
			$('.save-new-place').click(function(){
				var self = this;
				var name = $('#rest-name').val();
				
				var street = $('#new_route').val() + " " + $('#new_street_number').val();
				var city = $('#new_locality').val();
				var province = $('#new_administrative_area_level_2').val();
				var country = $('#new_country').val();
				var latitude = $('#new_lat').val() != "" ? $('#new_lat').val() : undefined;
				var longitude = $('#new_lon').val() != "" ? $('#new_lon').val() : undefined;
				
				var picture = $('#rest-picture').val();
				
				if(name == undefined || name == ''){
					// name is missing!!
					alert('{{lang['missing_name']}}');
					return 
				}
				//console.log("Street: " + street)
				if(street == undefined || street == '' || street.trim() == ''){
					alert('{{lang['missing_address']}}');
					return 
				}
				
				var place = {
					'name': name,
					'address' : {
						'street' : street,
						'city' : city,
						'province' : province,
						'country': country,
						'lat' : latitude,
						'lon': longitude
					},
					'picture' : picture,
					'service' : ['restaurant']
				};
				$.ajax({
					type : 'POST',
					url : '/api/place',
					data : JSON.stringify(place),
					success : function(place) {
						place.ratings = [];
						$('.newrating.selected').each(function(){
							/* $('.new-place-form').hide(); */
						
							var btn = $(this);
							var value = $(btn).attr('value');
							var not_known = false;
							
							if (value == 0){
								not_known = true;
							}
							var rating = {
								'place_id' : place.key,
								'purpose' : $(btn).attr('purpose'),
								'value' : value,
								'not_known' : not_known,
							};
							place.ratings.push(rating);
							/* saveNewPlaceRating(place.key, this); */
							saveNewPlaceRating(rating);
						});
						all_places.push(place);
						filtered_places = all_places;
						last_pos = 0;
						/* $('.popup-area').html(''); */
						$('.new-place-form').html('');
						displayPlaces(last_pos);
						alert("{{lang['new_place_saved']}}")
						
					},
					error : function(resp) {
						if (resp.status == 200) {
							$(self).find('.rating.selected').each(saveRating(place.key))
							wait_save_place--;
						} else {
							if(window.console){
								console.log(resp);
							}
							if(resp.status == 403){
								show_error({{lang['unauthorized_error']|safe}});
							} else {
								show_error({{lang['place_save_error']|safe}});
							}
						}
					},
					headers : {
						Authorization : auth
					}
				});
			});
		}
		
		/* function saveNewPlaceRating(place, div) { */
		function saveNewPlaceRating(rating) {
			/* var btn = $(div); */
			/* var value = $(div).attr('value');
			var not_known = false;
			
			if (value == 0){
				not_known = true;
			}
			var rating = {
				'place_id' : place,
				'purpose' : $(div).attr('purpose'),
				'value' : value,
				'not_known' : not_known,
			}; */
			$.ajax({
				type : 'POST',
				url : '/api/rating',
				data : JSON.stringify(rating),
				success : function() {
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					if(resp.status == 403){
						show_error({{lang['unauthorized_error']|safe}});
					} else {
						show_error({{lang['rating_save_error']|safe}});
					}
				},
				headers : {
					Authorization : auth
				}
			});
			
		};
		
		function saveRating(e) {
			
			var btn = $(e.target);
			var value = $(btn).attr('value');
			
			if($(btn).hasClass('selected')){
				return;
			}
			
			$(btn).parent().find('button').removeClass('selected');				
			$(btn).addClass('selected');
			
			var not_known = false;
			if (value == 0){
				not_known = true;
			}
			var rating = {
				'place_id' : $(btn).attr('place_id'),
				'purpose' : $(btn).attr('purpose'),
				'value' : value,
				'not_known' : not_known,
			};
			
			$.ajax({
				type : 'POST',
				url : '/api/rating',
				data : JSON.stringify(rating),
				success : function(rating) {
					//store rating in local places list
					//console.log('rating saved!: ' + JSON.stringify(rating));
					for(var i=0; i< all_places.length; i++){
						//console.log(all_places[i].key + " == " + rating.place + "?");					
						if(all_places[i].key == rating.place ){
							//console.log("True: rating added!");
							if(all_places[i].ratings == undefined){
								all_places[i].ratings = [];
								all_places[i].ratings.push(rating);
							} else {
								var found = false;
								for(var j=0; j< all_places[i].ratings.length; j++){
									var r = all_places[i].ratings[j];
									//console.log("checking if rating can be modified: " + r.purpose +" == "+rating.purpose)
									if(r.purpose == rating.purpose){
										all_places[i].ratings[j].value = rating.value;
										//console.log('updated!: '+ all_places[i].ratings[j].value);
										found = true;
										break;
									}
								}
								if(!found){
									all_places[i].ratings.push(rating);
								}
							}
							break;
						}
					}
					//console.log("Filtered places now");
					for(var i=0; i< filtered_places.length; i++){
						//console.log(filtered_places[i].key + " == " + rating.place + "?");					
						if(filtered_places[i].key == rating.place ){
							//console.log("True: rating added!");
							if(filtered_places[i].ratings == undefined){
								filtered_places[i].ratings = [];
								filtered_places[i].ratings.push(rating);
							} else {
								var found = false;
								for(var j=0; j< filtered_places[i].ratings.length; j++){
									var r = filtered_places[i].ratings[j];
									//console.log("checking if rating can be modified: " + r.purpose +" == "+rating.purpose)
									if(r.purpose == rating.purpose){
										filtered_places[i].ratings[j].value = rating.value;
										found = true;
										break;
									}
								}
								if(!found){
									filtered_places[i].ratings.push(rating);
								}
							}
							break;
						}
					}
					
					
				},
				error : function(resp) {
					
					if(window.console){
						console.log(resp);
					}
					if(resp.status == 200){
						for(var i=0; i< all_places.length; i++){
							//console.log(all_places[i].key + " == " + rating.place + "?");					
							if(all_places[i].key == rating.place ){
								//console.log("True: rating added!");
								if(all_places[i].ratings == undefined){
									all_places[i].ratings = [];
									all_places[i].ratings.push(rating);
								} else {
									var found = false;
									for(var j=0; j< all_places[i].ratings.length; j++){
										var r = all_places[i].ratings[j];
										//console.log("checking if rating can be modified: " + r.purpose +" == "+rating.purpose)
										if(r.purpose == rating.purpose){
											all_places[i].ratings[j].value = rating.value;
											found = true;
											break;
										}
									}
									if(!found){
										all_places[i].ratings.push(rating);
									}
								}
								break;
							}
						}
						//console.log("Filtered places now");
						for(var i=0; i< filtered_places.length; i++){
							//console.log(filtered_places[i].key + " == " + rating.place + "?");					
							if(filtered_places[i].key == rating.place ){
								//console.log("True: rating added!");
								if(filtered_places[i].ratings == undefined){
									filtered_places[i].ratings = [];
									filtered_places[i].ratings.push(rating);
								} else {
									var found = false;
									for(var j=0; j< filtered_places[i].ratings.length; j++){
										var r = filtered_places[i].ratings[j];
										console.log("checking if rating can be modified: " + r.purpose +" == "+rating.purpose)
										if(r.purpose == rating.purpose){
											filtered_places[i].ratings[j].value = rating.value;
											found = true;
											break;
										}
									}
									if(!found){
										filtered_places[i].ratings.push(rating);
									}
								}
								break;
							}
						}
					}
					if(resp.status == 403){
						show_error({{lang['unauthorized_error']|safe}});
					} else {
						show_error({{lang['rating_save_error']|safe}});
					}
					
				},
				headers : {
					Authorization : auth
				}
			});
		};

		function onNext(){
			if(last_pos + pageSize < filtered_places.length ){
				last_pos += pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no more places after the ones already shown
				//do nothing
			}
		}
		
		function onPrev(){
			if(last_pos > 0 ){
				last_pos -= pageSize;
				displayPlaces(last_pos);
			} else {
				//there are no places before the ones already shown
				//do nothing
			}
		}
		
		function initializeMap() {
			var lat = $('#city-lat').val();
			var lon = $('#city-lon').val();
			//console.log('initmap start');
			var myLatlng = new google.maps.LatLng(lat, lon);
			var mapOptions = {
				scrollwheel: false,
				draggable: true,
				zoom: 12,
			    center: myLatlng,
			    mapTypeControl:true,
			    mapTypeControlOptions: {
			        style:google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
			        position:google.maps.ControlPosition.BOTTOM_CENTER
			    }
			}
			if (map == undefined){
				//console.log('initmap map is new');
			
				map = new google.maps.Map(document.getElementById('map-search'), mapOptions);
				if(city_bounds){
					map.fitBounds(city_bounds);	
				}
				
				google.maps.event.addListener(map, 'bounds_changed', function(){
					var bounds = map.getBounds();
					filtered_places = [];
					for (var i=0; i<markers.length; i++){
						var marker = markers[i];
					    if( bounds.contains(marker.getPosition()) ){
					    	filtered_places.push(marker.myplace);
					    }
					}
					last_pos = 0;
			    	displayPlaces(last_pos);
				});
				
				// Create the search box and link it to the UI element.
				var input = document.getElementById('map-input');
				//console.log("input: " + input + " -- " + $('#map-input'));
				map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

				searchBox = new google.maps.places.SearchBox((input));
				if(city_bounds){
					searchBox.setBounds(city_bounds);
				}
				
				// Listen for the event fired when the user selects an item from the
				// pick list. Retrieve the matching places for that item.
				google.maps.event.addListener(searchBox, 'places_changed', function() {
			    	var places = searchBox.getPlaces();
			    	//console.log("HERE: " + places.length);
			    	if(places != undefined && places.length>0){
			    		map.setCenter(places[0].geometry.location);
			    		//console.log("center: " + JSON.stringify(places[0].geometry.location));
			    		map.setZoom(17);
			    		
			    	}
			    	initFilters();
				});
				
			} else {
				
				//console.log('initmap map exists');
				if(city_bounds){
					map.fitBounds(city_bounds);	
					searchBox.setBounds(city_bounds);
				}
				//remove markers
				for (var i = 0; i < markers.length; i++) {
				    markers[i].setMap(null);
				}
				
			}
			
			markers = [];
			var marked_marker = null;
			for(var i=0; i< filtered_places.length; i++){
				var p = filtered_places[i];
				var marker = new google.maps.Marker({
					icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
				    position: new google.maps.LatLng(p.address.lat, p.address.lon),
				    map: map,
				    title: p.name,
				    myplace : p
				});
				
				markers.push(marker);
				google.maps.event.addListener(marker, 'click', function() {
					if(marked_marker != null){
						if(marked_marker.title == this.title){
							this.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
							marked_marker = null;
							var bounds = map.getBounds();
							filtered_places = [];
							for (var i=0; i<markers.length; i++){
								var marker = markers[i];
							    if( bounds.contains(marker.getPosition()) ){
							    	filtered_places.push(marker.myplace);
							    }
							}
							last_pos = 0;
					    	displayPlaces(last_pos);
					    	return;
						} else {
							marked_marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
						}
					}
					
				    this.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
				    marked_marker = this;
				    var place = this.myplace;
				    filtered_places = [place];
				    last_pos = 0;
				    displayPlaces(last_pos);
				});
			}
			
		}

		
		$('.rating').click(saveRating);
		$('.navigation-buttons .next').click(onNext);
		$('.navigation-buttons .prev').click(onPrev);
		$('.navigation-buttons').hide();
		$('.create-places').hide();
		$('.filters').hide();
		$('.separator.end-filters').hide();
		$('.no-places').hide();
		$('.search-name').click(function(){
			var text = $('#name-input').val().toLowerCase();
			filtered_places = [];
			for(var i=0; i< all_places.length; i++){
				var p = all_places[i];
				if(p.name.toLowerCase().indexOf(text) > -1){
					filtered_places.push(p);
				}
			}
			last_pos = 0;
			displayPlaces(last_pos);
			initializeMap();
		});
		
		$('.new-place').click(function(){
			addPlace();
		});
		
		
		//MENU
		var userpic = "{{ user.picture if not user.picture is none }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.left-menu.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				if($('.left-menu').css('display') != 'none'){
					$('.left-menu').hide();
					// show user menu small if width larger than 600px
					if(window_width > 600){
						$('.user-menu-small').show();
					}
					count++;
				}
			}
		});
		$('#coupons').click(function(){
			window.location = '/my-coupons';
		});
		
		$('#near-me').click(function(){
			window.location = '/letsgo'
		});
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					show_error({{lang['logout_error']|safe}});
				}
			});
		});
		

	});
</script>


{% endblock %}
		