{% extends "base.html" %} {% block main %}

<div class="full-background rest">
	
		<div class="top-bar">
			<div class="bar-background"></div>
			<div class="menu-button">
				<button class="img-btn"></button>
				<div class="user-menu-small clickable">
					<div class="user-picture"></div>
					<div class="text-bold user-name">{{ lang['welcome']}}<br/>{{user.first_name}} </div>
				</div>
			</div>
			<div class="rest-logo"></div>
		</div>
		
		<div class="left-menu scrollable">
			<div class="user-menu clickable">
				<div class="user-picture"></div>
				<h2 class="text-bold user-name">{{ lang['welcome']}} {{user.first_name}}</h2>
			</div>
			<br/>
		
			<ul class="menu-items">
				{% if user.role == 'admin' or place.owner == user.key %}
					<li><button class="img-btn" id="edit">{{ lang['rest_edit']}}</button></li>
				{% endif %}
				{% if place.owner == user.key %}
					<li><button class="img-btn" id="disc_list">{{ lang['discount_list_all']}}</button></li>
				{% endif %}
				{% if user.role == 'admin' %}
					<li><button class="img-btn" id="new-rest">{{ lang['rest_new'] }}</button></li>
				{% endif %}
				<li><button class="img-btn" id="rate-more">{{ lang['rate_more']}}</button></li>
				<li><button class="img-btn" id="near-me">{{ lang['near_me']}}</button></li>
				<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
			</ul>
	
		</div>
	
		<div class="rest-container scrollable">
			<img class="picture" style="background-image: url(/static/images/empty_small.png)">
		
			<h2>{{place.name}}</h2>
			
			<div class="discounts"><p>Loading...</p></div>
			
			<div class="rest-right">
				<div class="rest-map">
					<img style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={{place.address.lat}},{{place.address.lon}}&zoom=16&size=700x300&maptype=roadmap&markers=color:red%7Clabel:C%7C{{place.address.lat}},{{place.address.lon}})" >
				</div>
				<a href="https://www.google.com/maps?q={{place.address.lat}},{{place.address.lon}}&ll={{place.address.lat}},{{place.address.lon}}&z=17" target="_new">Open in Google Maps</a>
			</div>
		
			<div class="rest-left">
				<p class="black-text desc">{{place.description}}</p>
				
				{% if place.address %}
				<img class="icon-address"></img>
				<p class="iconed black-text">{{place.address.street}}, {{place.address.city}} ({{place.address.province}}, {{place.address.country}})</p>
				{% endif %}
				
				{% if place.phone %}
				<img class="icon-phone"></img>
				<p class="iconed black-text">{{place.phone}}</p>
				{% endif %}
				
				{% if place.hours %}
				<img class="icon-hours"></img>
				<p class="iconed black-text">{{ lang['rest_opening_hours'] }}: 
				{% for h in place.hours %}
					{% if h.weekday == '1' %}
						{{ lang['opening_mon']}}:
					{% elif h.weekday == '2' %}
						{{ lang['opening_tue']}}:
					{% elif h.weekday == '3' %}
						{{ lang['opening_wed']}}:
					{% elif h.weekday == '4' %}
						{{ lang['opening_thu']}}:
					{% elif h.weekday == '5' %}
						{{ lang['opening_fri']}}:
					{% elif h.weekday == '6' %}
						{{ lang['opening_sat']}}:
					{% elif h.weekday == '7' %}
						{{ lang['opening_sun']}}:
					{% endif %}
					
					{{ '%s-%s'|format(h.open1, h.close1) if h.open1 and h.close1 else lang['rest_closed_wday']}}
					{{ ', %s-%s'|format(h.open2, h.close2) if h.open2 and h.close2 }}
					{{ '; ' if not h.weekday == '7' }}
				{% endfor %}
				</p>
				{% endif %}
				
				{% if place.days_closed %}
				<img class="icon-closed"></img>
				<p class="iconed black-text">{{ lang['rest_closed'] }}: 
					{% for d in place.days_closed %}
						{{ d ~ ', '}}
					{% endfor %}	
				</p>
				{% endif %}
				
				{% if place.website %}
				<img class="icon-web"></img>
				<p class="iconed black-text">{{place.website}}</p>
				{% endif %}
				
				{% if place.email %}
				<img class="icon-email"></img>
				<p class="iconed black-text">{{place.email}}</p>
				{% endif %}
			</div>
			
			

		</div>
</div>

{% endblock %} {% block scripts %}
<!-- <script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script> -->
<script src="/static/js/enquire.min.js"></script>
<script type="text/javascript">

$(window).ready(function() {
	var window_height = $('.rest').height();
	var bar_height = $('.top-bar').height();
	$('.rest-container.scrollable').height(window_height - bar_height - 40);
	
});

	$(window).load(function() {
		
		var rest_picture = '{{place.picture if not place.picture is none}}';
		$('.picture').css('background-image','url('+ rest_picture +')')
		
		$('.rest-container.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-red',
		    verticalHandleClass: 'handle-red'
		});
		
		var userpic = "{{ user.picture|e }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		} 
		
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				$('.left-menu.scrollable').enscroll({
				    showOnHover: false,
				    verticalScrolling: true,
					horizontalScrolling: false,
					zIndex: 100,
				    verticalTrackClass: 'track-white',
				    verticalHandleClass: 'handle-white'
				});
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		
		function loadDiscounts(){
			$.ajax({
				type : 'GET',
				url : '/api/discount?place={{place.key|e}}&published=true&passed=false',
				success : function(data) {
					$('.loading').hide();
					discounts = data;
					
					if(discounts == null || discounts.length < 1){
						$('.discounts').html('<p>{{ lang['no_discounts']}}</p>');
					} else {
						//TODO: store discounts in localstorage
						//load underscore template
						var xmlhttp = new XMLHttpRequest();
						xmlhttp.open("GET","/static/js_templates/discount_list.ejs",false);
						xmlhttp.send(null);
						var template = xmlhttp.responseText;
						var compiled = _.template(template);
						var html = compiled({
							discounts : discounts, lang: '{{lang_name}}', strings: {{lang['discount_strings']|safe}}, owner: false
						});
						$('.discounts').html(html);
					}
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			}); 
		}
		
		loadDiscounts();
		
		
		
		$('#edit').click(function(){
			window.location = 'restaurant/edit?id={{place.key|e}}';
		});
		
		$('#disc_list').click(function(){
			window.location = 'discount/list?rest_id={{place.key|e}}';
		})
		
		$('#new-rest').click(function(){
			window.location = '/restaurant/new';
		});
		$('#rate-more').click(function(){
			window.location = '/ratings'
		});
		$('#near-me').click(function(){
			window.location = '/letsgo'
		});
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					alert("Error " + resp.status);
				}
			});
		});
		
		enquire.register("screen and (max-width:500px)", {
			match : function() {
				$('.picture').insertAfter('.rest-left');
				$('.rest-right').insertAfter('.picture');
			}, 
			
		});
		
		$('.user-menu, .user-menu-small').click(function(){
			window.location = '/profile/1';
		});
		
		
	});
</script>


{% endblock %}