{% extends "base.html" %} {% block main %}

<div class="full-background rest-edit">
	<div class="app-bar">
		<!-- <div class="bar-background"></div> -->
		<div class="menu-button">
			<button class="img-btn" id="menu-button"></button>
			<div class="user-menu-small desktop">
				<div class="user-picture"></div>
				<div class="text-bold user-name">
					{{user.first_name}}
				</div>
			</div>
			<div class="clear-float"></div>
		</div>
		<div class="logo"></div>
		<div class="actions">
		</div>
	</div>
	
	<div class="left-menu scrollable" id="left-menu" style="display: none;">
		<div class="user-menu">
			<div class="user-picture"></div>
			<h3 class="text-bold user-name">{{user.first_name}}</h3>
			<div class="clear-float"></div>
		</div>
		
		<ul class="menu-items">
			<li><button class="img-btn" id="back" onclick="window.history.back()">{{lang['back']}}</button></li>
			<!-- <li><button class="img-btn" id="back-rest">{{ lang['back_to_rest']}}</button></li> -->
			{% if user.role == 'owner' %}
				<li class="separator white"></li>
				<!-- <li><button class="img-btn" id="profile">{{lang['my_profile']}}</button></li> -->
				<li><button class="img-btn no-border" id="back_dlist">{{ lang['discount_list_all']}}</button></li>
				<li><button class="img-btn" id="change_rest">{{ lang['change_rest']}}</button></li>
			{% endif %}
			<li><button class="img-btn" id="logout">{{ lang['log_out']}}</button></li>
		</ul>

		</div>

		<div class="main-container">
			<div class="content">
		
			<div class="text-center text-title">{{ lang['rest_edit'] if not place.name is none else lang['rest_new'] }}</div>

			<div class="separator"></div>
			
			<div class="edit-form">
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_name']}} </div>
					<div class="form-input">
						<input type="text" id="rest_name" name="rest_name" value="{{place.name if not place.name is none}}">
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_description']}} (EN) </div>
					<div class="form-input">
						<textarea id="rest_description_en" name="rest_description_en">{{place.description_en if not place.description_en is none}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_description']}} (IT) </div>
					<div class="form-input">
						<textarea id="rest_description_it" name="rest_description_it">{{place.description_it if not place.description_it is none}}</textarea>
					</div>
				</div>
				
				
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_address']}} </div>
					<div class="form-input">
						<input type="text" name="auto-city" id="rest-address" 
							value="{{ place.address.street~', '~place.address.city~' ('~place.address.province~', '~place.address.country~')' if place.address }}">
						<input type="hidden" name="street_number" id="street_number" value="{{place.address.street}}" />
						<input type="hidden" name="route" id="route" value=""/>
						<input type="hidden" name="locality" id="locality" value="{{place.address.city}}"/> 
						<input type="hidden" name="administrative_area_level_2" id="administrative_area_level_2" value="{{place.address.province}}" /> 
						<input type="hidden" name="country" id="country" value="{{place.address.country}}"/>
						<input type="hidden" name="lat" id="lat" value="{{place.address.lat}}"/>
						<input type="hidden" name="lon" id="lon" value="{{place.address.lon}}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_phone']}} </div>
					<div class="form-input">
						<input type="text" id="rest_phone" name="rest_phone" value="{{place.phone if not place.phone is none}}">
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_website']}} </div>
					<div class="form-input">
						<input type="text" id="rest_website" name="rest_website" value="{{place.website if not place.website is none}}">
					</div>
				</div>
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_email']}} </div>
					<div class="form-input">
						<input type="text" id="rest_email" name="rest_email" value="{{place.email if not place.email is none}}">
					</div>
				</div>
				
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_main_picture']}} </div>
					<div class="form-input">
						<input type="text" id="rest_picture" name="rest_picture" value="{{place.picture if not place.picture is none}}">
						<div class="text-magin form-explanation">{{ lang['picture_help']}}</div>
						<div class="rest-image" style="background-image:url({{place.picture if not place.picture is none else '/static/images/empty_small.png'}})"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="text-all-capital">{{ lang['rest_other_pictures']}} </div>
					<div class="other-pictures-input-block">
  						<div class="input-container">
  							<input type="text" id="new_picture" name="new_picture" placeholder="{{lang['add_picture']}}">
  						</div>
  						<button class="img-btn red-button add-small"><div class="icon"></div></button>
  					</div>
					<div id="other-pictures">
						{% for pic in place.other_pictures %}
						<div class="form-input other-pic-item">
							<img class="other-picture preview" src="{{pic}}"/><button class="img-btn delete-small pic"></button>
						</div>
						{% endfor %}
					</div>
					
				</div>

				<div class="row">
					<div class="text-all-capital">{{ lang['rest_opening_hours']}} </div>
					<div class="form-input opening"></div>
				</div>

				<div class="row">
					<div class="text-all-capital">{{ lang['rest_closed']}} </div>
					<div class="form-input closed">
						<input type="text" class="days-input" id="datepicker" placeholder="{{ lang['add-day'] }}">
						{% for day in place.days_closed %}
						<div class="days-item">
							<p>{{day}}</p><button class="img-btn delete-small day"></button>
						</div>
						{% endfor %}
						
					</div>
				</div>
				
				<br/>
				
				{% if user.role == 'admin' %}
				<div class="row">
					<div class="text-all-capital">{{lang['rest_owner']}} </div>
					<div class="form-input">
						<input type="text" id="owner_email" name="owner_email" value="">
					</div>
				</div>
				{% endif %}

				<input type="button" class="img-btn save center"
					value="{{ lang['save']}}" />
			</div>

		</div>
		</div>
	<div class="popup-area"></div>
</div>

{% endblock %} {% block scripts %}
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript">
	$(window).load(function() {
		
		displayHours();
		addressAutocomplete();
		
		var closed = {{closed|safe}};
		
		$('.add-small').click(function(){
			
			var html = '<div class="other-pic-item">'+
				'<img class="other-picture preview" src="PIC"/><button class="img-btn delete-small pic"></button>'+
				'</div>';
			
			var picture = $('#new_picture').val();
			var html = html.replace('PIC', picture);
			$('#other-pictures').append(html);
			$('#new_picture').val('');
			
			$('.delete-small.pic').click(function(){
				console.log('delete pic');
				$(this).parent().remove();
			});
		});
		
		$('.delete-small.pic').click(function(){
			console.log('delete pic');
			$(this).parent().remove();
		});
		
		
		$( "#datepicker" ).datepicker({ minDate: -1, dateFormat: 'dd-mm-yy',
		    onClose: function () {
		        var day = $(this).val();
		        if(day == ''){
		        	return;
		        }
		        closed.push(day);
		        $(this).val('');
		        var html = '<div class="days-item"><p>'+day+'</p><button class="img-btn delete-small day"></button></div>';
		        $('.closed').append(html);
		        if(window.console){
		        	console.log('Closed: ' + JSON.stringify(closed));
		        }
		       	
				$('.delete-small').click(function(){
					removeDay(this);
				});
		    }
		});
		
		$('.delete-small.day').click(function(){
			removeDay(this);
		});
		
		function removeDay(btn){
			var day = $(btn).parent().find('p').html();
			var index = closed.indexOf(day);
			if (index >= 0) {
			  closed.splice( index, 1 );
			}
			if(window.console){
				console.log('Closed: ' + JSON.stringify(closed));
			}
			$(btn).parent().remove();
		}
		
		function displayHours(){
			var hours = {{hours_string|safe}};
		
			var hours_html = '<div class="hours-block"><label class="form-label2">DAY</label>'+
				'<div class="form-input-opening"><p class="time-label">{{lang['open']}}</p><input type="time" id="rest_opening_1" value="VAL1"></div>'+
				'<div class="form-input-opening"><p class="time-label">{{lang['close']}}</p><input type="time" id="rest_opening_2" value="VAL2"></div>'+
				'<div class="form-input-opening"><p class="time-label">{{lang['open']}}</p><input type="time" id="rest_opening_3" value="VAL3"></div>'+
				'<div class="form-input-opening"><p class="time-label">{{lang['close']}}</p><input type="time" id="rest_opening_4" value="VAL4"></div>'+
				'<input type="hidden" id="rest_day" value="NUM"/> </div>';
			var hours_mon, hours_tue, hours_wed, hours_thu, hours_fri, hours_sat, hours_sun = undefined;
			if(hours != undefined && hours.length > 0){
				for (var i=0; i< hours.length; i++){
					var h = hours[i];
					var val1 = '';
					if (h.open1 != undefined){
						val1 = h.open1;
					}
					var val2 = '';
					if (h.close1 != undefined){
						val2 = h.close1;
					}
					var val3 = '';
					if (h.open2 != undefined){
						val3 = h.open2;
					}
					var val4 = '';
					if (h.close2 != undefined){
						val4 = h.close2;
					}
					if (h.weekday == '1'){
						hours_mon = hours_html.replace('DAY', '{{lang['opening_mon']}}').replace('NUM', '1').replace('VAL1', val1).replace('VAL2', val2).replace('VAL3', val3).replace('VAL4', val4);
					} else if (h.weekday == '2'){
						hours_tue = hours_html.replace('DAY', '{{lang['opening_tue']}}').replace('NUM', '2').replace('VAL1', val1).replace('VAL2', val2).replace('VAL3', val3).replace('VAL4', val4);
					} else if (h.weekday == '3'){
						hours_wed = hours_html.replace('DAY', '{{lang['opening_wed']}}').replace('NUM', '3').replace('VAL1', val1).replace('VAL2', val2).replace('VAL3', val3).replace('VAL4', val4);
					} else if (h.weekday == '4'){
						hours_thu = hours_html.replace('DAY', '{{lang['opening_thu']}}').replace('NUM', '4').replace('VAL1', val1).replace('VAL2', val2).replace('VAL3', val3).replace('VAL4', val4);
					} else if (h.weekday == '5'){
						hours_fri = hours_html.replace('DAY', '{{lang['opening_fri']}}').replace('NUM', '5').replace('VAL1', val1).replace('VAL2', val2).replace('VAL3', val3).replace('VAL4', val4);
					} else if (h.weekday == '6'){
						hours_sat = hours_html.replace('DAY', '{{lang['opening_sat']}}').replace('NUM', '6').replace('VAL1', val1).replace('VAL2', val2).replace('VAL3', val3).replace('VAL4', val4);
					} else if (h.weekday == '7'){
						hours_sun = hours_html.replace('DAY', '{{lang['opening_sun']}}').replace('NUM', '7').replace('VAL1', val1).replace('VAL2', val2).replace('VAL3', val3).replace('VAL4', val4);
					} 
				}
			}
		
			if (hours_mon == undefined){
				hours_mon = hours_html.replace('DAY', '{{lang['opening_mon']}}').replace('NUM', '1').replace('VAL1', '').replace('VAL2', '').replace('VAL3', '').replace('VAL4', '');
			} 
			if (hours_tue == undefined){
				hours_tue = hours_html.replace('DAY', '{{lang['opening_tue']}}').replace('NUM', '2').replace('VAL1', '').replace('VAL2', '').replace('VAL3', '').replace('VAL4', '');
			} 
			if (hours_wed == undefined){
				hours_wed = hours_html.replace('DAY', '{{lang['opening_wed']}}').replace('NUM', '3').replace('VAL1', '').replace('VAL2', '').replace('VAL3', '').replace('VAL4', '');
			} 
			if (hours_thu == undefined){
				hours_thu = hours_html.replace('DAY', '{{lang['opening_thu']}}').replace('NUM', '4').replace('VAL1', '').replace('VAL2', '').replace('VAL3', '').replace('VAL4', '');
			} 
			if (hours_fri == undefined){
				hours_fri = hours_html.replace('DAY', '{{lang['opening_fri']}}').replace('NUM', '5').replace('VAL1', '').replace('VAL2', '').replace('VAL3', '').replace('VAL4', '');
			} 
			if (hours_sat == undefined){
				hours_sat = hours_html.replace('DAY', '{{lang['opening_sat']}}').replace('NUM', '6').replace('VAL1', '').replace('VAL2', '').replace('VAL3', '').replace('VAL4', '');
			} 
			if (hours_sun == undefined){
				hours_sun = hours_html.replace('DAY', '{{lang['opening_sun']}}').replace('NUM', '7').replace('VAL1', '').replace('VAL2', '').replace('VAL3', '').replace('VAL4', '');			
			} 
		
			$('.opening').append(hours_mon);
			$('.opening').append(hours_tue);
			$('.opening').append(hours_wed);
			$('.opening').append(hours_thu);
			$('.opening').append(hours_fri);
			$('.opening').append(hours_sat);
			$('.opening').append(hours_sun);
		}
		
		
		
		
		function addressAutocomplete(){
		
			var input2 = document.getElementById('rest-address');

			var autocomplete2 = new google.maps.places.Autocomplete(
					input2);

			var componentForm2 = {
				street_number: 'short_name',
				route: 'long_name',
				locality : 'long_name',
				administrative_area_level_2 : 'short_name',
				country : 'short_name',
			};
		
			google.maps.event.addListener(autocomplete2,
					'place_changed', function() {
						// Get the place details from the autocomplete object.
				var place = autocomplete2.getPlace();
			
				// Get each component of the address from the place details
				// and fill the corresponding field on the form.
				for (var i = 0; i < place.address_components.length; i++) {
					var addressType = place.address_components[i].types[0];
					if (componentForm2[addressType]) {
						var val = place.address_components[i][componentForm2[addressType]];
						document.getElementById(addressType).value = val;
					}
				}
			
				// save latitude and longitude
				if(place.geometry.location){
					/* alert(JSON.stringify(place.geometry.location)); */
					document.getElementById('lat').value = place.geometry.location.k;
					document.getElementById('lon').value = place.geometry.location.D;
				}
			});
		
		}
		
		function getCookie(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ')
					c = c.substring(1);
				if (c.indexOf(name) != -1)
					return c.substring(name.length, c.length);
			}
			return "";
		};
		
		var auth = getCookie('user');
		
		function savePlace(){
			
				var self = this;
				
				var name = $('#rest_name').val();
				var description_en = $('#rest_description_en').val();
				var description_it = $('#rest_description_it').val();
				var picture = $('#rest_picture').val();
				
				var other_pictures = [];
				$('#other-pictures').find('img').each(function(){
					var url = $(this).attr('src');
					other_pictures.push(url);
				});
				
				var street = $('#route').val() + " " + $('#street_number').val();
				street = street != " " ? street : undefined;
				var city = $('#locality').val();
				city = city != "" ? city : undefined;
				var province = $('#administrative_area_level_2').val();
				province = province != "" ? province : undefined;
				var country = $('#country').val();
				country = country != "" ? country : undefined;
				var latitude = $('#lat').val() != "" ? $('#lat').val() : undefined;
				var longitude = $('#lon').val() != "" ? $('#lon').val() : undefined;
				
				var phone = $('#rest_phone').val();
				var website = $('#rest_website').val();
				var email = $('#rest_email').val();
				
				var owner_email = undefined;
				{% if user.role == 'admin' %}
					owner_email = $('#owner_email').val();
				{% endif %}
				
				//get hours
				var hours = [];
				$('.hours-block').each(function(){
					var h = {
						'weekday': $(this).find('#rest_day').val(),
						'open1': $(this).find('#rest_opening_1').val(),
						'close1': $(this).find('#rest_opening_2').val(),
						'open2': $(this).find('#rest_opening_3').val(),
						'close2': $(this).find('#rest_opening_4').val(),
					};
					hours.push(h);
					
				});
				
				
				if(name == undefined || name == ''){
					// name is missing!!
					return 
				}
				
				var place = {
					'name': name,
					'description_en': description_en,
					'description_it': description_it,
					'picture': picture,
					'other_pictures': other_pictures,					
					'address' : {
						'street' : street,
						'city' : city,
						'province' : province,
						'country': country,
						'lat' : latitude,
						'lon': longitude
					},
					'phone' : phone,
					'website' : website,
					'email' : email,
					'hours': hours,
					'days_closed' : closed
				};
				
				var key = '{{place.key if not place.key is none}}';
				var url = '/api/place';
				var method = 'POST';
				if (key != undefined && key.length > 0 ){
					url += '/' + key;
					method = 'PUT';
				}
				
				$.ajax({
					type : method,
					url : url,
					data : JSON.stringify(place),
					success : function(place) {
						if( owner_email != undefined && owner_email != ''){
							$.ajax({
								type : 'POST',
								url : '/api/place/'+place.key+'/owner',
								data: JSON.stringify({email: owner_email}),
								success: function(place){
									if(window.console){
										console.log('owner saved with success');
									}
									window.location = '/restaurant?id=' + place.key
								},
								error: function(resp){
									if(window.console){
										console.log(resp);
									}
									if(resp.status == 403){
										show_error({{lang['unauthorized_error']|safe}});
									} else {
										show_error({{lang['owner_save_error']|safe}});
									}
								}
							});
						} else {
							window.location = '/restaurant?id=' + place.key
						}
						
						
					},
					error : function(resp) {
						
							if(window.console){
								console.log(resp);
							}
							if(resp.status == 403){
								show_error({{lang['unauthorized_error']|safe}});
							} else {
								show_error({{lang['place_save_error']|safe}});
							}
						
					},
					headers : {
						Authorization : auth
					}
				});
			
		}
		
		var userpic = "{{ user.picture|e }}";
		if(userpic != undefined && userpic.length > 0){	
			$('.user-picture').css('background-image', 'url(' + userpic + ')');
		}
		$('.left-menu').hide();
		var window_width = $('.rest').width();
		var count = 1;
		$('.left-menu.scrollable').enscroll({
		    showOnHover: false,
		    verticalScrolling: true,
			horizontalScrolling: false,
			zIndex: 100,
		    verticalTrackClass: 'track-white',
		    verticalHandleClass: 'handle-white'
		});
		$('.enscroll-track').css('position', 'fixed');
		$('.menu-button button').click(function(){
			if(count % 2 == 1){
				//odd time --> open left menu
				$('.left-menu').show();
				if(window_width > 600){
					$('.user-menu-small').hide();
				}
				count++;
			} else {
				//even time --> close left menu
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
				count++;
			}
			
		});
		window.addEventListener('mouseup', function(event){
			var box = document.getElementById('left-menu');
			var button = document.getElementById('menu-button');
			
			if (event.target != box && event.target != button && event.target.parentNode != box && event.target.parentNode != button){
				$('.left-menu').hide();
				// show user menu small if width larger than 600px
				if(window_width > 600){
					$('.user-menu-small').show();
				}
					count++;
			}
		});
		
		$('#back_dlist').click(function(){
			window.location = '/discount/list?rest_id={{place.key|e}}'
		});
		
		$('#change_rest').click(function(){
			window.location = '/owner/list';
		});
		
		$('#logout').click(function(){
			$.ajax({
				type : 'DELETE',
				url : '/api/user/login',
				success : function() {
					window.location = '/';
				},
				error : function(resp) {
					if(window.console){
						console.log(resp);
					}
					show_error({{lang['logout_error']|safe}});
				}
			});
		});
		
		$('.save').click(function(){
			savePlace();
		});
		
		

	});
</script>


{% endblock %}
