<div class="popup-background settings-popup">
	<div class="popup-foreground popup-scrollable">
		<button class="img-btn close" id="close-popup"></button>
		<h3><%= strings.title %></h3>
		<p><%= strings.message %></p>
		<div class="actions">
			<button class="img-btn red-button" id="cancel" "><%= strings.close %></button>
		</div>
		
	</div>
</div>